//http://cssarrowplease.com/
//http://sofish.de/2044
//http://css-tricks.com/snippets/css/css-triangle/
//http://jonrohan.me/guide/css/creating-triangles-in-css/
#angle {
  .normal(@size, @border: 1px solid #000, @backgroundColor: transparent) {
    display: block;
    .size(@size, @size);
    background-color: @backgroundColor;
    font-size: 0;
    border-left: @border;
    border-top: @border;
  }

  .up(@size, @border, @backgroundColor) {
    .normal(@size, @border, @backgroundColor);
    .rotate(45deg);
  }

  .right(@size, @border, @backgroundColor) {
    .normal(@size, @border, @backgroundColor);
    .rotate(135deg);
  }

  .bottom(@size, @border, @backgroundColor) {
    .normal(@size, @border, @backgroundColor);
    .rotate(225deg);
  }

  .left(@size, @border, @backgroundColor) {
    .normal(@size, @border, @backgroundColor);
    .rotate(-45deg);
  }

}

#arrow {
  // 1.414

  .normal() {
    .size(0, 0);
  }

  .up(@size, @color) {
    .normal();
    border-left: @size solid transparent;
    border-right: @size solid transparent;
    border-bottom: @size solid @color;
  }

  .right(@size, @color) {
    .normal();
    border-top: @size solid transparent;
    border-bottom: @size solid transparent;
    border-left: @size solid @color;
  }

  .bottom(@size, @color) {
    .normal();
    border-left: @size solid transparent;
    border-right: @size solid transparent;
    border-top: @size solid @color;
  }

  .left(@size, @color) {
    .normal();
    border-top: @size solid transparent;
    border-bottom: @size solid transparent;
    border-right: @size solid @color;
  }

  // right bottom
  .rb(@size, @color) {
    .normal();
    border-left: @size solid transparent;
    border-bottom: @size solid @color;
  }

  // left top
  .lt(@size, @color) {
    .normal();
    border-right: @size solid transparent;
    border-top: @size solid @color;
  }
}
