@charset "UTF-8";
/* by Handaoliang */


#home { background-color:#FAFAFA; }

#home .home_banner{
    text-align: center;
    /*display: block;*/
    /*min-width: 1160px;*/
    width:100%;
    min-height: 528px;
    /*height: 550px;*/
    /*overflow: hidden;*/
    /*background:#E6E6E6 url(../images/index_bg.jpg) repeat-y center 0;*/
}
#home .home_banner #x_code_img {
    /*width: 470px;*/
    /*height: 465px;*/
    margin: 0 auto;
    /*background: url(../images/x-sign.png) no-repeat;*/
    position: absolute;
    left: 50%;
    /*margin-left: -235px;*/
    min-height: 450px;
    /*max-height: 704px;*/
  dipslay:table-cell;vertical-align:middle
}

#home .home_banner #x_code_img img {
  min-width: 450px;
  min-height: 450px;
  max-width: 600px;
  max-height: 600px;
  display: block;
}
#home .home_banner #x_code_img .xci-l {
  width: 44%;
  height: 88%;
  position: absolute;
  left: 6%;
  top: 6%;
  /*background: #555;*/
}

#home .home_banner #x_code_img .xci-r {
  width: 44%;
  height: 88%;
  position: absolute;
  right: 6%;
  top: 6%;
  /*background: #555;*/
}
.circle-o {
  display: none;
  opacity: 0;
  position: absolute;
  width: 321px;
  height: 321px;
  border-radius: 160.5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  /*background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d5e8f2), to(#1175A5));*/
  background-image: -webkit-linear-gradient(280deg, #d5e8f2, #1175A5);
  background-image:    -moz-linear-gradient(280deg, #d5e8f2, #1175A5);
  background-image:     -ms-linear-gradient(280deg, #d5e8f2, #1175A5);
  background-image:      -o-linear-gradient(280deg, #d5e8f2, #1175A5);
}
/*
.circle-o.cx {
  left: -90%;
  top: 4%;
}

.circle-o.cexfee {
  right: -90%;
  bottom: 4%;
}
*/

.circle-i {
  margin: 5.5px auto;
  text-align: center;
  line-height: 36px;
  width: 310px;
  height: 310px;
  border-radius: 155px;
  background-color: #fafafa;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafafa), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #fafafa, #e6e6e6);
  background-image:    -moz-linear-gradient(top, #fafafa, #e6e6e6);
  background-image:     -ms-linear-gradient(top, #fafafa, #e6e6e6);
  background-image:      -o-linear-gradient(top, #fafafa, #e6e6e6);
}
.circle-i h3 {
  font-size: 30px;
  font-weight: 200;
  color: #1175A5;
  padding-top: 30px;
}
.circle-i h3 span {
  font-size: 18px;
  color: #7f7f7f;
}
.circle-i h3 span em {
  font-family: "Times New Roman";
}
.explain {
  font-size: 30px;
  font-weight: 200;
  color: #4c4c4c;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 36px;
}
.circle-o.cexfee .explain {
  padding-bottom: 10px;
}
.circle-i .additional {
  font-weight: normal;
  font-size: 18px;
  color: #4c4c4c;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 24px;
  color: #7f7f7f;
}
.circle-i .additional .x-blue {
  color: #1175A5;
}
#home .home_bottom {
  width: 100%;
  height: 220px;
  margin: auto;
  padding-top:50px;
  background-color: #E6E6E6;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E6E6E6), to(#FAFAFA));
  background-image: -webkit-linear-gradient(top, #E6E6E6, #FAFAFA);
  background-image:    -moz-linear-gradient(top, #E6E6E6, #FAFAFA);
  background-image:     -ms-linear-gradient(top, #E6E6E6, #FAFAFA);
  background-image:      -o-linear-gradient(top, #E6E6E6, #FAFAFA);
}
#home .home_bottom .gather_btn{ clear:both; width:220px; height:60px; margin:auto; }
#home .home_bottom .gather_btn a {
  font-size: 34px;
  text-align: center;
  display: block;
  width: 220px;
  height: 60px;
  line-height: 60px;
  font-weight: 300;
  color: #050505;
  cursor:pointer;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
  box-shadow: opx 2px 6px rgba(0, 0, 0, 0.5);
  text-shadow: 0 1px 1px rgba(250, 250, 250, 0.75);
  background: transparent;
  border-radius: 5px;

  background-color: #D5E8F2;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D5E8F2), to(#1175A5));
  background-image: -webkit-linear-gradient(top, #D5E8F2, #1175A5);
  background-image:    -moz-linear-gradient(top, #D5E8F2, #1175A5);
  background-image:     -ms-linear-gradient(top, #D5E8F2, #1175A5);
  background-image:      -o-linear-gradient(top, #D5E8F2, #1175A5);
}
#home .home_bottom .gather_btn a:hover {
  text-decoration: none;
}
#home .home_bottom .gather_btn a span {
  color: #1175A5;
}

#home .home_bottom .home_bottom_btn{
    clear:both; width:695px; height:36px; margin:auto; margin-top:50px;
    background:url(../_images/index_icon_a.png) no-repeat 0 0;
}


@-o-keyframes bounceIn {
  0% {
    opacity: 0;
    -o-transform: scale(.3);
  }

  50% {
    opacity: 1;
    -o-transform: scale(1.05);
  }

  70% {
    -o-transform: scale(.9);
  }

  100% {
    -o-transform: scale(1);
  }

}
@-ms-keyframes bounceIn {
  0% {
    opacity: 0;
    -ms-transform: scale(.3);
  }

  50% {
    opacity: 1;
    -ms-transform: scale(1.05);
  }

  70% {
    -ms-transform: scale(.9);
  }

  100% {
    -ms-transform: scale(1);
  }

}
@-moz-keyframes bounceIn {
  0% {
    opacity: 0;
    -moz-transform: scale(.3);
  }

  50% {
    opacity: 1;
    -moz-transform: scale(1.05);
  }

  70% {
    -moz-transform: scale(.9);
  }

  100% {
    -moz-transform: scale(1);
  }

  }

  @-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(.9);
  }

  100% {
    -webkit-transform: scale(1);
  }

  }

  @keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(.3);
  }

  50% {
    opacity: 1;
    transform: scale(1.05);
  }

  70% {
    transform: scale(.9);
  }

  100% {
    transform: scale(1);
  }
  }

.bounceIn {
  display: block;
  opacity: 1;
  -webkit-animation: bounceIn 0.2s;
  -moz-animation: bounceIn 0.2s;
  -ms-animation: bounceIn 0.2s;
  -o-animation: bounceIn 0.2s;
}

/*
.xci-l:hover .circle-o.cx,
.xci-r:hover .circle-o.cexfee {
  -webkit-animation: bounceIn 0.2s;
  -moz-animation: bounceIn 0.2s;
  -ms-animation: bounceIn 0.2s;
  -o-animation: bounceIn 0.2s;
  display: block;
  opacity: 1;
}
*/

.x-sign {
  /*border: 1px solid #555;*/
}
