@charset "UTF-8";
/* code by handaoliang */

#gather_place_selector {
    display: block; position: absolute;
    border: 1px #CCCCCC solid;
    background: #EEEEEE; overflow:hidden;
    margin-left: 210px; margin-top:25px; background-color:#FFF;
    padding:5px 5px 0 5px; font-size: 14px; line-height: 20px; z-index:10;
}
#x_place_bubble #gather_place_selector{
    margin-left:5px;
}

#gather_place_selector ul {
    clear:both; color:#000;
    padding:5px 10px;
    border:#BBB 1px dotted;
    margin-bottom:5px;
    background-color:#EEEEEE;
}
#gather_place_selector ul:hover {
    color:#FFFFFF; background:#177096; cursor:pointer;
}

#gather_place_selector .ulhover {
    color:#FFFFFF; background:#CCC;;
}
#gather_place_selector ul li {
    padding-bottom:0px;
}
#gather_place_selector ul li.place_addr {
    font-size:9pt;
}
