@charset "UTF-8";
/* by Leask */


#x_view {
    min-height: 740px;
}

#x_menu_bar {
    position: relative;
    height: 30px;
    padding-top: 10px;
    /*padding-bottom: 40px;*/ /* 有背景图时空40，反之则没有 */
}

#x_menu_bar .lock_icon {
    float: right;
    background: url("/static/images/icons.png") no-repeat left -250px;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    cursor: pointer;
}

#x_menu_bar .edit_icon {
    float: right;
    background: url("/static/images/icons.png") no-repeat left -285px;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    cursor: pointer;
}

#x_menu_bar .lock_icon_desc, #x_menu_bar .edit_icon_desc {
    right: 10px;
    top: 40px;
    width: 220px;
    padding: 10px;
    z-index: 10;
    background: #f4fcfe;
    border: #90c3ce 1px solid;
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    background-color: #FFF;
}

#edit_x_bar {
    width: 880px;
    height: 30px;
    padding-top: 10px;
    background: #C4E246;
    margin: 0 auto 10px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#F4FCD1), to(#C4E246));
    background: -moz-linear-gradient(#F4FCD1, #C4E246);
    background: -o-linear-gradient(#F4FCD1, #C4E246);
    background: linear-gradient(#F4FCD1, #C4E246);
    -webkit-border-radius: 4px;
    -moz-border-radius:4px;
    border-radius: 4px;
}

#edit_x_bar p {
    position: relative;
    float: left;
}

/* removing */
#edit_x_bar #edit_cross_submit_loading {
    position: absolute;
    width: 16px;
    height: 16px;
    margin-left: 835px;
    margin-top: 4px;
    z-index: 1;
    background: url(/static/images/loading_a.gif) no-repeat 0 0;
}
/*******/

#edit_x_bar p.titles {
    padding-left: 40px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
}

#edit_x_bar p.error_msg {
    padding-left: 10px;
    color: #FF0000;
    padding-top: 10px;
    line-height: 0px;
}

#edit_x_bar p.done_btn {
    padding-right: 40px;
    float: right;
}

#edit_x_bar p.done_btn a {
    display: block;
    width: 50px;
    height: 18px;
    background: #EEEEEE;
    text-decoration: none;
    text-align: center;
    padding-top: 3px;
    cursor: pointer;
    border: 1px solid #999;
    color: #666666;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#edit_x_bar p.done_btn a:hover {
    color: #666666;
}

#edit_x_bar p.revert {
    padding-right: 10px;
    float: right;
    padding-top: 12px;
    line-height: 0px;
}

#edit_x_bar p.revert a {
    color: #666666;
    text-decoration: underline;
}

#x_title_edit {
    line-height: 70px;
    font-size: 64px;
    border: 1px #ccc dashed;
}

#x_desc_edit {
    border: 1px #ccc dashed;
    height: 120px;
    resize: none;
}

.x_editable {
    cursor: pointer;
}

.x_editable:hover {
    background-color: #D9E8EB;
}

#x_desc.x_editable {
    min-height: 50px;
}

#x_time_bubble {
    width: 310px;
    height: 220px;
    margin-left: 210px;
    margin-top: 125px;
}

#x_time_bubble:before {
    top: 29px;
    left: 330px;
}

#x_time_bubble:after {
    top:29px; left:330px;
}

#x_time_bubble .x_dt_input {
    width: 310px;
    height: 25px;
    background: url("/static/images/icons.png") no-repeat scroll right -535px transparent;
}

#x_time_bubble .x_dt_msg {
    width: 310px;
    height: 20px;
    color: #FF0000;
}

#x_time_bubble #x_datetime_original {
    height: 18px;
    background-color: #FAFAFA;
    padding: 0;
    border: 1px solid #999;
    width: 250px;
}

#x_place_bubble {
    width: 310px;
    height: 220px;
    margin-left: 205px;
    margin-top: 210px;
}

#x_place_bubble:before {
    top: 29px;
    left: 330px;
}

#x_place_bubble:after {
    top: 29px;
    left: 330px;
}

#x_place_bubble .input_box {
    width: 310px;
    height: 220px;
}

#x_place_bubble .input_box textarea {
    position: relative;
    float: left;
    width: 280px;
    height: 218px;
    border:1px solid #CCCCCC;
}

#x_place_bubble .input_box span {
    position: relative;
    float: right;
    display: block;
    width: 20px;
    height: 20px;
    background: url("/static/images/icons.png") no-repeat scroll right -570px transparent;
}

#xExfeeArea .exfeegadget_addbtn {
    left: 207px;
}
