[submodule "instagram-php-oauth"]
    path = third_party_libraries/instagram-php-oauth
    url  = https://github.com/michaelhelmick/instagram-php-oauth.git
[submodule "tmhOAuth"]
    path = third_party_libraries/tmhOAuth
    url  = https://github.com/themattharris/tmhOAuth.git
[submodule "twitteroauth"]
    path = third_party_libraries/twitteroauth
    url  = https://github.com/abraham/twitteroauth.git
[submodule "libimage"]
    path = third_party_libraries/libimage
    url  = https://gist.github.com/6034990.git
[submodule "httpkit"]
    path = third_party_libraries/httpkit
    url  = https://gist.github.com/6035051.git
[submodule "ics.generator"]
    path = third_party_libraries/ics.generator
    url  = https://github.com/Leask/ics.generator.git
