[submodule "instagram-php-oauth"]
    path = third_party_libraries/instagram-php-oauth
    url  = https://github.com/michaelhelmick/instagram-php-oauth.git
[submodule "tmhOAuth"]
    path = third_party_libraries/tmhOAuth
    url  = https://github.com/themattharris/tmhOAuth.git
[submodule "twitteroauth"]
    path = third_party_libraries/twitteroauth
    url  = https://github.com/abraham/twitteroauth.git
[submodule "libimage"]
    path = third_party_libraries/libimage
    url  = https://github.com/Leask/libimage.git
[submodule "httpkit"]
    path = third_party_libraries/httpkit
    url  = https://github.com/Leask/httpkit.git
[submodule "ics.generator"]
    path = third_party_libraries/ics.generator
    url  = https://github.com/Leask/ics.generator.git
[submodule "libtime"]
    path = third_party_libraries/libtime
    url  = https://github.com/Leask/libtime.git
[submodule "build"]
    path = third_party_libraries/build
    url  = https://gist.github.com/6037948.git
[submodule "libcjk"]
    path = third_party_libraries/libcjk
    url  = https://gist.github.com/4153061.git
