<?php
// runtime env
define('STATIC_CODE_TIMESTAMP', 1334903539); // date +%s

// debug
define('DEBUG',    false);
define('JS_DEBUG', false);

// database
define('DBHOST',   '192.168.1.89');
define('DBUSER',   'root');
define('DBPASSWD', '135qetadg');
define('DBNAME',   'exfe_dev');

// exfee quota
define('EXFEE_QUOTA_SOFT_LIMIT', 12);
define('EXFEE_QUOTA_HARD_LIMIT', 20);

// domian
define('ROOT_DOMAIN', '.exfe.com');
define('SITE_URL',    'https://exfe.com');
define('IMG_URL',     'http://img.exfe.com');
define('API_URL',     'https://www.exfe.com');
define('IOM_URL',     'http://127.0.0.1:8080');
define('STREAMING_API_URL', 'http://ec2-54-251-199-79.ap-southeast-1.compute.amazonaws.com:23333');

// upload
define("IMG_FOLDER", "eimgs");

// app
define('CLIENT_IOS_VERSION',         '2.0');
define('CLIENT_IOS_DESCRIPTION',     '');
define('CLIENT_IOS_URL',             'https://itunes.apple.com/us/app/exfe/id514026604');
define('CLIENT_ANDROID_VERSION',     '');
define('CLIENT_ANDROID_DESCRIPTION', '');
define('CLIENT_ANDROID_URL',         '');
// shuady.cn => cn, exfe.com => zz
define('APP_SCHEME',                 'exfe://cn/');

// proxy
define('PROXY_TYPE', 'SOCKS');
define('PROXY_ADDR', '127.0.0.1');
define('PROXY_PORT', '8964');

// cache
define('REDIS_SERVER_ADDRESS', '127.0.0.1');
define('REDIS_SERVER_PORT',    '6379');
define('REDIS_CACHE_ADDRESS',  '127.0.0.1');
define('REDIS_CACHE_PORT',     '6380');

// bus
define('EXFE_AUTH_SERVER',  'http://127.0.0.1:23333');
define('EXFE_GOBUS_SERVER', 'http://127.0.0.1:23334');

// i18n
define('INTL_RESOURCES', '/exfe/exfeweb/intl');

// SALT
define('EXFE_PASSWORD_SALT', 'f(#)u&^c!k*G@F%W81_&0=ro-ifl+c');

// oauth - twitter
define('TWITTER_CONSUMER_KEY',     'oGzqJNr6loHEsZOsIHTQ7w');
define('TWITTER_CONSUMER_SECRET',  '1q54ZzPppYc4kMWZEQi5dHKtSVVUFWPMLLQWeTOu90');
define('TWITTER_OAUTH_CALLBACK',   SITE_URL . '/OAuth/twitterCallBack');
define('TWITTER_API_URL',          'http://api.twitter.com/1');
define('TWITTER_OFFICE_ACCOUNT',   'exfe');

// oauth - facebook
define('FACEBOOK_APP_ID',          '176789085794356');
define('FACEBOOK_SECRET_KEY',      '969b8267f7ca3eaff4725b36e8772f3a');
define('FACEBOOK_OAUTH_CALLBACK',  SITE_URL . '/OAuth/facebookCallBack');

// oauth - dropbox
define('DROPBOX_APP_KEY',          'cvgsns0uyluu09j');
define('DROPBOX_APP_SECRET',       'c4lcawkhcdbjgzy');
define('DROPBOX_OAUTH_CALLBACK',   SITE_URL . '/OAuth/dropboxCallBack');

// oauth - instagram
define('INSTAGRAM_CLIENT_ID',      '4c5df52d89604c63bbfec3a35eb4e551');
define('INSTAGRAM_CLIENT_SECRET',  'd68594e762a94d9bb7749eb9a9244a7e');
define('INSTAGRAM_REDIRECT_URI',   SITE_URL . '/OAuth/InstagramCallBack');

// oauth - flickr
define('FLICKR_KEY',               '4d4b6607c002f1afd54f98e18491104e');
define('FLICKR_SECRET',            '4ece1ec373dfaab4');
define('FLICKR_OAUTH_CALLBACK',    SITE_URL . '/OAuth/flickrCallBack');

// oauth - google
define('GOOGLE_MAP_KEY',           'AIzaSyAgYKtU2lpDg_HYH_rP2MIna0DFyIoEGMs');
define('GOOGLE_CLIENT_ID',         '968124746422.apps.googleusercontent.com');
define('GOOGLE_CLIENT_SECRET',     'Z8POTJnYqNOVciDHNmjBsxLs');
define('GOOGLE_REDIRECT_URIS',     SITE_URL . '/OAuth/googleOAuthCallback');

// oauth - foursquare
define('FOURSQUARE_CLIENT_KEY',    'TGQU0UKUHS3H5WYG0KAWPRU2FY0RYVYSD3JJPXJTCKXTGG3K');
define('FOURSQUARE_CLIENT_SECRET', 'DEOLYIPX0J1EWCSCY03CMO3DH52H54KKA2HPSXHTATWAXWDJ');
