<?php
define("STATIC_CODE_TIMESTAMP", 1334903539); // date +%s

define("DEBUG", false);

$dbhost="127.0.0.1";
$dbuser="root";
$dbpasswd="";
$dbname="exfe_dev";

define("EXFEE_QUOTA_SOFT_LIMIT", 12);
define("EXFEE_QUOTA_HARD_LIMIT", 20);

$site_url="http://local.exfe.com";
define("SITE_URL", "http://local.exfe.com");

$img_url="http://images.exfe.com";
define("IMG_URL", "http://images.exfe.com");

define("API_URL", "http://api.local.exfe.com");

define("IOM_URL", "http://192.168.1.113:8080");

define("DEFAULT_AVATAR_URL", "http://images.exfe.com/web/80_80_default.png");

define("IMG_FOLDER", "eimgs");

$resque_server="127.0.0.1:6379";
define("RESQUE_SERVER", "127.0.0.1:6379");
define("REDIS_SERVER_ADDRESS", "127.0.0.1");
define("REDIS_SERVER_PORT", "6379");

define("EXFE_AUTH_SERVER", "http://127.0.0.1:23333");

define('COOKIES_DOMAIN', '.exfe.com');
define('INTL_RESOURCES', '/Users/huoju/www/exfe/intl');

define("EmailPost_Key","589895idklf873iu3D1kkjdkja");
define("EXFE_PUB_KEY","h_#%2)a^n!@7d@a0*o!l&i)a%n#@g&*2");
define("EXFE_PASSWORD_SALT","f(#)u&^c!k*G@F%W81_&0=ro-ifl+c");

/*********OAuth config***********/
define('TWITTER_CONSUMER_KEY', 'nCjPcQsjbQAh6NavknHHw');
define('TWITTER_CONSUMER_SECRET', 'cSgxIjIh92uFO5C85BWoxOGawkjGCoOf1HfOVzT8');
define('TWITTER_OAUTH_CALLBACK', SITE_URL.'/OAuth/twitterCallBack');
define('TWITTER_API_URL', 'http://api.twitter.com/1');
define('TWITTER_OFFICE_ACCOUNT', 'exfe_com');

define('FACEBOOK_APP_ID', '210626042352165');
define('FACEBOOK_SECRET_KEY', 'd6aa2f4e5f19dfbbd933304033f28db2');
define('FACEBOOK_OAUTH_CALLBACK', SITE_URL.'/OAuth/facebookCallBack');

define('GOOGLE_CLIENT_ID', '968124746422.apps.googleusercontent.com');
define('GOOGLE_CLIENT_SECRET', 'Z8POTJnYqNOVciDHNmjBsxLs');
define('GOOGLE_REDIRECT_URIS', SITE_URL.'/OAuth/googleOAuthCallback');

define('FOURSQUARE_CLIENT_KEY', 'TGQU0UKUHS3H5WYG0KAWPRU2FY0RYVYSD3JJPXJTCKXTGG3K');
define('FOURSQUARE_CLIENT_SECRET', 'DEOLYIPX0J1EWCSCY03CMO3DH52H54KKA2HPSXHTATWAXWDJ');
