<?php
$dbhost="localhost";
$dbuser="root";
$dbpasswd="";
$dbname="exfe_dev";

$site_url="http://local.exfe.com";

define("SITE_URL", "http://local.exfe.com");

$img_url="http://localimg.exfe.com";
define("IMG_URL", "http://localimg.exfe.com");

define("RESQUE_SERVER", "127.0.0.1:6379");
