<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="Author" content="EXFE Inc." />
    <meta name="viewport" content="width=1024" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7, IE=9" />
    <link id="global-stylesheet" rel="stylesheet" href="/static/css/global.style.css" type="text/css" />
    <title>EXFE.COM</title>
    <meta name="robots" content="index, follow" />
    <meta name="Keywords" content="EXFE,Gather" />
    <meta name="Description" content="EXFE.COM website" />
    <link rel="home" href="http://www.exfe.com/" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="" />
    <link rel="index" href="http://www.exfe.com/sitemap/" />
    <script type="text/javascript" src="/static/js/libs/jquery-1.7.js"></script>
    <script type="text/javascript" src="/static/js/libs/activity-indicator.js"></script>
    <script type="text/javascript" src="/static/js/comm/ExfeUtil.js"></script>
    <script type="text/javascript" src="/static/js/comm/func.js"></script>

    <script type="text/javascript" src="/static/js/user/UserIdentification.js"></script>
    <script type="text/javascript" language="javascript" src="/static/js/exlibs/ExDialog.js"></script>
    <script type="text/javascript" src="/static/js/user/UserStatus.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />

    <!--[if IE 6]>
    <script type="text/javascript" src="/static/js/libs/PNG.js"></script>
    <script type="text/javascript">
        DD_belatedPNG.fix('#header .logo,#header .mygear');
    </script>
    <![endif]-->

    </head>
<body id="error_404_page">
    <div id="global_header">
        <p class="logo"><a href="/"><img src="/static/images/exfe_logo.jpg" alt="EXFE" title="EXFE.COM" /></a></p>
    </div>
    <div class="img_404"></div>
    <div id="footerBao"></div>
</body>
</html>
