<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>login</title>
<script type="text/javascript" src="style/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="style/js.js"></script>
<link href="style.css" rel="stylesheet" type="text/css" />

<!--[if IE 6]>
<script type="text/javascript" src="style/PNG.js"></script>
<script type="text/javascript">
DD_belatedPNG.fix('#header .logo,#header .mygear');
</script>
<![endif]-->
</head>
<body>
<div id="headerBao">
<div id="header">
<div class="hl"></div>
<div class="hc"><a href="/"  class="logo" >LOGO</a></div>
<div class="hr"><em class="light"></em><div class="name"><span>virushuo</span>
<div class="mygear" id="mygear" >
<a class="nameh">virushuo</a>
<div class="message">
<div class="na">
<p class="h">
<span>271</span>
exfes attended
</p>
<img src="images/img.jpg">
</div>
<p class="info">
<span>Upcoming:</span><br />
 <em>Now</em>  Dinner in SF<br/>
 <em>24hr</em>  Bay Area VC TALK<br/>
Mary’s Birthday Party
</p>
<p class="creatbtn"><a href="">＋Creat Event</a></p>
</div>
<div class="mygearfoot"><a href="" class="l">Setting</a><a href="" class="r">Sign out</a></div>
</div><!--#mygear-->
</div><!--.hr-->
</div><!--/#header-->
</div><!--/#headerBao-->

<div class="centerbg">
<div class="loginBao">
<div class="login">
<h3>Identity email <a href="">steve@0d0f.com</a> is verified.</h3>
<form>
<ul>
<li>Set password to login:</li>
<li><label>Password：</label><input type="password" class="inputText" name="username" ></li>
<li><label>Re-type：</label><input type="text"  name="passwd"class="inputText"/></li>
<li><p><input type="submit" value="Done" class="sub"/></p></li>
</ul>
</form>
</div>
</div>
<img alt="schatten" src="images/schatten.png" style="margin-left:220px; position:relative; top:-45px;">

</div><!--centerbg-->

<div id="footerBao">

</div><!--/#footerBao-->
<div id="oall"></div>
<div id="fBox" class="loginMask">
<h5><a href="/" onclick="cancel()">关闭</a><em class="tl"></em></h5>
<div class="overFramel">
<div class="overFramelogin">
<div class="login">
<h4>Welcome to <span>exfe</span> !</h4>
<p class="t">Set password to keep track of<br />
RSVP status and conversations.</o>
<form>
<ul>
<li><label>Identity:</label><input type="text" class="inputText" name="identity" ><em class="ic1"></em></li>
<li><label>Password:</label><input type="password"  name="passwd"class="inputText"/><em class="ic2"></em></li>
<li><label>Re-type:</label><input type="text"  name="retype"class="inputText"/><em class="ic3"></em></li>
<li><label>Names:</label><input type="text"  name="names"class="inputText"/></li>
<li><p><input type="submit" value="Done" class="sub"/><p></li>
</ul>
</form>
</div>
</div>
</div>
<b class="rbottom"><b class="r3"></b><b class="r2"></b><b class="r1"></b></b>
</div>
</body>
</html>
