@charset "UTF-8";
/* by Leask */

#error_404_page {
    background-color:#F2F2F2;
}
#error_404_page .img_404{
    display:block; position:relative;
    width:600px; height:600px; overflow:hidden;
    margin:auto; margin-top:50px;
    background:url(../images/404.png) no-repeat 0 0;
}
#error_404_page .img_404 .error_info{
    display:block; position:relative; text-align:center;
    width:600px; height:50px; margin-top:90px; font-size:30pt;
    font:bold 30pt/30pt Verdana; color:#bfbfbf;
}
