@charset "UTF-8";
/* profile style by Leask */


/* @todo removing {
.Conversation #post_submit{background:url("/static/images/enter.png") no-repeat scroll right bottom; width:25px; height:25px; border:none; float: right; z-index:2; position: absolute; margin:15px 0 0 434px; }
} */

#gather_form .exfeegadget_avatararea > ol > li, #xExfeeArea .exfeegadget_avatararea > ol > li {
    padding: 0;
    width: 60px;
    height: 60px;
    float: left;
    clear: none;
    position: relative;
    overflow: visible;
}

.exfee_avatarblock {
    padding: 5px;
    width: 50px;
    height: 50px;
    transition: all 100ms;
    -webkit-transition: all 100ms;
    -moz-transition: all 100ms;
    -o-transition: all 100ms;
}

.exfee_avatarblock:hover {
    padding: 0;
    width: 60px;
    height: 60px;   
}

.exfeegadget_avatararea .exfee_rsvpblock {
    position: absolute;
    bottom: 0px;
    right: -3px;
}

.exfee_baseinfo {
    display: none;
    position: absolute;
    width: auto;
    height: auto;
    background: #E0EDEF;
    border: 1px #0591AC solid;
    z-index: 10;
    padding: 5px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
}

.exfee_baseinfo span {
    white-space: nowrap;
    display: block;
    color: #333333;
}

.exfee_baseinfo_name {
    font-size: 18px;
    line-height: 24px;
}

.exfee_baseinfo_identity {
    font-size: 14px;
    line-height: 20px;
}

.exfeegadget_inputarea {
    height: 24px;
}

.exfeegadget_inputbox {
    border: 1px #CCCCCC solid;
    height: 24px;
}

.exfee_avatar {
    width: 100%;
    height: 100%;
}

.exfeegadget_autocomplete {
    position: relative;
    z-index: 10;
    border: 1px #CCCCCC solid;
    background: #EEEEEE;
    display: none;
    overflow-x: hidden;
    overflow-y: scroll;
}

#gather_form .autocomplete_item {
    padding-bottom: 0;
    margin: 3px;
    padding: 3px;
    border: 1px transparent dashed;
    cursor: pointer;
}

#gather_form .autocomplete_item.autocomplete_selected {
    border: 1px #CCCCCC dashed;
    background: #E0EDEF;
}

.autocomplete_item .exfee_avatar {
    width: 40px;
    height: 40px;
    float: left;
}

.exfee_info {
    float: left;
    margin-left: 10px;
}

.exfeegadget_autocomplete .exfee_name, .exfeegadget_autocomplete .exfee_identity {
    width: 190px;
    overflow: hidden;
    float: left;
    clear: both;
}

.exfee_name, .exfee_identity {
    color: #333333;
}

.exfee_name {
    font-size: 14px;
    line-height: 20px;
}

.exfee_identity {
    font-size: 14px;
    line-height: 20px;
    font-style: italic;
}

.exfeegadget_listarea {
    padding-top: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#gather_form .exfeegadget_listarea > ol > li {
    height: 30px;
    padding-bottom: 0;
}

.exfee_rsvpblock {
    float: left;
    width: 20px;
    height: 20px;
    background: url("/static/images/icons.png");
}

.exfee_rsvp_noresponse {
    background-position: left -123px;
}

.exfee_rsvp_accepted {    
    background-position: -1px -81px;
}

.exfee_rsvp_declined {
    background-position: left -165px;
}

.exfee_rsvp_interested {
    background-position: left -207px;
}

.exfee_baseblock {
    width: 275px;
    float: left;
    overflow: hidden;
}

.exfee_extrablock {
    width: 85px;
    float: right;
}

#gather_form .exfeegadget_listarea > ol > li .exfee_avatar {
    float: right;
    width: 20px;
    height: 20px;
}

.exfeegadget_listarea .exfee_name {
    margin-right: 10px;
}

#gather_form .exfeegadget_infoarea .exfeegadget_info {
    width: 130px;
    height: 42px;
    font-size: 14px;
    line-height: 16px;
    color: #666666;
    position: relative;
}

.exfeegadget_num_accepted {
    font-size: 36px;
    line-height: 42px;
    color: #0591AC;
    display: block;
    float: left;
}

.exfeegadget_num_of {
    display: block;
    height: 16px;
    position: relative;
    left: 5px;
    top: 5px;
}

.exfeegadget_num_confirmed {
    display: block;
    height: 16px;
    position: relative;
    left: 5px;
    top: 5px;
}

.exfeegadget_listarea {
    display: none;
}
