@charset "UTF-8";
/* by Leask */

#xExfeeArea {
    margin-top: 40px;
}

#xExfeeArea:hover .exfeegadget_num_of {
    visibility: visible;
}

#xExfeeArea:hover .exfeegadget_avatararea > ol > li.last {
    visibility: visible;
}


#gather_form .exfeegadget_avatararea > ol > li, #xExfeeArea .exfeegadget_avatararea > ol > li {
    padding: 0;
    width: 60px;
    height: 60px;
    float: left;
    clear: none;
    position: relative;
    overflow: visible;
}

#xExfeeArea .exfeegadget_avatararea > ol > li.last {
    visibility: hidden;
    width: 16px;
    margin-left: 5px;
}

.exfeegadget_autocomplete > ol > li:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.exfee_avatarblock {
    padding: 5px;
    width: 50px;
    height: 50px;
 /* transition: all 100ms;
    -webkit-transition: all 100ms;
    -moz-transition: all 100ms;
    -o-transition: all 100ms; */
    -moz-user-select: none;
    user-select: none;
}

/*
.exfee_avatarblock:hover {
    padding: 0;
    width: 60px;
    height: 60px;
}
*/

.exfee_avatarblock .exfee_hostmark {
    position: absolute;
    width: 10px;
    height: 10px;
    right: 5px;
    background: #1175A5;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    color: #EAEAEA;
    text-align: center;
    vertical-align: middle;
}

.exfee_extrainfo .exfee_hostmark {
    position: absolute;
    width: 23px;
    height: 14px;
    left: 45px;
    background: #0591AC;
    font-size: 10px;
    line-height: 12px;
    color: #E6E6E6;
    z-index: 2;
}

.exfeegadget_avatararea .exfee_rsvpblock {
    position: absolute;
    bottom: 0px;
    right: -3px;
}

.floating {
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
}

.exfee_baseinfo {
    border-radius: 5px;
    display: none;
    position: absolute;
    width: auto;
    height: auto;
    background: #E6F0F2;
    border: 1px solid #13A2B9;
    z-index: 7;
    padding: 5px;
    margin-left: 5px;
}

.exfee_baseinfo span {
    white-space: nowrap;
    display: block;
    color: #424242;
}

.exfee_baseinfo_name {
    font-size: 18px;
    line-height: 24px;
}

.exfee_baseinfo_identity {
    font-size: 14px;
    line-height: 20px;
}

.exfee_extrainfo {
    display: none;
    left: 4px;
    top: 4px;
    width: 215px;
    position: absolute;
    border: 1px #E6E6E6 solid;
    z-index: 8;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #ebebeb;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(235, 235, 235)), to(rgb(250, 250, 250)));
    background-image: -webkit-linear-gradient(top, rgb(235, 235, 235), rgb(250, 250, 250));
    background-image: -moz-linear-gradient(top, rgb(235, 235, 235), rgb(250, 250, 250));
    background-image: -o-linear-gradient(top, rgb(235, 235, 235), rgb(250, 250, 250));
    background-image: -ms-linear-gradient(top, rgb(235, 235, 235), rgb(250, 250, 250));
    background-image: linear-gradient(top, rgb(235, 235, 235), rgb(250, 250, 250));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ebebeb', EndColorStr='#fafafa');
}

.exfee_extrainfo .exfee_avatar {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 4px;
}

.exfee_extrainfo_avatar_area {
    width: 68px;
    height: 68px;
    position: relative;
    left: -9px;
    top: -9px;
    background-color: #929292;
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgb(146, 146, 146)), to(rgb(235, 235, 235)));
    background-image: -webkit-linear-gradient(left top, rgb(146, 146, 146), rgb(235, 235, 235));
    background-image: -moz-linear-gradient(left top, rgb(146, 146, 146), rgb(235, 235, 235));
    background-image: -o-linear-gradient(left top, rgb(146, 146, 146), rgb(235, 235, 235));
    background-image: -ms-linear-gradient(left top, rgb(146, 146, 146), rgb(235, 235, 235));
    background-image: linear-gradient(left top, rgb(146, 146, 146), rgb(235, 235, 235));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#929292', EndColorStr='#ebebeb');
}

.exfee_avatar_mask {
    position: relative;
    top: -30px;
    left: 43px;
}

#gather_form .exfee_extrainfo .exfee_extrainfo_name_area, #xExfeeArea .exfee_extrainfo .exfee_extrainfo_name_area {
    position: absolute;
    width: 135px;
    height: 50px;
    left: 69px;
    top: 9px;
    font-size: 18px;
    color: #333333;
    line-height: 24px;
}

#gather_form .exfee_extrainfo .exfee_extrainfo_rsvp_area, #xExfeeArea .exfee_extrainfo .exfee_extrainfo_rsvp_area {
    clear: both;
    height: 24px;
    color: #0591AC;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.exfee_main_identity_remove {
    background: transparent;
    position: absolute;
    float: right;
    right: 8px;
    color: red;
    font-size: 14px;
    line-height: 16px;
}

.exfee_main_identity_remove.ready {
    width: 75px;
    height: 20px;
    color: #333333;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #ffeceb;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 236, 235)), to(rgb(217, 73, 65)));
    background-image: -webkit-linear-gradient(top, rgb(255, 236, 235), rgb(217, 73, 65));
    background-image: -moz-linear-gradient(top, rgb(255, 236, 235), rgb(217, 73, 65));
    background-image: -o-linear-gradient(top, rgb(255, 236, 235), rgb(217, 73, 65));
    background-image: -ms-linear-gradient(top, rgb(255, 236, 235), rgb(217, 73, 65));
    background-image: linear-gradient(top, rgb(255, 236, 235), rgb(217, 73, 65));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffeceb', EndColorStr='#d94941');
}

.exfee_main_identity_cancel {
    width: 75px;
    height: 20px;
    color: #333333;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #ffeceb;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(230, 230, 230)));
    background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(230, 230, 230));
    background-image: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(230, 230, 230));
    background-image: -o-linear-gradient(top, rgb(255, 255, 255), rgb(230, 230, 230));
    background-image: -ms-linear-gradient(top, rgb(255, 255, 255), rgb(230, 230, 230));
    background-image: linear-gradient(top, rgb(255, 255, 255), rgb(230, 230, 230));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffeceb', EndColorStr='#d94941');
}

.exfee_main_identity_leave {
    width: 75px;
    height: 20px;
    color: #333333;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #ffeceb;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 236, 235)), to(rgb(217, 73, 65)));
    background-image: -webkit-linear-gradient(top, rgb(255, 236, 235), rgb(217, 73, 65));
    background-image: -moz-linear-gradient(top, rgb(255, 236, 235), rgb(217, 73, 65));
    background-image: -o-linear-gradient(top, rgb(255, 236, 235), rgb(217, 73, 65));
    background-image: -ms-linear-gradient(top, rgb(255, 236, 235), rgb(217, 73, 65));
    background-image: linear-gradient(top, rgb(255, 236, 235), rgb(217, 73, 65));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffeceb', EndColorStr='#d94941');
}

.exfee_main_identity_leave_panel {
    display: none;
    font-size: 12px;
}

.exfee_main_identity_leave_panel .title {
    color: #D74941;
}

.exfee_main_identity_leave_panel .not {
    font-weight: bold;
}

.exfee_main_identity_leave_panel .x {
    color: #1175A5;
}

.exfee_main_identity_leave_panel_button_area {
    text-align: right;
}

.exfee_main_identity_leave_panel.ready {
    display: block;
}

#gather_form .exfee_extrainfo .exfee_extrainfo_mainid_area, #xExfeeArea .exfee_extrainfo .exfee_extrainfo_mainid_area {
    clear: both;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    margin: 0 8px 0 8px;
}

.exfee_extrainfo_extraid_area {
    padding-bottom: 15px;
}

.exfeegadget_inputarea {
    height: 24px;
}

.exfeegadget_inputbox {
    height: 24px;
    position: absolute;
    line-height: 24px;
}

.exfeegadget_inputbox_main {
    border: 1px transparent solid;
    z-index: 2;
    color: #000;
    background-color: #FFF;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; /* IE8~9 */
    filter: alpha(opacity=60); /* IE5~7 */
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
}

.exfeegadget_inputbox_desc {
    z-index: 1;
    color: #B5B5B5;
    border: 1px #B5B5B5 solid;
}

.exfeegadget_addbtn {
    background: url("/static/images/enter.png");
    width: 25px;
    height: 25px;
    position: relative;
    z-index: 3;
}

.exfee_avatar {
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

.exfeegadget_autocomplete {
    width: 260px;
    max-height: 207px;
    position: relative;
    z-index: 10;
    border: 1px #CCCCCC solid;
    background: #EEEEEE;
    display: none;
    overflow-x: hidden;
    overflow-y: scroll;
}

#gather_form .autocomplete_item, #xExfeeArea .autocomplete_item {
    margin: 3px;
    padding: 3px;
    border: 1px transparent dashed;
    cursor: pointer;
}

#gather_form .autocomplete_item.autocomplete_selected, #xExfeeArea .autocomplete_item.autocomplete_selected {
    border: 1px #CCCCCC dashed;
    background: #E0EDEF;
}

.autocomplete_item .exfee_avatar {
    width: 40px;
    height: 40px;
    float: left;
}

.exfee_info {
    float: left;
    margin-left: 10px;
}

.exfeegadget_autocomplete .exfee_name, .exfeegadget_autocomplete .exfee_identity {
    width: 190px;
    overflow: hidden;
    float: left;
    clear: both;
}

.exfee_name, .exfee_identity {
    color: #333333;
}

.exfee_name {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}

/*
.exfee_identity {
    font-size: 14px;
    line-height: 20px;
    font-style: italic;
}
*/

.exfeegadget_listarea {
    padding-top: 10px;
    overflow: hidden;
    padding: 5px;
    /*overflow-x: hidden;*/
    /*overflow-y: scroll;*/
}

#gather_form .exfeegadget_listarea > ol > li {
    height: 30px;
    padding-bottom: 0;
}

.exfee_rsvpblock {
    float: left;
    width: 20px;
    height: 20px;
    background: url("/static/images/icons.png");
}

.exfee_rsvp_notresponded {
    background-position: left -123px;
}

.exfee_rsvp_accepted {
    background-position: -1px -81px;
}

.exfee_rsvp_declined {
    background-position: left -165px;
}

.exfee_rsvp_interested {
    background-position: left -207px;
}

.exfee_baseblock {
    width: 275px;
    float: left;
    overflow: hidden;
}

.exfee_extrablock {
    width: 85px;
    float: right;
}

.exfeegadget_listarea > ol > li .exfee_avatar {
    float: right;
    width: 20px;
    height: 20px;
}

.exfeegadget_listarea .exfee_name {
    margin-right: 10px;
}

#gather_form .exfeegadget_infoarea .exfeegadget_info {
    width: 130px;
    height: 42px;
    font-size: 14px;
    line-height: 16px;
    color: #666666;
    position: relative;
}

.exfeegadget_num_accepted {
    font-size: 36px;
    line-height: 42px;
    color: #1175A5;
    display: block;
    float: left;
    position: relative;
    width: 120px;
}

.exfeegadget_num_of {
    color: #7F7F7F;
    display: block;
    height: 16px;
    position: relative;
    left: 3px;
    top: 3px;
    text-align: left;
    visibility: hidden;
}

.exfeegadget_num_confirmed {
    color: #7F7F7F;
    display: block;
    height: 16px;
}

.exfeegadget_listarea {
    display: none;
}
