@charset "UTF-8";
/* profile style by Leask */


/* @todo removing {
.Conversation #post_submit{background:url("/static/images/enter.png") no-repeat scroll right bottom; width:25px; height:25px; border:none; float: right; z-index:2; position: absolute; margin:15px 0 0 434px; }
.cs {float:right;width:20px;height:20px;}
.cs em {width:20px;height:20px;background:url(/static/images/icons.png) no-repeat;display:block;}
.cs em.c0{background-position:left -123px}
.cs em.c1{background-position:-1px -81px}
.cs em.c2{background-position:left -165px}
.cs em.c3{background-position:left -207px}
} */

.exfeegadget_infoarea {
    float: right;
    height: 50px;
    width: 80px;
    overflow: hidden;
}

.exfeegadget_avatararea {
    float: left;
}

#gather_form .exfeegadget_avatararea > ol > li {
    margin: auto 5px 5px auto;
    padding-bottom: 0;
    float: left;
    clear: none;
}

.exfeegadget_inputarea {
    clear: both;
    height: 24px;
}

.exfeegadget_inputbox {
    border: 1px #CCCCCC solid;
    height: 24px;
}

.exfee_avatar {
    width: 50px;
    height: 50px;
}

.exfeegadget_autocomplete {
    position: relative;
    z-index: 10;
    border: 1px #CCCCCC solid;
    background: #EEEEEE;
    display: none;
    overflow-x: hidden;
    overflow-y: scroll;
}

#gather_form .autocomplete_item {
    padding-bottom: 0;
    margin: 3px;
    padding: 3px;
    border: 1px transparent dashed;
    cursor: pointer;
}

#gather_form .autocomplete_item.autocomplete_selected {
    border: 1px #CCCCCC dashed;
    background: #E0EDEF;
}

.autocomplete_item .exfee_avatar {
    width: 40px;
    height: 40px;
    float: left;
}

.exfee_info {
    float: left;
    margin-left: 10px;
}

.exfeegadget_autocomplete .exfee_name, .exfeegadget_autocomplete .exfee_identity {
    width: 250px;
    overflow: hidden;
    float: left;
    clear: both;
}

.exfee_name, .exfee_identity {
    color: #333333;
}

.exfee_name {
    font-size: 14px;
    line-height: 20px;
}

.exfee_identity {
    font-size: 14px;
    line-height: 20px;
    font-style: italic;
}

.exfeegadget_listarea {
    padding-top: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#gather_form .exfeegadget_listarea > ol > li {
    height: 30px;
    padding-bottom: 0;
}

.exfee_rsvpblock {
    float: left;
    width: 20px;
    background: url("/static/images/icons.png");
}

.exfee_rsvp_noresponse {
    background-position: left -123px;
}

.exfee_rsvp_Accepted {    
    background-position: -1px -81px;
}

.exfee_rsvp_Declined {
    background-position: left -165px;
}

.exfee_rsvp_Interested {
    background-position: left -207px;
}

.exfee_baseblock {
    width: 275px;
    float: left;
    overflow: hidden;
}

.exfee_extrablock {
    width: 85px;
    float: right;
}

#gather_form .exfeegadget_listarea > ol > li .exfee_avatar {
    float: right;
    width: 20px;
    height: 20px;
}

.exfeegadget_listarea .exfee_name {
    margin-right: 10px;
}
