#special_page_body {
    background-color: #FFF;
}
.special_page {
    width: 840px; height:460px; margin: 20px auto auto auto; color: #333333;
    background:url("/static/images/forbidden_bg.jpg") no-repeat 0 40px;
 }
.special_main_area {
    /*background: url("../images/special_page_subtitle_bg.png") no-repeat bottom center;*/
}
.special_page_title {
    font-family: Verdana; font-size: 34px;
    line-height: 42px; text-align: center;
}
.special_page_subtitle {
    font-family: Verdana; font-size: 21px;
    margin-top: 20px; text-align: center;
}
.special_x {
     color: #0591ac;
}
