@charset "UTF-8";
/* by Leask */


#gather_form {
    padding: 0 40px 15px 40px;
}

#x_view_content {
    margin-top: 10px;
    padding-top: 40px;
}

#x_view_preview {
    background: url("/static/images/Preview.png") no-repeat;
    height: 50px;
    width: 166px;
    left: -7px;
    top: 5px;
    position: relative;
    float: left;
}

#gather_form ul li {
    padding-bottom: 15px;
    list-style: none;
    clear: both;
}

#gather_form ul li:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#gather_form ul li label {
    width: 170px;
    height: 25px;
    margin: 0 10px 0 0;
    line-height: 24px;
    float: left;
    text-align: right;
    background: url("/static/images/icons.png") no-repeat;
    padding-right: 30px;
    color: #666666;
    font-size: 14px;
}

#gather_form ul li .title {
    background-position: right -475px;
}

#gather_form ul li .description {
    background-position: right -505px;
}

#gather_form ul li .date {
    background-position: right -535px;
}

#gather_form ul li .place {
    background-position: right -565px;
}

#gather_form ul li .hostby {
    background-position: right 0px;
}

#gather_form ul li .exfee {
    background-position: right -625px;
}

#gather_form ul li .privacy {
    background-position: right -595px;
}

.gather_input {
    height: 24px;
    display: block;
    position: absolute;
    margin-left: 210px;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 14px;
    line-height: 20px;
    padding: 1px;
    resize: none;
}

#gather_place_selector {
    display: block; position: absolute;
    border: 1px #CCCCCC solid;
    background: #EEEEEE;
    margin-left: 210px; margin-top:25px; background-color:#FFF;
    padding:5px 5px 0 5px; font-size: 14px; line-height: 20px; z-index:10;
}

#gather_place_selector ul {
    clear:both; color:#000;
    padding:5px 10px;
    border:#BBB 1px dotted;
    margin-bottom:5px;
    background-color:#EEEEEE;
}
#gather_place_selector ul:hover {
    color:#FFFFFF; background:#177096; cursor:pointer;

}
#gather_place_selector ul li {
    padding-bottom:0px; 
}
#gather_place_selector ul li.place_addr {
    font-size:9pt;
}


#gather_form ul li div {
    color: #CCCCCC;
}

#gather_form ul li input, #gather_form ul li textarea {
    color: #333333;
}

#gather_date_x, #datetime_original, #gather_place_x, #gather_place, #gather_hostby {
    width: 183px;
}

#gather_date_x, #datetime_original.error {
    color: red;
}

#gather_place_blank, #gather_place_x, #gather_place {
    height: 96px;
}

#gather_title, #gather_desc_x, #gather_desc, #gather_submit_area, .exfeegadget_avatararea {
    width: 480px;
}

.gather_focus {
    border: #c5c5c5 1px solid;
    background: #FAFAFA;
}

.gather_blur {
    border: #c5c5c5 1px dashed;
    background: transparent;
}

#gatherExfee {
    position: static;
}

#gather_form .exfeegadget_inputarea {
    position: absolute;
}

#gather_form .exfeegadget_avatararea {
    float: left;
    padding-top: 30px;
}

.exfeegadget_inputbox {
    width: 260px;
}

#gather_form .autocomplete_item {
    width: 246px;
}

#gather_form .exfeegadget_info {
    display: none;
}

#gather_form .exfeegadget_info_labelarea {
    display: none;
}

#gather_form .exfeegadget_listarea {
    width: 260px;
    height: 120px; 
}

#gather_form #gather_privacy {
    font-size: 14px;
    line-height: 24px;
}

#gather_privacy_info {
    color: #333333;
}

#gather_privacy_info .x {
    color: #0591AC;
}

#gather_privacy_info_desc { 
    color: #666666;
    font-size: 14px;
    line-height: 20px;
}

#gather_privacy_blank {
    height: 48px;
}

#exfe_iphone_ad {
    position: absolute;
    float: left;
    left: -80px;
    font-size: 14px;
    line-height: 20px;
    color: #666666;
}

#gather_discard {
    display: block;
    text-decoration: underline;
    width: 80px;
    height: 30px;
    line-height: 30px;
    color: #999999;
    float: right;
}

#exfe_iphone_ad .exfe {
    color: #0591AC;
}

#gather_submit {
    background: url("/static/images/btn.png") no-repeat;
    color: #ffffff;
    font-size: 16px;
    height: 30px;
    width: 130px;
    cursor: pointer;
    float: right;
}

#gather_submit.mouseover {
    background: url("/static/images/btn.png") no-repeat -300px 0;
}

#gather_submit.mousedown {
    background: url("/static/images/btn.png") no-repeat -600px 0;
}

#gather_submit.disabled {
    background: url("/static/images/btn.png") no-repeat -900px 0;
}

#calendar_map_container {
    width: 285px;
    height: 175px;
    margin-left: 410px;
    z-index: 10;
}

#gather_submit_blank {
   height: 30px; 
}

#gather_form #gather_failed_hint {
    display: none;
    position: relative;
    float: right;
    color: red;
    margin: 45px 113px auto auto;
}

#calendar_map_container ul li{ padding-top:3px; padding-bottom:0px; height:20px; }
#calendar_map_container ul{ color:#333333; }
