@charset "UTF-8";
/* EXFE style by Leask */


/* global style initialization */
* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-font-smoothing: antialiased;
}


/* default font */
body, button, input, select, textarea {
    font-size: 13px;
    line-height: 1.5;
    font-family: "Verdana", "Lucida Grande", "Sans", "Helvetica", "Arial", "WenQuanYi Micro Hei", "Droid Sans Fallback", "Microsoft YaHei", "SimSun";
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
address, cite, dfn, em, var {
    font-style: normal; /* 将斜体扶正 */
}
code, kbd, pre, samp {
    font-family: "courier new", courier, monospace; /* 统一等宽字体 */
}
small {
    font-size: 12px; /* 小于 12px 的中文很难阅读，让 small 正常化 */
}
sup {
    vertical-align: text-top; /* 减少对行高的影响 */
}
sub {
    vertical-align: text-bottom; /* 减少对行高的影响 */
}


/* reset list element */
ul, li, ol {
    list-style: none;
}


/* reset link element */
a {
    color: #333333;
    text-decoration: none;
    cursor:pointer;
    hide-focus: expression(this.hideFocus=true); /* for ie 5+ */
    outline: none; /* for firefox 1.5 + */
}
a:hover {
    color: #333333;
    text-decoration: underline;
}


/* reset form element */
legend {
    color: #000; /* for ie6 */
}
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}
input, textarea {
    font-size: 14px;
    color:#696969;
}


/* reset table element */
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* global body style */
body {
    background: #f2f2f2 url(../images/global_header_bg.jpg) repeat-x 0 0;
}


/* global content area */
.content {
    margin-top: 33px;
}


/* func.js by Handaoliang */
.fbg{
    background: #d5e6e9;
}


/* global header by Handaoliang */
#global_header { width:1160px; height:50px; margin:auto; overflow:hidden; }
#global_header .logo{ position:relative; float:left; width:450px; height:47px; }
#global_header .user_info{
    float:right; width:320px; height:47px;
}
#global_header .user_info a{ color:#FFF; }
#global_header .user_info .global_sign_in_btn{
    width:240px; height:20px; text-align:center; margin-top:15px; cursor:pointer;
}
#global_header .user_info .global_sign_in_btn #home_user_login_btn{ font-weight:bold; font-style:italic; }
#global_header .user_info .global_sign_in_btn #home_user_login_btn:hover { font-weight:bold; font-style:normal; text-decoration:none; }
#global_header .user_info .global_sign_in_btn #global_user_login_btn{ font-weight:bold; font-style:italic; }
#global_header .user_info .global_sign_in_btn #global_user_login_btn:hover { font-weight:bold; font-style:normal; text-decoration:none; }
#global_header .user_info .uinfo{ position:absolute; width:200px; height:47px; z-index:100; }
#global_header .user_info .uinfo em.light{
    float:left; width:72px;height:45px;background:url(/static/images/btn.png) no-repeat left -314px;
}
#global_header .user_info .uinfo .name{
    float:left; height:35px; margin-top:5px; text-align:center; cursor:pointer;
}
#global_header .user_info .uinfo .name #goldLink a{
    font-size:14px; color:#ffffff;font-weight:bold;font-family:Verdana;
    height:40px; width:120px; display:block;line-height:40px;
}
#global_header .user_info .uinfo .name #goldLink a.nameh{
    position:absolute;color:#000000;background:url(/static/images/user.png) no-repeat;
    text-decoration:none;z-index:300;
}
#global_header .user_info .uinfo .myexfe{
    display:none;position:absolute;
    width:228px;padding:5px 0px 0;
    background:url(/static/images/user.png) no-repeat 0 -40px;
    font-size:13px;right:0px;top:5px;
}
#global_header .user_info .uinfo .message { width:190px; padding:50px 19px 10px; }
#global_header .user_info .uinfo .message .na { height:40px; }
#global_header .user_info .uinfo .message .na p { float:left;color:#333333; }
#global_header .user_info .uinfo .message .na p .num_of_x { font-size:24px; color:#058fad; display:block; font-weight:bold; }
#global_header .user_info .uinfo .message .na p .x_attended { color:#0591ac; }
#global_header .user_info .uinfo .message .info a {
    display:block; color: #191919; margin-left:30px; margin-top:-20px;
}
#global_header .user_info .uinfo .message .na img{width:40px;height:40px;float:right; }
#global_header .user_info .uinfo .message .info{line-height:20px;color:#202020;text-align:left;font-size:14px;margin-top:10px; }
#global_header .user_info .uinfo .message .info span{color:#696969;font-weight:normal; }
#global_header .user_info .uinfo .message .info em{
    background: url(/static/images/btn.png) no-repeat left -282px;
    color:#ffffff;font-size:11px;width:34px;height:20px;padding:1px 1px 1px;
}
#global_header .user_info .uinfo .message .info .hide{
    background:none;
    color:#ffffff;font-size:11px;width:34px;height:20px;padding:1px 1px 1px;
}
#global_header .user_info .uinfo .message .creatbtn{
    width:180px;height:32px;background:url(/static/images/btn.png) no-repeat 2px -234px;margin-top:20px;line-height:32px;
}
#global_header .user_info .uinfo .message .creatbtn a{
    color:#ffffff;font-size:18px;font-family:Verdana;text-decoration:none; padding-left:20px
}
#global_header .user_info .uinfo .myexfefoot{
    width:190px;height:30px;padding:0 19px;background:url(/static/images/user.png) no-repeat left bottom;line-height:30px;
}
#global_header .user_info .uinfo .myexfefoot a.l{ float:left; }
#global_header .user_info .uinfo .myexfefoot a.r{ float:right; }


/* Cover effect style control by Handaoliang */
.cover_element{
    position:fixed; z-index:200;
    left:0px; top:0px; background-color:#333;
    -moz-opacity:0.6; opacity: 0.6;
    filter: alpha(opacity=60);
    -khtml-opacity: 0.6;
    -moz-user-select:none;
}
.cover_element_shadow{
    -moz-opacity:0.01; opacity: 0.01;
    filter: alpha(opacity=0.01);
    -khtml-opacity: 0.01;
}
.ex_dialog{ position:absolute; padding:50px; z-index:201; }
.ex_dialog_shadow {
    /*border: 10px solid rgba(90, 90, 90, 0.5);*/
    -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px;
    -moz-box-shadow: rgba(90, 90, 90, 0.5) 0px 0px 0px 10px;
    -webkit-box-shadow: rgba(90, 90, 90, 0.5) 0px 0px 0px 10px;
    box-shadow: rgba(90, 90, 90, 0.5) 0px 0px 0px 10px;
}
