@charset "UTF-8";
/* EXFE style by Leask */


/* global style initialization */
* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-font-smoothing: antialiased;
}


/* default font */
body, button, input, select, textarea {
    font-size: 13px;
    line-height: 1.5;
    font-family: "Helvetica", "Verdana", "Lucida Grande", "Sans", "Arial", "WenQuanYi Micro Hei", "Droid Sans Fallback", "Microsoft YaHei", "SimSun";
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
address, cite, dfn, em, var {
    font-style: normal; /* 将斜体扶正 */
}
code, kbd, pre, samp {
    font-family: "courier new", courier, monospace; /* 统一等宽字体 */
}
small {
    font-size: 12px; /* 小于 12px 的中文很难阅读，让 small 正常化 */
}
sup {
    vertical-align: text-top; /* 减少对行高的影响 */
}
sub {
    vertical-align: text-bottom; /* 减少对行高的影响 */
}


/* reset list element */
ul, li, ol {
    list-style: none;
}


/* reset focus effect */
:focus {
    outline: none;
}


/* reset link element */
a {
    color: #666666;
    text-decoration: none;
    cursor:pointer;
    hide-focus: expression(this.hideFocus=true); /* for ie 5+ */
    outline: none; /* for firefox 1.5 + */
}
a:hover {
    color: #666666;
    text-decoration: underline;
}


/* reset form element */
legend {
    color: #000; /* for ie6 */
}
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}
input, textarea {
    font-size: 14px;
    color:#696969;
}


/* reset table element */
  table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* global body style */
body {
    background-color: #FAFAFA;
}


/* global content area */
.content {
    width: 882px;
    margin: 30px auto auto auto;
}

/* clean up */
.cleanup:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


/* func.js by Handaoliang */
.fbg{
    background: #d5e6e9;
}


/* global header by Handaoliang */
#global_header {
  height: 56px;
  margin: auto;
  background: transparent url(../images/global_header_bg.png) repeat-x 0 0;
}
#global_header .nav-bkg {
  position: relative;
  z-index: 100;
  height: 56px;
  width: 100%;
  background: rgba(250, 250, 250, 0) url(../images/global_header_bg.png) repeat-x 0 0;
}
#global_header .site-infos {
  width: 880px;
  height: 56px;
  margin: 0 auto;
}
#global_header .logo{
  position: absolute;
  z-index: 100;
  margin-left: 14px;
}
#global_header .logo .version a {
  position: absolute;
  bottom: 12px;
  left: 120px;
  font-size: 12px;
  font-weight: 300;
  font-style: oblique;
  color: #7F7F7F;
  text-shadow: 0 1px 1px #FAFAFA;
  top: 24.5px;
}
#global_header .logo .version a:hover {
  text-decoration: none;
}

#global_header .user_info{
  float: right;
  margin-right: -10px;
}
#global_header .user_info .global_sign_in_btn{
    color: #7F7F7F;
    height: 20px;
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
    position: relative;
    z-index: 100;
}
#global_header .user_info .global_sign_in_btn #home_user_login_btn{ font-weight:bold; font-style:italic; }
#global_header .user_info .global_sign_in_btn #home_user_login_btn:hover { font-weight:bold; font-style:normal; text-decoration:none; }
#global_header .user_info .global_sign_in_btn #global_user_login_btn{ font-weight:bold; font-style:italic; }
#global_header .user_info .global_sign_in_btn #global_user_login_btn:hover { font-weight:bold; font-style:normal; text-decoration:none; }
#global_header .user_info .uinfo em.light{
    float:left; width:72px;height:45px;background:url(/static/images/btn.png) no-repeat left -314px;
}
#global_header .user_info .uinfo  {
  background-color: #fafafa;
}
#global_header .user_info .uinfo .name{
  position: relative;
    height: 56px;
    cursor: pointer;
  background-color: #fafafa;
  display: inline-block;
}
#global_header .user_info .uinfo .fill-left {
  height: 56px;
  /*width: 186px;*/
  width: 500px;
  min-width: 36px;
  /*max-width: 186px;*/
  max-width: 500px;
  display: inline-block;
  background: transparent url(/static/images/global_header_bg.png) repeat-x 0 0;
  position: relative;
  z-index: 100;
}
#global_header .user_info .uinfo .fill-right {
  display: inline-block;
  background: transparent url(/static/images/global_header_bg.png) repeat-x 0 0;
  height: 56px;
  width: 10px;
  position: relative;
  z-index: 110;
}
#global_header .user_info .uinfo .name #goldLink {
  background: transparent url(/static/images/global_header_bg.png) repeat-x 0 0;
  display: inline-block;
  min-width: 78px;
  max-width: 228px;
  float: left;
  text-align: center;
  position: relative;
  z-index: 110;
}
#global_header .user_info .uinfo .name #goldLink a{
  font-size: 14px;
  color: #7F7F7F;
  font-weight: bold;
  white-space: nowrap;
  height: 56px;
  max-width: 200px;
  min-width: 50px;
  display: block;
  line-height: 56px;
  overflow: hidden;
  margin: 0 12px;
  padding: 0 2px;
}
#global_header .user_info .uinfo .name #goldLink span {
  display: none;
  width: 12px;
  height: 56px;
  background: url(/static/images/titlebar-bg-L.png) no-repeat transparent; 
  position: absolute;
  right: 0;
  top: 0;
}
#global_header .user_info .uinfo .name #goldLink.nameh span {
  display: block;
}
#global_header .user_info .uinfo .name #goldLink.nameh{
  background: url(/static/images/titlebar-bg-R.png) no-repeat transparent;
}
#global_header .user_info .uinfo .name #goldLink.nameh a {
  text-decoration: none;
  background: url(/static/images/titlebar-bg-down.png) repeat transparent;
}
#global_header .user_info .uinfo .myexfe {
    position: absolute;
    width: 228px;
    /*background: url(/static/images/user.png) no-repeat 0 -40px;*/
    font-size: 14px;
    right: 4px;
    background-color: #FAFAFA;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FAFAFA), to(#E6E6E6));
    background-image: -webkit-linear-gradient(top, #FAFAFA, #E6E6E6);
    background-image:    -moz-linear-gradient(top, #FAFAFA, #E6E6E6);
    background-image:     -ms-linear-gradient(top, #FAFAFA, #E6E6E6);
    background-image:      -o-linear-gradient(top, #FAFAFA, #E6E6E6);
    -moz-box-shadow:    0px 0px 3px 1px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 3px 3px;
    border: 1px solid #D5D5D5;
    border-top: none;
    z-index: 99;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
#global_header .user_info .uinfo .message {
  padding: 20px 15px 20px;
  overflow: hidden;
}
#global_header .user_info .uinfo .message .na {
  height: 40px;
}
#global_header .user_info .uinfo .message .na .h {
  line-height: 20px;
  width: 124px;
  float: left;
  color: #191919;
  text-decoration: none;
  text-align: center;
}
#global_header .user_info .uinfo .message .na .l {
  height: 40px;
  float: right;
  display: block;
}
#global_header .user_info .uinfo .message .na .l img {
  width: 40px;
  height: 40px;
  border-radius: 2px;
}
#global_header .user_info .uinfo .message .na .h > span {
  height: 20px;
  display: block;
}
#global_header .user_info .uinfo .message .na .h .num_of_x {
  font-size: 24px;
  color: #1175A5;
  display: block;
  font-weight: 300;
  text-shadow: 0 1px 2px rgba(20, 24, 26, 0.15);
}
#global_header .user_info .uinfo .message .na .h .x_attended {
  font-size: 14px;
  color: #1175A5;
}

/* ------------- Token Identity ------------- */
#global_header .user_info .uinfo .message {
  padding-top: 20px;
}
#global_header .user_info .uinfo .message .title {
  text-align: center;
  color: #4C4C4C;
  font-weight: lighter;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 10px;
}
#global_header .user_info .uinfo .message .detail {
  text-align: left;
  color: #191919;
  font-size: 14px;
  line-height: 20px;
}
#global_header .user_info .uinfo .message .identity {
  text-align: left;
  overflow: hidden;
  padding: 5px 0;
}
#global_header .user_info .uinfo .message .identity .iname {
  height: 20px;
  text-indent: 18px;
  display: inline-block;
  float: left;
  font-size: 14px;
  font-style: oblique;
  line-height: 20px;
  text-overflow: clip;
  width: 156px;
  height: 14px;
  white-space: nowrap;
  overflow: hidden;
  color: #4C4C4c;
  margin-left: 10px;
  overflow: hidden;
}
#global_header .user_info .uinfo .message .identity .iname.email {
  background: url(../images/email.png) no-repeat 0 center;
  background-size: 20px 15px;
  height: 20px;
}
#global_header .user_info .uinfo .message .identity .iname.phone {
  background: url(../images/phone.png) no-repeat 0 center;
  background-size: 20px 15px;
  height: 20px;
}
#global_header .user_info .uinfo .message .identity .iname.twitter {
  background: url(../images/twitter.png) no-repeat 0 center;
  background-size: 20px 15px;
  height: 20px;
}
#global_header .user_info .uinfo .message .identity img {
  width: 20px;
  height: 20px;
  float: right;
  border-radius: 2px;
}
#global_header .user_info .uinfo .message .setup {
  overflow: hidden;
}
#global_header .user_info .uinfo .message .setup p span.setup-btn,
#global_header .user_info .uinfo .message .identites p span.merge {
  color: #191919;
  text-decoration: underline;
  height: 20px;
  font-weight: bold;
  /*
  border-radius: 2px;
  background-color: #FFFEFF;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFEFF), to(#CFDDE5));
  background-image: -webkit-linear-gradient(top, #FFFEFF, #CFDDE5);
  background-image:    -moz-linear-gradient(top, #FFFEFF, #CFDDE5);
  background-image:     -ms-linear-gradient(top, #FFFEFF, #CFDDE5);
  background-image:      -o-linear-gradient(top, #FFFEFF, #CFDDE5);
  -moz-box-shadow:    1px 1px 3px rgba(0,0,0,0.25);
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.25);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  border: 1px solid #D5D5D5;
  */
}
#global_header .user_info .uinfo .message .setup p,
#global_header .user_info .uinfo .message .identites p {
  /*float: right;*/
  /*width: 114px;*/
  text-align: left;
}
#global_header .user_info .uinfo .message .identites {
  border-top: 1px solid #D5D5D5;
  padding-top: 8px;
}
#global_header .user_info .uinfo .message .identites p {
  width: 198px;
  left: -8px;
  top: -5px;
  position: relative;
  padding: 5px 8px;
  border: 1px solid rgba(0,0,0,0);
}
#global_header .user_info .uinfo .message .identites p:hover {
  border-radius: 5px;
  background-color: #FAFAFA;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FAFAFA), to(#E6E6E6));
  background-image: -webkit-linear-gradient(top, #FAFAFA, #E6E6E6);
  background-image:    -moz-linear-gradient(top, #FAFAFA, #E6E6E6);
  background-image:     -ms-linear-gradient(top, #FAFAFA, #E6E6E6);
  background-image:      -o-linear-gradient(top, #FAFAFA, #E6E6E6);
  -moz-box-shadow:    0px 1px 1px #FFFFFF;
  -webkit-box-shadow: 0px 1px 1px #FFFFFF;
  box-shadow: 0px 1px 1px #FFFFFF;
  border: 1px solid #E3E3E3;
}
#global_header .user_info .uinfo .message .setup p span {
  color: #1175A5;
}

#global_header .user_info .uinfo .info {
  color: #191919;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  padding: 0 10px 0;
}
#global_header .user_info .uinfo .info span {
  color: #424242;
  font-weight: normal;
}
#global_header .user_info .uinfo .info a {
  color: #212121;
  display: block;
  /*margin-left: 30px;*/
}
#global_header .user_info .uinfo .info .crosseslist span {
  display: block;
  width: 22px;
  height: 11px;
  line-height: 14.5px;
  background: #D5D5D5;
  font-size: 9px;
  /*color: #424242;*/
  text-align: center;
  float: left;
  margin-top: 3.5px;
}

#global_header .user_info .uinfo .info .crosseslist span.now {
  background: #1175A5;
  color: #FAFAFA;
}
#global_header .user_info .uinfo .info .crosseslist span.hr {
  color: #1175A5;
}
#global_header .user_info .uinfo .info .crosseslist ol li a {
  font-size: 14px;
  line-height: 20px;
  margin-left: 28px;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#global_header .user_info .uinfo .creatbtn, #global_header .user_info .uinfo .signin-btn {
  margin-top: 14px;
  margin-bottom: 12px;
}
#global_header .user_info .uinfo .creatbtn a {
  display: block;
  width: 120px;
  height: 32px;
  font-family: Helvetica;
  font-size: 22px;
  font-weight: 300;
  line-height: 32px;
  color: #191919;
  text-shadow: 0 1px 1px #FEFFFE;
  background-color: #D5E7F0;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D5E7F0), to(#1F78A5));
  background-image: -webkit-linear-gradient(top, #D5E7F0, #1F78A5);
  background-image:    -moz-linear-gradient(top, #D5E7F0, #1F78A5);
  background-image:     -ms-linear-gradient(top, #D5E7F0, #1F78A5);
  background-image:      -o-linear-gradient(top, #D5E7F0, #1F78A5);
  -moz-box-shadow:    1px 1px 3px rgba(0,0,0,0.25);
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.25);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
}
#global_header .user_info .uinfo .creatbtn a:hover, #global_header .user_info .uinfo .signin-btn a:hover {
  text-decoration: none;
}
#global_header .user_info .uinfo .signin-btn a {
  display: block;
  width: 120px;
  height: 32px;
  font-family: Helvetica;
  font-size: 22px;
  font-weight: 300;
  line-height: 32px;
  color: #191919;
  text-shadow: 0 1px 1px #FFFFFF;
  background-color: #FAFAFA;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FAFAFA), to(#D5E8F2));
  background-image: -webkit-linear-gradient(top, #FAFAFA, #D5E8F2);
  background-image:    -moz-linear-gradient(top, #FAFAFA, #D5E8F2);
  background-image:     -ms-linear-gradient(top, #FAFAFA, #D5E8F2);
  background-image:      -o-linear-gradient(top, #FAFAFA, #D5E8F2);
  -moz-box-shadow:    0px 1px 1px rgba(255,255,255,0.7);
  -webkit-box-shadow: 0px 1px 1px rgba(255,255,255,0.7);
  box-shadow: 0px 1px 1px rgba(255,255,255,0.7);
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  border: 1px solid rgba(127,127,127,0.15);
}
#global_header .user_info .uinfo .splitline {
  background-image: -webkit-gradient(linear, left, from(#e6e6e6), color-stop(0.5, #b2b2b2), to(#e6e6e6));
  background-image: -webkit-linear-gradient(left, #e6e6e6, #b2b2b2, #e6e6e6);
  background-image: -moz-linear-gradient(left, #e6e6e6, #b2b2b2, #e6e6e6);
  background-image: -ms-linear-gradient(left, #e6e6e6, #b2b2b2, #e6e6e6);
  background-image: -o-linear-gradient(left, #e6e6e6, #b2b2b2, #e6e6e6);
  background-image: linear-gradient(left #e6e6e6, #b2b2b2, #e6e6e6);
  background-repeat: no-repeat;
  /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",#e6e6e6,#b2b2b2)); */
  height: 1px;
  width: 162px;
  margin: 0 auto;
  box-shadow: 0 1px 1px rgba(250, 250, 250, 0.75);
}
#global_header .user_info .uinfo .myexfefoot {
  width: 162px;
  height: 30px;
  /*border-top: 1px solid #D5D5D5;*/
  margin: 0 auto;
}
#global_header .user_info .uinfo .myexfefoot a {
  color: #7F7F7F;
  font-size: 12px;
  line-height: 30px;
}
#global_header .user_info .uinfo .myexfefoot a.l{ float:left; }
#global_header .user_info .uinfo .myexfefoot a.r{ float:right; }


/* Cover effect style control by Handaoliang */
.cover_element{
    position: fixed;
    z-index: 200;
    background-color: #333;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; /* IE8~9 */
    filter: alpha(opacity=60); /* IE5~7 */
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
    -moz-user-select: none;
}
.cover_element_shadow{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)"; /* IE8~9 */
    filter: alpha(opacity=0.01);
    -moz-opacity:0.01;
    -khtml-opacity: 0.01;
    opacity: 0.01;
}
.ex_dialog{ position:absolute; padding:50px; z-index:201; }
.ex_dialog_shadow {
    /*border: 10px solid rgba(90, 90, 90, 0.5);*/
    -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px;
    -moz-box-shadow: rgba(90, 90, 90, 0.5) 0px 0px 0px 10px;
    -webkit-box-shadow: rgba(90, 90, 90, 0.5) 0px 0px 0px 10px;
    box-shadow: rgba(90, 90, 90, 0.5) 0px 0px 0px 10px;
}

/* Bubble style control by handaoliang */
.exfe_bubble {
    position:absolute; width:300px; height:200px; padding:10px;
    background-color:#EEEEEE; border:1px solid #BBBBBB; z-index:5;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
.exfe_bubble:before {
    content:""; position:absolute;
    top:29px; left:320px;
    border-width:11px 0px 21px 21px;
    border-style:solid;
    border-color:transparent #BBBBBB;
    /* reduce the damage in FF3.0 */
    display:block; width:0;
}
.exfe_bubble:after {
    content:""; position:absolute;
    top:30px; left:320px;
    border-width:10px 0px 20px 20px;
    border-style:solid;
    border-color:transparent #EEEEEE;
    /* reduce the damage in FF3.0 */
    display:block; width:0;
}
