@charset "UTF-8";
/* EXFE style by Leask */


/* global style initialization */
* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-font-smoothing: antialiased;
}


/* default font */
body, button, input, select, textarea {
    font-size: 13px;
    line-height: 1.5;
    font-family: "Helvetica", "Verdana", "Lucida Grande", "Sans", "Arial", "WenQuanYi Micro Hei", "Droid Sans Fallback", "Microsoft YaHei", "SimSun";
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
address, cite, dfn, em, var {
    font-style: normal; /* 将斜体扶正 */
}
code, kbd, pre, samp {
    font-family: "courier new", courier, monospace; /* 统一等宽字体 */
}
small {
    font-size: 12px; /* 小于 12px 的中文很难阅读，让 small 正常化 */
}
sup {
    vertical-align: text-top; /* 减少对行高的影响 */
}
sub {
    vertical-align: text-bottom; /* 减少对行高的影响 */
}


/* reset list element */
ul, li, ol {
    list-style: none;
}


/* reset focus effect */
:focus {
    outline: none;
}


/* reset link element */
a {
    color: #666666;
    text-decoration: none;
    cursor:pointer;
    hide-focus: expression(this.hideFocus=true); /* for ie 5+ */
    outline: none; /* for firefox 1.5 + */
}
a:hover {
    color: #666666;
    text-decoration: underline;
}


/* reset form element */
legend {
    color: #000; /* for ie6 */
}
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}
input, textarea {
    font-size: 14px;
    color:#696969;
}


/* reset table element */
  table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* global body style */
body {
    background: #FAFAFA url(../images/global_header_bg.jpg) repeat-x 0 0;
}


/* global content area */
.content {
    width: 882px;
    margin: 30px auto 40px auto;
}

/* clean up */
.cleanup:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


/* func.js by Handaoliang */
.fbg{
    background: #d5e6e9;
}


/* global header by Handaoliang */
#global_header { width:880px; height:50px; margin:auto; overflow:hidden; }
#global_header .logo{ position: absolute; width:450px; height:47px; margin-left: -68px;}
#global_header .user_info{
    float:right; width:320px; height:47px; margin-right: -128px;
}
#global_header .user_info a {
  color: #FFF;
}
#global_header .user_info .global_sign_in_btn{
    width:240px; height:20px; text-align:center; margin-top:15px; cursor:pointer;
}
#global_header .user_info .global_sign_in_btn #home_user_login_btn{ font-weight:bold; font-style:italic; }
#global_header .user_info .global_sign_in_btn #home_user_login_btn:hover { font-weight:bold; font-style:normal; text-decoration:none; }
#global_header .user_info .global_sign_in_btn #global_user_login_btn{ font-weight:bold; font-style:italic; }
#global_header .user_info .global_sign_in_btn #global_user_login_btn:hover { font-weight:bold; font-style:normal; text-decoration:none; }
#global_header .user_info .uinfo{ position:absolute; width:200px; height:47px; z-index:100; }
#global_header .user_info .uinfo em.light{
    float:left; width:72px;height:45px;background:url(/static/images/btn.png) no-repeat left -314px;
}
#global_header .user_info .uinfo .name{
    float:left; height:35px; margin-top:5px; text-align:center; cursor:pointer;
}
#global_header .user_info .uinfo .name #goldLink a{
  margin-left: 5px;
    font-size:14px; color:#ffffff;font-weight:bold;font-family:Verdana; white-space:nowrap;
    height:40px; width:110px; display:block;line-height:40px; overflow:hidden;
}
#global_header .user_info .uinfo .name #goldLink.nameh{
  width: 120px;
  position: absolute;
  z-index: 300;
  background: #FFFEFF;
  border-radius: 3px 3px 0 0;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #D5D5D5;
  box-shadow: 3px 0 0px 0px rgba(0, 0, 0, 0.1);
    /*position:absolute;color:#000000;background:url(/static/images/user.png) no-repeat;*/
    /*text-decoration:none;z-index:300;*/
}
#global_header .user_info .uinfo .name #goldLink.nameh a{
  color: #000;
  text-decoration: none;
}
#global_header .user_info .uinfo .myexfe {
    display: none;
    position: absolute;
    width: 200px;
    /*padding: 26px 10px 0;*/
    /*padding: 5px 0px 0;*/
    /*background: url(/static/images/user.png) no-repeat 0 -40px;*/
    font-size: 14px;
    right: 6px;
    background-color: #FFFEFF;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFEFF), to(#EAEAEA));
    background-image: -webkit-linear-gradient(top, #FFFEFF, #EAEAEA);
    background-image:    -moz-linear-gradient(top, #FFFEFF, #EAEAEA);
    background-image:     -ms-linear-gradient(top, #FFFEFF, #EAEAEA);
    background-image:      -o-linear-gradient(top, #FFFEFF, #EAEAEA);
    -moz-box-shadow:    3px 3px 3px rgba(0,0,0,0.25);
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.25);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 3px 0px 3px 3px;
    border: 1px solid #D5D5D5;
    top: 45px;
}
#global_header .user_info .uinfo .message {
  /*width: 190px;*/
  padding: 25px 18px 10px;
  /*text-overflow: clip;*/
  /*overflow: hidden;*/
}
#global_header .user_info .uinfo .message .na {
  height: 40px;
}
#global_header .user_info .uinfo .message .na .h {
  line-height: 20px;
  width: 124px;
  float: left;
  color: #333333;
  text-decoration: none;
}
#global_header .user_info .uinfo .message .na .l {
  height: 40px;
  float: right;
  display: block;
}
#global_header .user_info .uinfo .message .na .l img {
  width: 40px;
  height: 40px;
  border-radius: 2px;
}
#global_header .user_info .uinfo .message .na .h > span {
  height: 20px;
  display: block;
}
#global_header .user_info .uinfo .message .na .h .num_of_x {
  font-size: 18px;
  color: #0591AC;
  display: block;
  font-weight: bold;
}
#global_header .user_info .uinfo .message .na .h .x_attended {
  font-size: 14px;
  color: #0591ac;
}
#global_header .user_info .uinfo .info {
  color: #212121;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  padding: 0 10px 0;
}
#global_header .user_info .uinfo .info span {
  color: #424242;
  font-weight: normal;
}
#global_header .user_info .uinfo .info a {
  color: #212121;
  display: block;
  /*margin-left: 30px;*/
}
#global_header .user_info .uinfo .info .upcoming {
  color: #424242;
}
#global_header .user_info .uinfo .info .crosseslist span {
  display: block;
  width: 22px;
  height: 11px;
  line-height: 14.5px;
  background: #D5D5D5;
  font-size: 9px;
  color: #424242;
  text-align: center;
  float: left;
  margin-top: 3.5px;
}
#global_header .user_info .uinfo .info .crosseslist ol li a {
  font-size: 14px;
  line-height: 20px;
  margin-left: 28px;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#global_header .user_info .uinfo .creatbtn {
  margin-top: 14px;
  margin-bottom: 12px;
}
#global_header .user_info .uinfo .creatbtn a {
  text-indent: -9999px;
  display: block;
  width: 120px;
  height: 32px;
  background: url(/static/images/add_gather_btn.png) no-repeat;
  margin: 0 auto;
}
#global_header .user_info .uinfo .myexfefoot {
  width: 162px;
  height: 30px;
  border-top: 1px solid #D5D5D5;
  margin: 0 auto;
}
#global_header .user_info .uinfo .myexfefoot a {
  color: #424242;
  font-size: 12px;
  line-height: 30px;
}
#global_header .user_info .uinfo .myexfefoot a.l{ float:left; }
#global_header .user_info .uinfo .myexfefoot a.r{ float:right; }


/* Cover effect style control by Handaoliang */
.cover_element{
    position: fixed;
    z-index: 200;
    background-color: #333;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; /* IE8~9 */
    filter: alpha(opacity=60); /* IE5~7 */
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
    -moz-user-select: none;
}
.cover_element_shadow{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)"; /* IE8~9 */
    filter: alpha(opacity=0.01);
    -moz-opacity:0.01;
    -khtml-opacity: 0.01;
    opacity: 0.01;
}
.ex_dialog{ position:absolute; padding:50px; z-index:201; }
.ex_dialog_shadow {
    /*border: 10px solid rgba(90, 90, 90, 0.5);*/
    -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px;
    -moz-box-shadow: rgba(90, 90, 90, 0.5) 0px 0px 0px 10px;
    -webkit-box-shadow: rgba(90, 90, 90, 0.5) 0px 0px 0px 10px;
    box-shadow: rgba(90, 90, 90, 0.5) 0px 0px 0px 10px;
}

/* Bubble style control by handaoliang */
.exfe_bubble {
    position:absolute; width:300px; height:200px; padding:10px;
    background-color:#EEEEEE; border:1px solid #BBBBBB; z-index:5;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
.exfe_bubble:before {
    content:""; position:absolute;
    top:29px; left:320px;
    border-width:11px 0px 21px 21px;
    border-style:solid;
    border-color:transparent #BBBBBB;
    /* reduce the damage in FF3.0 */
    display:block; width:0;
}
.exfe_bubble:after {
    content:""; position:absolute;
    top:30px; left:320px;
    border-width:10px 0px 20px 20px;
    border-style:solid;
    border-color:transparent #EEEEEE;
    /* reduce the damage in FF3.0 */
    display:block; width:0;
}
