#home { background-color:#000 }

#home .home_banner{
    display:block; width:100%; height:500px; min-width:880px; overflow:hidden;
    background:#EEEEEE url(../images/x-code-bg.jpg) repeat-y center 0;
}
#home .home_banner span{
    position:relative; display:block; width:417px; height:410px; margin:auto; margin-top:40px;
    background:url(../images/x-code.png) no-repeat 0 0;
}

#home .home_bottom{ width:760px; height:200px; margin:auto; margin-top:30px; }
#home .home_bottom p{ clear:both; }
#home .home_bottom p.gather_btn{ width:238px; height:57px; margin:auto; }
#home .home_bottom p.gather_btn a{ display:block; width:230px; height:57px; padding:0px; cursor:pointer; }
#home .home_bottom p.bottom_btn{ width:760px; height:55px; margin:auto; margin-top:50px; background:url(../images/home_bottom_btn.jpg) no-repeat 0 0; }
