@charset "UTF-8";
/* by Handaoliang */


#home { background-color:#000 }

#home .home_banner{
    display:block; width:100%; height:550px; min-width:1160px; overflow:hidden;
    background:#E6E6E6 url(../images/index_bg.jpg) repeat-y center 0;
}
#home .home_banner span{
    position:relative; display:block; width:417px; height:410px; margin:auto; margin-top:60px;
    background:url(../images/x-code.png) no-repeat 0 0;
}

#home .home_bottom{ width:760px; height:200px; margin:auto; padding-top:50px; }
#home .home_bottom .gather_btn{ clear:both; width:238px; height:57px; margin:auto; }
#home .home_bottom .gather_btn a{ display:block; width:230px; height:57px; padding:0px; cursor:pointer; }

#home .home_bottom .home_bottom_btn{
    clear:both; width:695px; height:36px; margin:auto; margin-top:50px;
    background:url(../images/index_icon_a.png) no-repeat 0 0;
}
