@charset "UTF-8";
/* profile style by Leask */

.shadow_840 {
    background: url(/static/images/shadow.png) no-repeat;
    height: 20px;
    margin: 0 auto;
    width: 840px;
}
.shadow_310 {
    background: url(/static/images/shadow.png) no-repeat -530px 0px;
    height: 20px;
    margin: 0 auto;
    width: 310px;
    display: none;
}
#cross_area {
    width: 840px;
    margin: 0 auto;
    overflow: auto;
}
#cross_list {
    width: 480px;
    float: left;
    padding: 20px 20px 20px 10px;
    font-size: 12px;
    line-height: 18px;
    color: #424242;
}
#invitation_n_update {
    width: 310px;
    float: right;
}
#invitations {
    border: solid 1px #CCCCCC;
    background: #F0E9E9;
    background: -moz-linear-gradient(top, #FAFAFA, #FEF2F2);
    background: -webkit-linear-gradient(top, #FAFAFA, #FEF2F2);
    padding: 10px 10px;
}
#recently_updates {
    border: solid 1px #CCCCCC;
    background: #E9EDF1;
    background: -moz-linear-gradient(top, #FAFAFA, #FEF2F2);
    background: -webkit-linear-gradient(top, #FAFAFA, #ECF8FF);
    padding: 10px 10px;
}
h5 {
    font: bold 14px/25px;
}
.cross {
    margin: 5px auto 5px auto;
    padding: 5px 10px 2px 10px;
    margin-bottom: 10px;
    border: transparent dashed 1px;
}
.cross_mouseover {
    border: #CCCCCC dashed 1px;
}
.category {
    display: none;
}
.category_title {
    color: #797979;
    text-align: right;
}

#recently_updates .crosses {
    overflow: hidden;
}

#invitations .crosses .cross h5 {color: #0591AC;}

#invitations .crosses .cross h5, #recently_updates .crosses .cross h5, #recently_updates .crosses .cross p.title > em {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#cross_list .category_title {
    width: 300px;
    border-bottom: solid 1px #ccc;
    margin: auto 0px auto auto;
    cursor: default;
}
#xType_upcoming .category_icon {
    width: 15px;
    height: 15px;
    background: url(/static/images/icons.png) no-repeat 0 -418px;
    margin-right: 8px;
    vertical-align: middle;
}
.category_title .arrow {
    width: 15px;
    height: 15px;
    background: url(/static/images/icons.png) no-repeat -20px -660px;
    margin: 0 5px;
    vertical-align: middle;
}
.category_title .arrow_up {
    width: 16px;
    height: 16px;
    background: url(/static/images/icons.png) no-repeat -20px -680px;
    margin: 0 5px;
    vertical-align: middle;
}
.invitation h5 a {
    color: #0591AC;
}
#invitations .category_title {
    color: #0591AC;
}
#invitations .category_icon {
    width: 16px;
    height: 16px;
    background: url(/static/images/icons.png) no-repeat 0px -456px;
    margin-right: 7px;
    vertical-align: middle;
}
#recently_updates .category_icon {
    width: 16px;
    height: 16px;
    background: url(/static/images/icons.png) no-repeat -1px -500px;
    margin-right: 7px;
    vertical-align: middle;
}
#recently_updates .clock {
    background: url(/static/images/icons.png) no-repeat -243px -538px;
    padding-left: 20px;
}
#recently_updates .place {
    background: url(/static/images/icons.png) no-repeat -243px -568px;
    padding-left: 20px;
}

.cross_link {
    color: #424242;
}

.cross_link:hover {
    text-decoration: none;
}

.cross_link .muted {
    color: #797979;
}

em {
    color: #0591AC;
}
.invitation > button {
    background: url(/static/images/btn.png) no-repeat -220px -234px;
    color: #ffffff;
    font-size: 14px;
    line-height: 23px;
    width: 60px;
    height: 25px;
    border: 0;
    position: absolute;
    margin: -3px auto auto 210px;
    cursor: pointer;
}
.more_or_less {
    text-align: right;
    margin-bottom: 20px;
}
.more_or_less a {
    text-decoration: underline;
}


/* edit user by Handaoliang */
.bgcom {
    background:#ffffff;
}
.edit_user {
    clear: both;
    width: 838px;
    overflow: hidden;
    border: solid 1px #e9e9e9;
    background:#fff;
    margin:0 auto;
}
.edit_user #profile_avatar {
    float: left;
    width: 85px;
    height: 110px;
    padding: 5px;
}
.edit_user #profile_avatar .big_header {
    display: block;
    background-color: #EEEEEE;
    width: 79px;
    height: 79px;
    border: solid 1px #e9e9e9;
}
.edit_user button.change {
    width:80px; height:24px; cursor: pointer; margin-top: 5px;
    background:url(/static/images/btn.png) no-repeat 0px -672px; cursor:pointer;
    padding-bottom: 2px;
}
.edit_user .u_con {
    float: left;
    width: 556px;
    height: 110px;
    padding-left: 24px;
}
.edit_user .u_con h1 {
    font: 18px/24px Verdana, Arial, Helvetica, sans-serif;
    color: #424242;
}
.edit_user .u_con h1 input {
    width: 200px; height: 18px;
    font: bold 14px/20px Verdana, Arial, Helvetica, sans-serif;
    border: #c5c5c5 1px solid;
}
.edit_user .u_con p {
    margin-top: 6px;
    font: 14px/20px Verdana, Arial, Helvetica, sans-serif;
}
.edit_user .u_con p .identity_input {
    width: 120px; height: 18px;
    font: bold 14px/20px Verdana, Arial, Helvetica, sans-serif;
    border: #c5c5c5 1px solid;
}
.edit_user .u_con p .identity_submit {
    background-color:#0081A2;color:#FFF;
}
.edit_user .u_con p button.janbtn {
    width: 20px;
    height: 18px;
    background: url(/static/images/add_misun.gif) no-repeat 0 2px;
}
.edit_user .u_con p button.jiabtn {
    width: 20px;
    height: 18px;
    background: url(/static/images/add_misun.gif) no-repeat 0 -26px;
}
.edit_user .u_con p em {
    color: #a0a0a0;
    font-style: italic;
}
.edit_user .u_con p .name {
    color: #020202;
}
.edit_user .u_con p img.s_header {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 2px;
    border-radius: 2px;
}
.edit_user .u_con p img.worning {
    width: 14px;
    height: 14px;
    background: url(/static/images/icons.png) no-repeat 0 -664px;
    margin: 0 3px 0 10px;
    vertical-align: baseline;
}
.edit_user .u_con p i {
    font: 12px/20px Verdana, Arial, Helvetica, sans-serif;
    color: #a0a0a0
}
.edit_user .u_con p span.id_name {
    font-weight: bold;
    color: #424242;
}
.edit_user .u_con p button {
    width: 84px; height:19px; text-align: center;
    font: 12px Verdana, Arial, Helvetica, sans-serif;
    color: #020202; cursor:pointer;
    background: url(/static/images/btn.png) no-repeat 0 -79px;
    border: 0; border-right:1px solid #ADB9C2;
}

.edit_user .u_con p.identity_list {
    display: block;
    font: 12px/18px Verdana, Arial, Helvetica, sans-serif;
    clear: both;
    margin-top: 4px;
    height: 20px;
}

.edit_user .u_con p.identity_list span.identity_email {
    font-weight: bold;
    font-style: italic;
    color: #797979;
}

.edit_user .u_con p.identity_list span.identity_icon {
    cursor: pointer;
    width: 11px;
    height: 11px;
    margin-left: -17px;
    margin-top: 3px;
    display: none;
}

.edit_user .u_con p.identity_list span.identity_remove {
    background: url(/static/images/profile_subs.png) no-repeat;
}

.edit_user .u_con p.identity_list span.identity_add {
    background: url(/static/images/profile_plus.png) no-repeat;
}

.edit_user .u_con:hover p.identity_list span.identity_icon {
    display: block;
}

.edit_user .u_con p.identity_list span.identity_button {
    margin-left: 0px;
    text-align: center;
    display: inline-block;
    background-color: #EAEAEA;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFEFF), to(#EAEAEA));
    background-image: -webkit-linear-gradient(top, #FFFEFF, #EAEAEA);
    background-image:    -moz-linear-gradient(top, #FFFEFF, #EAEAEA);
    background-image:     -ms-linear-gradient(top, #FFFEFF, #EAEAEA);
    background-image:      -o-linear-gradient(top, #FFFEFF, #EAEAEA);
    -moz-box-shadow:    1px 1px 2px 0.25px rgba(0,0,0,0.25);
    -webkit-box-shadow: 1px 1px 2px 0.25px rgba(0,0,0,0.25);
    box-shadow:         1px 1px 2px 0.25px rgba(0,0,0,0.25);
    border-radius: 2px;
}

.edit_user .u_con p.identity_list span.identity_add_txt {
    width: 112px;
}

.edit_user .u_con p.identity_list img{ float:left }
.edit_user .u_con p.identity_list span{ display:block; float:left; margin-left:5px; }
.edit_user .u_num {
    float: right; padding:10px 0;
    width: 160px; height:110px;
    text-align: right;
    text-align: center;
}
.edit_user .u_num span {
    color: #aaaaaa;
    font-size: 12px;
}
.edit_user .u_num p.num {
    font: bold 38px Verdana, Arial, Helvetica, sans-serif bold;
    color: #0591af;
}
.edit_user .u_num p.num_info {
    color: #333333;
    font-size: 12px;
}

.edit_user .u_num button {
    width:80px; height:24px;
    background:url(/static/images/btn.png) no-repeat 0px -672px; cursor:pointer;
    text-align: center; border:0;
    font: 14px/14px Verdana, Arial, Helvetica, sans-serif;
    color: #696969; border: 0;
    margin-top: 15px; cursor: pointer;
}
.edit_user .u_num button.ch_pwd {
    width:150px; height:26px;
    margin:0 0 40px 0;
    background:url(/static/images/btn.png) no-repeat 0px -640px;
}
.edit_user .u_con p button.boright {
    border-right: #adb9c2 1px solid;
}
.edit_user .u_num input {
    width: 126px;
    height: 18px;
    text-align: center;
    font: 11px/20px Verdana, Arial, Helvetica, sans-serif;
    margin: 10px 0;
    background: url(/static/images/btn.png) no-repeat 0 -79px;
    padding:0 0 2px 0;
    color: #020202;
    border: #adb9c2 1px solid;
    border-width: 0 1px 0 0;
}
.edit_user .u_num a{
    padding-right:2px;
    font: 12px/23px Verdana, Arial, Helvetica, sans-serif;
    color: #a0a0a0;
    text-decoration: underline;
    font-style: italic;
}
