@charset "UTF-8";
/* profile style by Leask */


.shadow_840 {
    background: url(/static/images/shadow.png) no-repeat;
    height: 20px;
    margin: 0 auto;
    width: 840px;
}
.shadow_310 {
    background: url(/static/images/shadow.png) no-repeat -530px 0px;
    height: 20px;
    margin: 0 auto;
    width: 310px;
}
#cross_area {
    width: 840px;
    margin: 0 auto;
    overflow: auto;
}
#cross_list {
    width: 480px;
    float: left;
    padding: 20px 20px 20px 10px;
    font-size: 12px;
    line-height: 18px;
    color: #333333;
}
#invitation_n_update {
    width: 310px;
    float: right;
}
#invitations {
    border: solid 1px #CCCCCC;
    background: #F0E9E9;
    background: -moz-linear-gradient(top, #FAFAFA, #FEF2F2);
    background: -webkit-linear-gradient(top, #FAFAFA, #FEF2F2);
    padding: 10px 10px;
}
#recently_updates {
    border: solid 1px #CCCCCC;
    background: #E9EDF1;
    background: -moz-linear-gradient(top, #FAFAFA, #FEF2F2);
    background: -webkit-linear-gradient(top, #FAFAFA, #ECF8FF);
    padding: 10px 10px;
}
h5 {
    font: bold 14px/25px;
}
.cross {
    padding: 5px 0px 2px 10px;
    margin-bottom: 10px;
}
.category_title {
    text-align: right;
}
#cross_list .category_title {
    width: 300px;
    border-bottom: solid 1px #ccc;
    margin: auto 0px auto auto;
    cursor: default;
}
#xType_upcoming .category_icon {
    width: 15px;
    height: 15px;
    background: url(/static/images/icons.png) no-repeat 0 -418px;
    margin-right: 8px;
    vertical-align: middle;
}
.category_title .arrow {
    width: 15px;
    height: 15px;
    background: url(/static/images/icons.png) no-repeat -20px -660px;
    margin: 0 5px;
    vertical-align: middle;
}
.category_title .arrow_up {
    width: 16px;
    height: 16px;
    background: url(/static/images/icons.png) no-repeat -20px -680px;
    margin: 0 5px;
    vertical-align: middle;
}
#invitations .category_icon {
    width: 16px;
    height: 16px;
    background: url(/static/images/icons.png) no-repeat 0px -456px;
    margin-right: 7px;
    vertical-align: middle;
}
#recently_updates .category_icon {
    width: 16px;
    height: 16px;
    background: url(/static/images/icons.png) no-repeat -1px -500px;
    margin-right: 7px;
    vertical-align: middle;
}
#recently_updates .clock {
    background: url(/static/images/icons.png) no-repeat -243px -538px;
    padding-left: 20px;
}
#recently_updates .place {
    background: url(/static/images/icons.png) no-repeat -233px -561px;
    padding-left: 20px;
}
.cross_link:hover {
    text-decoration: none;
}
em {
    color: #0591AC;
}



/*
#invitations dl { margin:4px auto; height:45px; padding:5px 13px; position:relative;}
#invitations dl dt a { font:bold 14px/25px Verdana, Arial, Helvetica, sans-serif; color:#0591af;}
#invitations dl button { background:url(/static/images/btn.png) no-repeat -220px -234px; color:#ffffff; font:14px/23px Verdana, Arial, Helvetica, sans-serif; width:60px; height:25px; border:0; position:absolute; right:10px; top:5px; cursor:pointer;}
#invitations dl.bdown { background:#ffffff;}
#recently_updates .bgdq { background:#d5e6e9}
.more { text-align:right;font:13px/20px Verdana;width:96%}
.more a { color:#020202}
*/



/* edit user by Handaoliang */
.bgcom {
    background:#ffffff;
}
.edit_user {
    clear: both;
    width: 838px;
    overflow: hidden;
    border: solid 1px #e9e9e9;
    background:#fff;
    margin:0 auto;
}
.edit_user #profile_avatar {
    float: left;
    width: 85px;
    height: 110px;
    padding: 5px;
}
.edit_user #profile_avatar .big_header {
    display: block;
    background-color: #EEEEEE;
    width: 79px;
    height: 79px;
    border: solid 1px #e9e9e9;
}
.edit_user button.change {
    width: 81px;
    height: 26px;
    color: #020202;
    cursor: pointer;
    margin-top: 5px;
    background: url(/static/images/btn.png) no-repeat -320px -45px;
    padding-bottom: 2px;
    border: 1px solid #8FB9CF;
}
.edit_user .u_con {
    float: left;
    width: 590px;
}
.edit_user .u_con h1 {
    font: bold 18px/28px Verdana, Arial, Helvetica, sans-serif;
    color: #020202;
}
.edit_user .u_con h1 input {
    width: 200px;
    height: 16px;
    font: bold 14px/20px Verdana, Arial, Helvetica, sans-serif;
    border: #c5c5c5 1px solid;
}
.edit_user .u_con p {
    margin-top: 6px;
    font: 14px/20px Verdana, Arial, Helvetica, sans-serif;
}
.edit_user .u_con p button.janbtn {
    width: 20px;
    height: 18px;
    background: url(/static/images/add_misun.gif) no-repeat 0 2px;
}
.edit_user .u_con p button.jiabtn {
    width: 20px;
    height: 18px;
    background: url(/static/images/add_misun.gif) no-repeat 0 -26px;
}

.edit_user .u_con p em {
    color: #a0a0a0;
    font-style: italic;
}
.edit_user .u_con p .name {
    color: #020202;
}
.edit_user .u_con p img.s_header {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 15px;
}
.edit_user .u_con p img.worning {
    width: 14px;
    height: 14px;
    background: url(/static/images/icons.png) no-repeat 0 -664px;
    margin: 0 8px 0 25px;
    vertical-align: baseline;
}
.edit_user .u_con p i {
    font: 12px/20px Verdana, Arial, Helvetica, sans-serif;
    color: #a0a0a0
}
.edit_user .u_con p button {
    width: 106px;
    text-align: center;
    font: 11px/20px Verdana, Arial, Helvetica, sans-serif;
    color: #020202;
    margin-right: 10px;
    background: url(/static/images/btn.png) no-repeat 0 -79px;
    border: 0;
    line-height: 17px;
    padding-bottom: 2px;
}
.edit_user .u_num {
    float: right;
    width: 140px;
    text-align: right;
    text-align: center;
}
.edit_user .u_num span {
    color: #aaaaaa;
    font-size: 12px;
}
.edit_user .u_num p {
    font: bold 40px/45px Verdana, Arial, Helvetica, sans-serif bold;
    color: #0591af;
    padding-right: 40px;
    text-align: right
}
.edit_user .u_num button {
    width: 80px;
    height: 26px;
    background: url(/static/images/btn.png) no-repeat 0 -44px;
    text-align: center;
    font: 14px/26px Verdana, Arial, Helvetica, sans-serif;
    color: #696969; border: 0;
    margin-top: 20px;
    border-right: 1px solid #8FB9CF;
    cursor: pointer;
}
.edit_user .u_con p button.boright {
    border-right: #adb9c2 1px solid;
}
.edit_user .u_num input {
    width: 126px;
    height: 18px;
    text-align: center;
    font: 11px/20px Verdana, Arial, Helvetica, sans-serif;
    margin: 10px 0;
    background: url(/static/images/btn.png) no-repeat 0 -79px;
    padding:0 0 2px 0;
    color: #020202;
    border: #adb9c2 1px solid;
    border-width: 0 1px 0 0;
}
.edit_user .u_num a{
    padding-right:10px;
    font: 12px/23px Verdana, Arial, Helvetica, sans-serif;
    color: #a0a0a0;
    text-decoration: underline;
    font-style: italic;
}
