@charset "UTF-8";
/* profile style by Leask */


.shadow_840 { background:url(/static/images/shadow.png) no-repeat; height:20px; margin:0 auto; width:840px; }
.shadow_310 { background:url(/static/images/shadow.png) no-repeat -530px 0px; height:20px; margin:0 auto; width:310px; }


.edit_user {
    clear: both;
    width: 838px;
    overflow: hidden;
    border: solid 1px #e9e9e9;
    background:#fff;
    margin:0 auto;
}
.edit_user #profile_avatar {
    float: left;
    width: 85px;
    height: 110px;
    padding: 5px;
}
.edit_user #profile_avatar .big_header {
    display: block;
    background-color: #EEEEEE;
    width: 79px;
    height: 79px;
    border: solid 1px #e9e9e9;
}
.edit_user button.change {
    width: 81px;
    height: 26px;
    color: #020202;
    cursor: pointer;
    margin-top: 5px;
    background: url(/static/images/btn.png) no-repeat -320px -45px;
    padding-bottom: 2px;
    border: 1px solid #8FB9CF;
}
.edit_user .u_con {
    float: left;
    width: 590px;
}
.edit_user .u_con h1 {
    font: bold 18px/28px Verdana, Arial, Helvetica, sans-serif;
    color: #020202;
}
.edit_user .u_con h1 input {
    width: 200px;
    height: 16px;
    font: bold 14px/20px Verdana, Arial, Helvetica, sans-serif;
    border: #c5c5c5 1px solid;
}
.edit_user .u_con p {
    margin-top: 6px;
    font: 14px/20px Verdana, Arial, Helvetica, sans-serif;
}
.edit_user .u_con p button.janbtn {
    width: 20px;
    height: 18px;
    background: url(/static/images/add_misun.gif) no-repeat 0 2px;
}
.edit_user .u_con p button.jiabtn {
    width: 20px;
    height: 18px;
    background: url(/static/images/add_misun.gif) no-repeat 0 -26px;
}

.edit_user .u_con p em {
    color: #a0a0a0;
    font-style: italic;
}
.edit_user .u_con p .name {
    color: #020202;
}
.edit_user .u_con p img.s_header {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 15px;
}
.edit_user .u_con p img.worning {
    width: 14px;
    height: 14px;
    background: url(/static/images/icons.png) no-repeat 0 -664px;
    margin: 0 8px 0 25px;
    vertical-align: baseline;
}
.edit_user .u_con p i {
    font: 12px/20px Verdana, Arial, Helvetica, sans-serif;
    color: #a0a0a0
}
.edit_user .u_con p button {
    width: 106px;
    text-align: center;
    font: 11px/20px Verdana, Arial, Helvetica, sans-serif;
    color: #020202;
    margin-right: 10px;
    background: url(/static/images/btn.png) no-repeat 0 -79px;
    border: 0;
    line-height: 17px;
    padding-bottom: 2px;
}
.edit_user .u_num {
    float: right;
    width: 140px;
    text-align: right;
    text-align: center;
}
.edit_user .u_num span {
    color: #aaaaaa;
    font-size: 12px;
}
.edit_user .u_num p {
    font: bold 40px/45px Verdana, Arial, Helvetica, sans-serif bold;
    color: #0591af;
    padding-right: 40px;
    text-align: right
}
.edit_user .u_num button {
    width: 80px;
    height: 26px;
    background: url(/static/images/btn.png) no-repeat 0 -44px;
    text-align: center;
    font: 14px/26px Verdana, Arial, Helvetica, sans-serif;
    color: #696969; border: 0;
    margin-top: 20px;
    border-right: 1px solid #8FB9CF;
    cursor: pointer;
}
.edit_user .u_con p button.boright {
    border-right: #adb9c2 1px solid;
}
.edit_user .u_num input {
    width: 126px;
    height: 18px;
    text-align: center;
    font: 11px/20px Verdana, Arial, Helvetica, sans-serif;
    margin: 10px 0;
    background: url(/static/images/btn.png) no-repeat 0 -79px;
    padding:0 0 2px 0;
    color: #020202;
    border: #adb9c2 1px solid;
    border-width: 0 1px 0 0;
}
.edit_user .u_num a{
    padding-right:10px;
    font: 12px/23px Verdana, Arial, Helvetica, sans-serif;
    color: #a0a0a0;
    text-decoration: underline;
    font-style: italic;
}
















.profile_main{width:840px; margin:0 auto; overflow:auto;}
.maringbt{margin-bottom:10px;}
.bgcom{background:#ffffff;}
.coming{padding:5px 0px 2px 10px;}
.profile_main .left{ width:480px; float:left; padding:20px 20px 20px 10px; border:solid 1px #d6d6d6; font:12px/26px Verdana, Arial, Helvetica, sans-serif; }
.profile_main .left .a_tltle{ font:bold 14px/25px Verdana, Arial, Helvetica, sans-serif; color:#020202; clear:both;}
.profile_main .left  p{ font:13px/18px Verdana;line-height:20px;}
.profile_main .left  p span{color:#a0a0a0;}
.profile_main .left .p_right{ width:200px; border-bottom:solid 1px #ccc; height:20px; line-height:20px; margin-left:275px; text-align:right; cursor: default;}
.profile_main .left .p_right img.l_icon{ width:15px; height:15px; background:url(/static/images/icons.png) no-repeat 0 -418px; margin-right:8px; vertical-align:middle;}
.profile_main .left .p_right img.arrow{ width:15px; height:15px; background:url(/static/images/icons.png) no-repeat -20px -660px; margin:0 5px; vertical-align:middle;}
.profile_main .left .p_right img.arrow_up{ width:15px; height:15px; background:url(/static/images/icons.png) no-repeat -20px -680px; margin:0 5px; vertical-align:middle;}
.profile_main .right{ width:310px; float:right;}
.profile_main .right .invitations{ border:solid 1px #eaedee; background:#edf8fe; padding:10px 7px 3px 7px;}
.profile_main .right .p_right{ width:190px; margin-left:100px; text-align:right; height:28px; font: 12px/28px; }
.profile_main .right .p_right img.text{ width:16px; height:16px; background:url(/static/images/icons.png) no-repeat 0px -456px; margin-right:7px; vertical-align:middle;}
.profile_main .right .p_right img.update{ width:17px; height:20px; background:url(/static/images/icons.png) no-repeat 0px -498px; margin-right:7px; vertical-align:middle;}

.profile_main .right .invitations .p_right a{ color:#0591af;}
.profile_main .right .invitations dl{ margin:4px auto; height:45px; padding:5px 13px; position:relative;}
.profile_main .right .invitations dl dt a{ font:bold 14px/25px Verdana, Arial, Helvetica, sans-serif; color:#0591af;}
.profile_main .right .invitations dl button{ background:url(/static/images/btn.png) no-repeat -220px -234px; color:#ffffff; font:14px/23px Verdana, Arial, Helvetica, sans-serif; width:60px; height:25px; border:0; position:absolute; right:10px; top:5px; cursor:pointer;}
.profile_main .right .invitations dl.bdown{ background:#ffffff;}

.profile_main .right .Recently_updates{ background:#ffffff; border:solid 1px #eaedee; padding:10px 10px;}
.profile_main .right .Recently_updates .bgdq{ background:#d5e6e9}
.profile_main .right .Recently_updates h5{ font:bold 14px/23px Verdana, Arial, Helvetica, sans-serif; padding-left:10px;}
.profile_main .right .Recently_updates p{ padding-left:10px; font:13px/18px  "Lucida Grande","Lucida SansUnicode",Helvetica,Arial,Verdana,sans-serif ; padding-bottom:5px; }
.profile_main .right .Recently_updates p span{ color:#0591af;}
.profile_main .right .Recently_updates p.clock{ background:url(/static/images/icons.png) no-repeat -233px -538px; padding-left:35px; }
.profile_main .right .Recently_updates p.on_line{ background:url(/static/images/icons.png) no-repeat -233px -561px; padding-left:35px; }
.profile_main .right .more{text-align:right;font:13px/20px Verdana;width:96%}
.profile_main .right .more a{color:#020202}


.cross_link:hover {text-decoration: none;}
