*{ margin:0; padding:0;
}
body {
    font:13px Lucida Grande, Verdana, LucidaSansUnicode,Helvetica,Arial,sans-serif;
    background:url(/static/images/global_header_bg.jpg) repeat-x 0 0;
    color:#696969
}
a {text-decoration:none; color:#3f3f3f;outline:none;
}
a:hover {color:#43a9d2;text-decoration: underline;
}

a.underline{ text-decoration:underline;
}
ul li { padding:0; margin:0; list-style:none;
}
img {border:0;
}
input,textarea{font:14px verdana ;color:#696969;padding:4clopx;}

em{font-style:normal}
em.x{font-style:italic;color:#9c9c9c}
em.y{color:#0591af}
em.h3{font-size:24px;font-family:Verdana; }
.fbg{background:#d5e6e9}
.discard{text-decoration:underline; margin-left:20px}

.menu_iframe{
	width:228px;
	overflow:hidden;
	filter: Alpha(Opacity=0);
	position:absolute;
	opacity:0;
	position:absolute;
	visibility:inherit;
	width:110px;
	z-index:-1;top:0px;
}

/*header*/
#content{width:880px;margin: auto;}
#content_x{width:880px;margin: 20px auto;}
#content:after { content: ".";display: block;height: 0;clear: both;visibility: hidden;}
#index{width:800px;margin:0 auto;padding:30px 0;}
/************
pause this style
#index h2{color:#0591af;font-size:40px;height:80px;line-height:80px;font-family:Verdana;font-weight:normal;}
*******************/

/*fuo*/
.fsuo{position:relative;}
.suobtn{background:url("/static/images/icons.png") no-repeat left -250px;height:20px;position:absolute;right:60px;top:0px;width:20px;}
.xfc{background:#f4fcfe;border:#90c3ce 1px solid;line-height:20px;position:absolute;right:10px;top:32px;width:220px;padding:8px;z-index:10}
.xfc span{font-size:14px;}
.fjiao{background:url("/static/images/jiao.jpg") no-repeat;height:196px;width:106px;right:-68px;top:74px;position:absolute;z-index:-10}
.Preview{background:url("/static/images/Preview.png") no-repeat;height:50px;width:166px;left:-46px;top:-25px;position:relative;}

.preview_hr{width:880px;height:20px;background:url(/static/images/pvhr.jpg) no-repeat 0 8px;margin:0 auto; margin-top:20px; margin-bottom:20px}
.preview_hr a{width:40px;height:20px;display:block;color:#6a6a6a;font-size:14px;line-height:20px;background: url("/static/images/btn.png") no-repeat left -103px;padding-left: 20px;margin:0 auto;
}
.preview_hr a .display{width:40px;height:20px;display:block;color:#6a6a6a;font-size:14px;line-height:20px;background: url("/static/images/btn.png") no-repeat left -113px;padding-left: 20px;margin:0 auto;
}

.exfel{float:left;width:480px;
}

.exfel p.text{font-size:15px;margin-top:10px;line-height:22px;
}
.exfel p.text a{background:url(/static/images/btn.png) no-repeat 50px -107px;padding-right:20px;color:#aaaaaa;font-style:italic; font-size:12px;margin-left:10px;
}
.exfel ul.ynbtn{margin:25px 0;height:30px;
}
.exfel ul.ynbtn li{width:150px;float:left;
}
.exfel ul.ynbtn li a{width:131px;height:31px;color:#ffffff;text-align:center;display:block;font-size:24px;line-height:30px;text-decoration:none;
}
.exfel ul.ynbtn li a.yes{background:url(/static/images/btn.png) no-repeat left top;
}
.exfel ul.ynbtn li a.no{background:url(/static/images/btn.png) no-repeat -150px top;
}
.exfel ul.ynbtn li a:hover.yes{background:url(/static/images/btn.png) no-repeat -300px top;
}
.exfel ul.ynbtn li a:hover.no{background:url(/static/images/btn.png) no-repeat -450px top;
}
.exfel ul.ynbtn li a:visited.yes{background:url(/static/images/btn.png) no-repeat -600px top;
}
.exfel ul.ynbtn li a:visited.no{background:url(/static/images/btn.png) no-repeat -750px top;
}
.exfel ul.ynbtn li a.maybe{background:none;color:#838383;text-decoration: underline;font-size:18px;text-align:left;
}
.exfel ul.ynbtn li a.yes_readonly{background:url(/static/images/btn.png) no-repeat -900px top;cursor:default;
}
.exfel ul.ynbtn li a.no_readonly{background:url(/static/images/btn.png) no-repeat -1050px top;cursor:default;
}
.exfel ul.ynbtn li a.maybe_readonly{background:none;color:#838383;text-decoration: underline;font-size:18px;text-align:left;cursor:default;
}
.exfer{float:right;width:278px;}
.exfer p.map{margin-top:20px}
.exfer .exfee{margin-top:40px;}
.feetop{height:40px;}
.exfer .exfee h3{background:url(/static/images/icons.png) no-repeat left -28px;text-indent:35px;font-size:24px;height:40px;line-height:40px;font-weight:normal;float:left;width:100px;color:#696969;margin:0}
.exfer .exfee p.of{float:right;width:95px;}
.exfer .exfee p.of em.bignb{float:left;font-size:36px;color:#0591AF;width:30px;}

.albg{background:#ffffff url(/static/images/exfebg.jpg) no-repeat;}



/** public class **/

.step {width:100%;
}
.step:after { content: ".";display: block;height: 0;clear: both;visibility: hidden;
}

.pic40{width:40px;height:40px;float:left;margin-right:15px;}
.pic40 img{width:40px;height:40px;}
.pic20{width:20px;height:20px;float:left;margin-right:8px;}
.pic20 img{width:20px;height:20px;}
/* comment list */
.Conversation{margin:20px 0;width:500px;}
.Conversation h3{background:url(/static/images/icons.png) no-repeat 1px 14px;text-indent:40px;font-size:24px;height:50px;line-height:50px;font-weight:normal;}
.Conversation .commenttext{margin:15px 0;height:60px}
.Conversation .commenttext img{float:left;}
.Conversation .commenttext .ctext{width:422px;height:42px;border:#afafaf 1px solid;float:right;font-size:12px;background:#fff;resize: none; z-index:-10}
.Conversation #post_submit{background:url("/static/images/enter.png") no-repeat scroll right bottom; width:25px; height:25px; border:none; float: right; z-index:2; position: absolute; margin:15px 0 0 434px; }
.commentlist {margin: 10px 0px;line-height: 130%;}
.commentlist li {margin:20px 0;overflow:hidden;line-height:20px;}
.comment {float:left;font-size:13px;width:360px;}
.comment span{color:#020202;font-weight:bold;}
.times {float:right;color:#a0a0a0}

.samlcommentlist {margin:10px 0px;line-height: 130%;}
.samlcommentlist li {margin:10px 0;overflow:hidden;line-height:20px;}
.smcomment { float:left; font-size:12px; width: 190px; overflow: hidden; white-space: nowrap; }
.smcomment div { float: left; }
.smcomment span.ex_name { color: #020202; font-size: 13px; padding-right: 5px; }
.smcomment span.lb { background: url(/static/images/btn.png) no-repeat left -281px; color: #ffffff; padding: 3px; font-size: 11px; }
.cs {float:right;width:20px;height:20px;}
.cs em {width:20px;height:20px;background:url(/static/images/icons.png) no-repeat;display:block;}
.cs em.c1{background-position:-1px -82px}
.cs em.c2{background-position:left -123px}


/*浮层*/
/*---- xbox1 ----*/
b.rbottom{display:block;}
b.r1,b.rbottom b.r1{background:#ffffff;}
b.rbottom b{display:block;height:1px;overflow: hidden;background:#ffffff;border:#f2f2f2 1p solid;  }
b.rbottomh{display:block;}
b.rbottomh b.r1{background:#f2f2f2;}
b.rbottomh b{display:block;height:1px;overflow: hidden;background:#f2f2f2;border:#f2f2f2 1p solid; }
b.r1{margin: 0 2px}
b.r2{margin: 0 1px}
b.r3{margin: 0px}
.identification_dialog{
	position:absolute; padding:0; width:463px; overflow:hidden;
	line-height:200%; z-index:201; background:transparent;
}
.idialog_inpage{ margin:auto; position:relative; z-index:0; }
.idialog_inpage .titles { display:none; }
.identification_dialog .titles{margin:0;height:25px;padding:0 8px;background:url(/static/images/fuceng_title.png) no-repeat 0 0; }
.identification_dialog .titles div{float:left; height:25px; width:20px;}
.identification_dialog .titles a{float:left;display:block;height:25px;width:20px;font-style:normal;cursor:pointer;text-indent:-9999px;}
.identification_dialog .titles div.tl{float:right; text-align:right; color:#226571; width:420px; font-size:12px;  font-weight:normal; margin-top:-2px; text-shadow:0 0.1em #50d2dd}
.overFrame{background:#fafafa;padding-bottom:15px;}
.overFramel{background:#ffffff;padding-bottom:15px;}
.overFrameh{background:#f2f2f2;padding:10px 0 15px;}
.overFramelogin{width:370px;margin:0 auto;padding:45px 0;}
.invi{width:412px;margin:0 auto;padding-top:20px;color:#020202;font-size:13px;line-height:20px;}
.invi dl{margin-top:5px;padding:5px 8px;position:relative;}
.invi dl dt span{font-size:16px;color:#0591af}
.invi dl dd button{display:none;background:url(/static/images/btn.png) no-repeat -220px -234px; color:#ffffff; font:14px/23px Verdana, Arial, Helvetica, sans-serif; width:60px; height:25px; border:0; position:absolute; right:10px; top:15px; cursor:pointer;padding-bottom:2px;}
.invi .inbtn{color:#208196;font-size:14px;height:20px;text-align:right;}
.invi .inbtn p.lb,.upd .upbtn p.uplb{width:150px;float:right;cursor:pointer;}
.invi .inbtn button{background: url("/static/images/btn.png") no-repeat scroll 2px -176px transparent;border:0;color: #FFFFFF;font:12px Verdana;height: 20px;text-align:center;width:95px;cursor:pointer;display:none;padding-bottom:2px;float:right;margin-left:8px;}
.identification_dialog .inbtn em,.identification_dialog .upbtn em{width:20px;height:20px;background:url(/static/images/icons.png) no-repeat;padding-left:25px;}
.identification_dialog .inbtn em.in,.identification_dialog .upbtn em.in{background-position:left -447px;}
.identification_dialog .inbtn em.up,.identification_dialog .upbtn em.up{background-position:left -494px;}
.identification_dialog .inbtn span,.identification_dialog .upbtn span{padding-left:8px;padding-top:4px;float:right}


.upd{width:412px;margin:0 auto;line-height:20px;}
.upd .upbtn{text-align:right;color:#656565;font-size:14px;height:20px; maggin-top:5px}
.upd .upbtn button{background:url("/static/images/btn.png") no-repeat scroll -108px -176px;border:0;color:#FFFFFF;font:12px Verdana;height:20px;text-align:center;width:95px;cursor:pointer;display:none;padding-bottom:2px;float:right;margin-left:8px;}
.upd dl{margin-top:15px;padding:5px 8px;position:relative;}
.upd dl dt span{font-size:16px;color:#020202}
.upd dl dd button{position:absolute;height:20px;right:2px;top:5px;background:url(/static/images/btn.png) no-repeat left -144px;width:20px;display:none;text-indent:-9999px;border:0 }




.centerbg{width:1000px;margin:0 auto;background:url(/static/images/ceatebg.png) repeat-y top center;padding:30px 0 45px;}

/*登录*/
.loginBao{width:325px;margin:0px auto;border:1px solid #CCCCCC;padding:50px 125px;background:#ffffff;position:relative;z-index:10}
.login{margin:0 auto;}
.login ul{margin-top:10px;}
.login ul li{clear:both; height:35px;line-height:35px;}
.login ul label{width:95px;height:30px;line-height:20px;float:left;text-align:right;}
.login ul li input.inputText{ height:17px;line-height:17px;border:#c5c5c5 1px solid;width:218px;float:left;margin-left:8px; background-color: transparent; }
.login ul li .identity_box{ position:absolute; margin-top:0px; margin-left:103px; z-index:203; overflow:hidden; }
.login ul li #identity_dbox{ position:absolute; height:17px; width:214px; padding-left:4px; line-height:15px; color:#CCC; padding-top:2px; margin-top:0px; margin-left:103px; z-index:202; }
.login .loginbtn p .dx{width:55px;height:15px;position:absolute;top:10px;}
.login h3{font-size:19px;line-height:25px;text-align:center;}
.login h3 a{color:#0591af;}
.login h4{font-size:18px;line-height:25px;text-align:center;}
.login h4 span{font-size:24px;color:#0591af;}
.login p.t{font-size:14px;margin:20px 0;text-align:center;line-height:20px;}
.login .account{
    font-size:14px;margin:20px 0 0 0;line-height:20px;
    background:url(/static/images/hr_or.png) no-repeat 0 55px;
}
.login .account p{ width:200px; float:left}
.login .account span{ width:150px}
.login .account span img{ padding:2px 6px }
.login .account h4{ font-size:14px; font-weight:normal; text-align:left; margin-top:30px}
.login input.sub{
    height:26px; border:0; width:80px; font-size:14px; float:right; cursor:pointer;
    border-right:#8fb9d0 solid 1px; border-left:#8fb9d0 solid 1px;
    background:url(/static/images/btn.png) no-repeat -1px -44px;
}
.login input.sub:hover { background:url(/static/images/btn.png) no-repeat -310px -44px; }
.login input.sub:active { background:url(/static/images/btn.png) no-repeat -605px -44px; }

.login input.changepassword{
    height:26px; border:0; width:145px; font-size:14px; float:left; cursor:pointer;
    border-right:#8fb9d0 solid 1px; border-left:#8fb9d0 solid 1px;
    background:url(/static/images/btn.png) no-repeat -1px -44px;
}
.login input.changepassword:hover { background:url(/static/images/btn.png) no-repeat -302px -44px; }
.login input.changepassword:active { background:url(/static/images/btn.png) no-repeat -602px -44px; }

.login ul li p{height:26px;width:60px;margin:0 auto;}
.login ul li em{
    float:left; width:30px; height:20px; cursor:pointer;
    background:url(/static/images/icons.png) no-repeat;
}
.login ul li em.ic1{background-position:8px -284px;}
.login ul li em.ic2{background-position:8px -330px;}
.login ul li em.ic3{background-position:8px -374px;}
.login ul li em.loading{
    position:absolute; display:block; width:16px; height:16px;
    margin-left:332px; margin-top:2px; z-index:203; cursor:default;
    background:url(/static/images/loading_a.gif) no-repeat 0 0;
}
.login ul li em.delete{
    position:absolute; display:block; width:15px; height:15px;
    margin-left:306px; margin-top:2px; z-index:203; cursor:pointer;
    background:url(/static/images/icons.png) no-repeat left -691px;
}
.login ul li em.warning{  background: url("/static/images/btn.png") no-repeat scroll left -500px transparent;margin-left:8px}

.login ul .logincheck input{ margin-left:82px; line-height:200%}
.login ul .logincheck span{ margin-left:8px; }
.login ul .notice{ height:25px; color:#0591af; line-height:10px;}
.login ul .notice span{ margin-left:82px; margin-top:0;}

/*ceate*/
.createset {width:670px; margin:0px auto;padding:0 10px 15px 10px;z-index:10;}
.createset h3{ color:#020202; font:Arial, Helvetica, sans-serif; font-size:22px; font-weight:bold; margin-bottom:30px}
.createset h3 span{ color:#0591af}
.createset ul li{margin:0 0 10px 0; overflow:hidden; list-style:none; clear:both; }
.gather_focus { border: #c5c5c5 1px solid; background:#FAFAFA; }
.gather_blur { border: #c5c5c5 1px dashed; background:transparent; }
/*gather recovery by Leask*/
:focus {
    outline: none;
}
/*title*/
#g_title {
    position:absolute; z-index:2; margin:2px 0px 0px 5px;
    background-color:transparent; width:480px; height:24px;
    color:#020202; font-size:18px;
    border:0;
}
#gather_title_bg {
    position:absolute; margin-left:144px; padding:2px 0px 0px 5px;
    z-index:1; width:480px;height:24px; font-size:18px;
}
/*description*/
#gather_desc_blank {
    height: 30px;
}
#g_description {
    /* resize: none; */
    position:absolute; z-index:4; margin:2px 0px 0px 5px;
    background-color:transparent; width:480px; height:30px;
    color:#020202; font-size:14px; line-height: 20px;
    border:none; resize: none;
}
#gather_desc_bg {
    position:absolute; margin-left:144px; padding:2px 0px 0px 5px;
    z-index:3; width:480px; height:30px; font-size:14px;
}
/*datetime*/
#datetime_original {
    position:absolute; z-index:6; margin:2px 0px 0px 5px;
    background-color:transparent; width:163px; height:24px;
    color:#020202; font-size:14px;
    border:0;
}
#gather_date_bg {
    position:absolute; margin-left:144px; padding:2px 0px 0px 5px;
    z-index:5; width:163px; height:24px; font-size:14px;
}
/*place*/
#gather_place_blank {
    height: 100px;
}
#g_place {
    position:absolute; z-index:8; margin:2px 0px 0px 5px;
    background-color:transparent; width:163px; height:100px;
    color:#020202; font-size:14px;
    border:none; resize: none;
}
#gather_place_bg {
    position:absolute; margin-left:144px; padding:2px 0px 0px 5px;
    z-index:7; width:163px; height:100px; font-size:14px;
}
/*host by*/
#hostby {
    padding:2px 0px 0px 5px;
    width:163px; height:24px; font-size:14px;
}

/*exfee*/
#exfee {
    position:relative; z-index:10; margin:4px 0px 0px 5px;
    background-color:transparent; width:250px; height:24px;
    color:#020202; font-size:14px;
    border:none; resize: none;
}
#gather_exfee_bg {
    position:absolute; margin-left:144px; padding:2px 0px 0px 5px;
    z-index:9; width:250px; height:24px; font-size:14px;
}
#exfee_complete {
    position: absolute; z-index: 11; margin: 27px 0px 0px 144px; width:257px;
}
/*preview title*/
#pv_title {
    color:#0591ac; font-family:Verdana; font-weight:normal; word-break: break-all;
}
.pv_title_normal {
    line-height: 70px; font-size: 64px;
}
.pv_title_double {
    line-height: 56px; font-size: 52px; max-height: 112px; overflow: hidden;
}
/*preview datetime*/
#pv_relativetime {
    color:#0591af; overflow:hidden; font-weight:normal; padding:5px;
    margin-top:10px; word-break: break-all; font-size:36px;
}
/*preview place*/
#pv_place_line1 {
    color:#0591ac; overflow:hidden; font-weight:normal; padding:5px; margin-top:10px; word-break: break-all;
}
.pv_place_line1_normal {
    font-size:36px; line-height: 46px;
}
.pv_place_line1_double {
    font-size:30px; line-height: 36px; max-height: 72px;
}
#pv_place_line2 {
    color: #666666; font-family: Verdana; font-size: 18px; line-height: 24px;
    word-break: break-all; max-height: 96px; overflow: hidden;
}
#gather_submit_blank {
    height: 50px;
}
/*privacy*/
.privacy {
    cursor: default;
}


.createset ul li #post_submit{
    background:url("/static/images/enter.png") no-repeat scroll right bottom;
    width:25px; height:25px; border:none; z-index:100; position: absolute; margin-left:375px;
}
.createset ul li p.redbtn{height:22px;background:url(/static/images/btn.png) no-repeat left -500px; float:right; padding:2px 0 0 20px; margin:2px 45px 0 0; color:#fc6306}
.createset ul li label { width:105px;height:25px; margin:0 8px 0 0; line-height:25px;float:left;text-align:right;background:url(/static/images/icons.png) no-repeat;padding-right:30px;color:#020202;font-size:14px;}
.createset ul li .title { background-position:right -475px; }
.createset ul li .description { background-position:right -505px;}
.createset ul li .date { background-position:right -535px; }
.createset ul li .location { background-position:right -565px; }
.createset ul li .hostby { background-position:right 0px; }
.createset ul li .exfee { background-position:right -625px; }
.createset ul li .privacy  {background-position:right -595px; }
.createset ul li span {color:#9C9C9C; font-size:12px;line-height:18px;}
.createset ul li .count { float:right; margin:5px 38px 0 0; font-size:13px}
.createset ul li .count a { text-decoration:underline}
.createset ul li .count span {font-size:18px; color:#0591af}
.createset ul li p.privacy { line-height:30px; width:200px; float:left}
.createset ul li p.privacy span { color:#020202; font-size:14px}
.createset ul li p.privacy strong { color:#0591af}
.createset .creattext { width:487px; margin-left:143px; margin-top: -30px;}
.createset .creattext .vti{height:25px;line-height:25px;}
.createset .creattext .vti p{width:50px;}
.createset .creattext .vti p span{font-size:16px;color:#020202}
.createset .creattext input.inputText{padding:1px;border:#c5c5c5 1px solid;background:#ffffff;width:478px;color:#1f1f1f;height:24px;margin-top:10px}
.createset .creattext textarea{color:#d0d0d0;padding:1px;border:#c5c5c5 1px solid;background:#ffffff;width:485px;height:198px;margin-top:30px}
.createset .creattext textarea.ctext_1{height:72px;margin:0}
.createset .creattext .selecetafri{padding:0;border:#c5c5c5 1px dashed;background:#fcfbf9;width:485px;color:#1f1f1f;height:115px;margin-top:40px;overflow:auto;overflow-x:scroll}
.createset .creattext .sover{width:960px;}
.createset .creattext .selecetafri .exfeelist { width:275px; float:left; margin:2px; }
.createset .creattext .selecetafri .exfeelist li { margin:3px 0 0px 5px; }
.createset .creattext .selecetafri .exfeelist li.bgrond { background:#d5e6e9; }
.createset .creattext .selecetafri .exfeelist .smcomment { width:170px; color:#a0a0a0; }
.createset .creattext .selecetafri .exfeelist .smcomment span { color:#020202; font-size:13px; padding-right:5px; }
.createset  button.continue { width:92px; height:26px; background:url(/static/images/btn.png) no-repeat right -279px; text-align:center; font:12px/26px Verdana, Arial, Helvetica, sans-serif; color:#626262; border:0; margin-top:15px;float:right;}
.createset .creattext .selecetafri .exfeelist li button { margin:3px 5px 0 0;border:0;width:11px;height:13px;background:url(/static/images/icons.png) no-repeat left -640px;float:right;display:none;cursor:pointer;}
.createset .creattext .selecetafri .exfeelist .smcomment span.lb { background:url(/static/images/btn.png) no-repeat left -281px;color:#ffffff;padding:2px;font-size:11px;}

.createset .cl{float:left;}
.createset .cr{float:right;}
.createset .submit {background: url("/static/images/btn.png") no-repeat scroll 0 0;border: 0 none;color:#ffffff;font-size:16px;height:30px;width:130px;cursor:pointer;padding:0 0 4px; margin:5px 0 0 90px; font-family:Verdana, Geneva, sans-serif}


.createset .exfend{width:400px;margin:0 auto;padding-top:85px;text-align:center;font-family:Verdana; }
.createset .exfend p.tp{line-height:25px;color:#adadad;font-size:14px;}
.createset .exfend p.tp span{color:#0591af;font-size:24px;font-weight:bold;}
.createset .exfend p.tp em{color:#696969;font-style:italic}
.createset .exfend p.sl{width:25px;height:25px;margin:0 auto;margin-top:15px;background:url(/static/images/btn.png) no-repeat right -543px;text-indent:-9999px; }
.createset .exfend p.tf{line-height:25px;color:#adadad;font-size:14px;margin-top:75px}

.createset #calendar_map_container{
    display:block; position:absolute;
    width: 310px; height: 175px; z-index: 10;
    margin-left: 320px;
}

/*laicp*/
.centerbg_pro{ padding-top:33px;}
.edit_user{ clear:both; width:838px; overflow:hidden; border:solid 1px #e9e9e9; background:#fff; margin:0 auto; }
.edit_user #profile_avatar{ float:left; width:85px; height:110px; padding:5px; }
.edit_user #profile_avatar .big_header{ display:block; background-color:#EEEEEE; width:79px; height:79px; border:solid 1px #e9e9e9; }
.edit_user button.change{
    width:81px; height:26px;color:#020202;cursor:pointer; margin-top:5px;
    background:url(/static/images/btn.png) no-repeat -320px -45px;
    padding-bottom:2px; border:1px solid #8FB9CF;
}
.edit_user .u_con{ float:left; width:590px; }
.edit_user .u_con h1{ font:bold 18px/28px Verdana, Arial, Helvetica, sans-serif; color:#020202;}
.edit_user .u_con h1 input{ width:200px; height:16px; font: bold 14px/20px Verdana, Arial, Helvetica, sans-serif;border:#c5c5c5 1px solid; }
.edit_user .u_con p{ margin-top:6px; font:14px/20px Verdana, Arial, Helvetica, sans-serif; }
.edit_user .u_con p button.janbtn{width:20px;height:18px;background:url(/static/images/add_misun.gif) no-repeat 0 2px; }
.edit_user .u_con p button.jiabtn{width:20px;height:18px;background:url(/static/images/add_misun.gif) no-repeat 0 -26px;}

.edit_user .u_con p em{ color:#a0a0a0; font-style: italic;}
.edit_user .u_con p .name{color:#020202;}
.edit_user .u_con p img.s_header{ width:20px; height:20px; vertical-align:middle; margin-right:15px;}
.edit_user .u_con p img.worning{ width:14px; height:14px; background: url(/static/images/icons.png) no-repeat 0 -664px; margin:0 8px 0 25px; vertical-align: baseline;}
.edit_user .u_con p i{font:12px/20px Verdana, Arial, Helvetica, sans-serif;color:#a0a0a0;}
.edit_user .u_con p button{ width:106px;text-align:center; font:11px/20px Verdana, Arial, Helvetica, sans-serif;color:#020202; margin-right:10px; background:url(/static/images/btn.png) no-repeat 0 -79px; border:0; line-height:17px;padding-bottom:2px;}
.edit_user .u_num{ float:right; width:140px; text-align:right; text-align:center; }
.edit_user .u_num span{color:#aaaaaa ;font-size:12px;}
.edit_user .u_num p{ font:bold 40px/45px Verdana, Arial, Helvetica, sans-serif bold; color:#0591af; padding-right:40px;text-align:right}
.edit_user .u_num button{
    width:80px; height:26px;
    background:url(/static/images/btn.png) no-repeat 0 -44px;
    text-align:center; font:14px/26px Verdana, Arial, Helvetica, sans-serif;
    color:#696969; border:0; margin-top:20px;
    border-right:1px solid #8FB9CF; cursor:pointer;
}
.edit_user .u_con p button.boright{border-right:#adb9c2 1px solid;}
.edit_user .u_num input{width:126px;height:18px;text-align:center;font:11px/20px Verdana, Arial, Helvetica, sans-serif;margin:10px 0;background:url(/static/images/btn.png) no-repeat 0 -79px;padding:0 0 2px 0;color:#020202;border:#adb9c2 1px solid;border-width:0 1px 0 0
}
.edit_user .u_num a{ padding-right:10px; font:12px/23px Verdana, Arial, Helvetica, sans-serif;color:#a0a0a0;text-decoration:underline;font-style:italic}

.shadow_840{ background:url(/static/images/shadow.gif) no-repeat; height:20px; margin:0 auto; width:840px;}
.shadow_310{ background:url(/static/images/shadow.gif) no-repeat -530px 0px; height:20px; margin:0 auto; width:310px;}

.profile_main{ width:840px; margin:0 auto; overflow:auto;}
.maringbt{margin-bottom:10px;}
.bgcom{background:#ffffff;}
.coming{padding:5px 0px 2px 10px;}
.profile_main .left{ width:480px; float:left; padding:20px 20px 20px 10px; border:solid 1px #d6d6d6; font:12px/26px Verdana, Arial, Helvetica, sans-serif; }
.profile_main .left .a_tltle{ font:bold 14px/25px Verdana, Arial, Helvetica, sans-serif; color:#020202; clear:both;}
.profile_main .left  p{ font:13px/18px Verdana;line-height:20px;}
.profile_main .left  p span{color:#a0a0a0;}
.profile_main .left .p_right{ width:200px; border-bottom:solid 1px #ccc; height:20px; line-height:20px; margin-left:275px; text-align:right; cursor: default;}
.profile_main .left .p_right img.l_icon{ width:15px; height:15px; background:url(/static/images/icons.png) no-repeat 0 -418px; margin-right:8px; vertical-align:middle;}
.profile_main .left .p_right img.arrow{ width:15px; height:15px; background:url(/static/images/icons.png) no-repeat -20px -660px; margin:0 5px; vertical-align:middle;}
.profile_main .left .p_right img.arrow_up{ width:15px; height:15px; background:url(/static/images/icons.png) no-repeat -20px -680px; margin:0 5px; vertical-align:middle;}
.profile_main .right{ width:310px; float:right;}
.profile_main .right .invitations{ border:solid 1px #eaedee; background:#edf8fe; padding:10px 7px 3px 7px;}
.profile_main .right .p_right{ width:190px; margin-left:100px; text-align:right; height:28px; font: 12px/28px; }
.profile_main .right .p_right img.text{ width:16px; height:16px; background:url(/static/images/icons.png) no-repeat 0px -456px; margin-right:7px; vertical-align:middle;}
.profile_main .right .p_right img.update{ width:17px; height:20px; background:url(/static/images/icons.png) no-repeat 0px -498px; margin-right:7px; vertical-align:middle;}

.profile_main .right .invitations .p_right a{ color:#0591af;}
.profile_main .right .invitations dl{ margin:4px auto; height:45px; padding:5px 13px; position:relative;}
.profile_main .right .invitations dl dt a{ font:bold 14px/25px Verdana, Arial, Helvetica, sans-serif; color:#0591af;}
.profile_main .right .invitations dl button{ background:url(/static/images/btn.png) no-repeat -220px -234px; color:#ffffff; font:14px/23px Verdana, Arial, Helvetica, sans-serif; width:60px; height:25px; border:0; position:absolute; right:10px; top:5px; cursor:pointer;}
.profile_main .right .invitations dl.bdown{ background:#ffffff;}

.profile_main .right .Recently_updates{ background:#ffffff; border:solid 1px #eaedee; padding:10px 10px;}
.profile_main .right .Recently_updates .bgdq{ background:#d5e6e9}
.profile_main .right .Recently_updates h5{ font:bold 14px/23px Verdana, Arial, Helvetica, sans-serif; padding-left:10px;}
.profile_main .right .Recently_updates p{ padding-left:10px; font:13px/18px  "Lucida Grande","Lucida SansUnicode",Helvetica,Arial,Verdana,sans-serif ; padding-bottom:5px; }
.profile_main .right .Recently_updates p span{ color:#0591af;}
.profile_main .right .Recently_updates p.clock{ background:url(/static/images/icons.png) no-repeat -233px -538px; padding-left:35px; }
.profile_main .right .Recently_updates p.on_line{ background:url(/static/images/icons.png) no-repeat -233px -561px; padding-left:35px; }
.profile_main .right .more{text-align:right;font:13px/20px Verdana;width:96%}
.profile_main .right .more a{color:#020202}


.cross_link:hover {text-decoration: none;}


/* ------------------------------------- footer area  */
#footerBao { width:100%;height:42px;background:#dfdfdf;left:0px;bottom:0px;position:fixed;z-index:99;}

/*-------------------------------------main */





#rsvp_loading{ margin-left: 100px; margin-top: -15px; }
#identity_ajax{ position:relative; margin-left: 165px; margin-top: 15px; }
#gather_submit_ajax{ position:relative; margin-left: 165px; margin-top: -14px; }
.creattext{ margin-top: 25px; }

/* ----------------------------------- modified by handaoliang --------------------------*/
.cross_view_centerbg{ width:1000px; margin:0 auto; padding:30px 0 45px; }
.cross_view_container{
    background-color:#ffffff; border:1px solid #DDDDDD;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.1);
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.1);
}
.cross_view_container #index{ padding:0px; }
.cross_view_centerbg .menu_bar{ position:relative; height:30px; padding-top:5px; }
.cross_view_centerbg .menu_bar .lock_icon{ float:right; background:url("/static/images/icons.png") no-repeat left -250px; height:20px; width:20px; margin-right:10px; cursor:pointer; }
.cross_view_centerbg .menu_bar .edit_icon{ float:right; background:url("/static/images/icons.png") no-repeat left -285px; height:20px; width:20px; margin-right:10px; cursor:pointer; }
.cross_view_centerbg .menu_bar .lock_icon_desc, .cross_view_centerbg .menu_bar .edit_icon_desc{
    right:10px;top:32px;width:220px;padding:8px;z-index:10
    background:#f4fcfe; border:#90c3ce 1px solid;
    line-height:20px; position:absolute; background-color:#FFF;
}
.cross_view_centerbg .menu_bar .lock_icon_desc span, .cross_view_centerbg .menu_bar .edit_icon_desc{
    font-size:14px;
}
#edit_cross_bar{
    width:880px; height:30px; padding-top:10px; background:#C4E246; margin:0 auto 10px;
    /* css3 */
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#F4FCD1), to(#C4E246));
    background:-moz-linear-gradient(#F4FCD1, #C4E246);
    background:-o-linear-gradient(#F4FCD1, #C4E246);
    background:linear-gradient(#F4FCD1, #C4E246);
    -webkit-border-radius:4px -moz-border-radius:4px; border-radius:4px;
}
#edit_cross_bar p{ position:relative; float:left; }
#edit_cross_bar p.titles{ padding-left:10px; font-weight: bold; font-size:12pt; }
#edit_cross_bar p.titles span{ color:#0591AC; }
#edit_cross_bar p.error_msg{ padding-left:10px; color:#FF0000; padding-top:10px; line-height:0px; }
#edit_cross_bar p.done_btn{ padding-right:10px; float:right; }
#edit_cross_bar p.done_btn a{
    display:block; width:50px; height:18px; background:#EEEEEE;text-decoration:none;
    text-align:center; padding-top:3px; cursor:pointer; border:1px solid #999; color:#666666;
    -webkit-border-radius:3px -moz-border-radius:3px; border-radius:3px;
}
#edit_cross_bar p.done_btn a:hover { color:#666666; }
#edit_cross_bar p.revert{ padding-right:10px; float:right; padding-top:12px; line-height:0px; }

.cross_view_container .enable_click { cursor:pointer; }
.cross_view_container .enable_click:hover { background-color:#D9E8EB; }
.cross_view_container .cross_titles_textarea{ width:780px; height:45px; font-size:24pt; color:#0591AF; margin-top:10px; }

.cross_view_container #cross_desc{ overflow:hidden; width:500px; }
.cross_view_container #cross_desc p{ width:500px; overflow:hidden }
.cross_view_container #cross_desc_textarea{ width:500px; height:120px; font-size:9pt; margin-top:10px; }
.cross_view_container #cross_desc_short #desc_expand_btn{ display:block; float:right; margin-right:10px; color:#0591AF; font-weight:bold; }

.cross_view_container #rsvp_submitted{ padding:30px 0 0; font-size:12pt; }

.cross_view_container #cross_time_bubble { width:310px; height:220px; margin-left:210px; margin-top:125px; }
.cross_view_container #cross_time_bubble:before { top:29px; left:330px; }
.cross_view_container #cross_time_bubble:after { top:29px; left:330px; }
.cross_view_container #cross_time_bubble .cross_dt_input{ width:310px; height:25px; background: url("/static/images/icons.png") no-repeat scroll right -535px transparent; }
.cross_view_container #cross_time_bubble .cross_dt_msg{ width:310px; height:20px; color:#FF0000; }
.cross_view_container #cross_time_bubble #cross_datetime_original{ height:18px; background-color:#FAFAFA; padding:0; border:1px solid #999; width:250px; }

.cross_view_container #cross_place_bubble { width:210px; height:120px; margin-left:310px; margin-top:195px; }
.cross_view_container #cross_place_bubble:before { top:29px; left:230px; }
.cross_view_container #cross_place_bubble:after { top:29px; left:230px; }
.cross_view_container #cross_place_bubble .input_box{ width:210px; height:120px; }
.cross_view_container #cross_place_bubble .input_box textarea{ position:relative; float:left; width:180px; height:118px; border:1px solid #CCCCCC; }
.cross_view_container #cross_place_bubble .input_box span{ position:relative; float:right; display:block; width:20px; height:20px; background: url("/static/images/icons.png") no-repeat scroll right -570px transparent; }



/*********** bubble style control by handaoliang *************/
.exfe_bubble {
    position:absolute; width:300px; height:200px; padding:10px;
    background-color:#EEEEEE; border:1px solid #BBBBBB; z-index:5;
    /* css3 */
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
.exfe_bubble:before {
    content:""; position:absolute;
    top:29px; left:320px;
    border-width:11px 0px 21px 21px;
    border-style:solid;
    border-color:transparent #BBBBBB;
    /* reduce the damage in FF3.0 */
    display:block; width:0;
}
.exfe_bubble:after {
    content:""; position:absolute;
    top:30px; left:320px;
    border-width:10px 0px 20px 20px;
    border-style:solid;
    border-color:transparent #EEEEEE;
    /* reduce the damage in FF3.0 */
    display:block; width:0;
}
/******************************************************************/

/******* upload user avatar window style by handaoliang ***********/
.upload_avatar_dialog{ position:absolute; width:463px; height:385px; padding:0px; background:transparent; z-index:201; }
.upload_avatar_dialog .titles{ width:463px; height:25px; background:url(/static/images/fuceng_title.png) no-repeat 0 0; }
.upload_avatar_dialog .titles p.l{ width:35px; height:25px; float:left; color:#FFF; padding-left:3px; }
.upload_avatar_dialog .titles p.l a{ display:block; width:27px; height:22px; padding-top:3px; text-decoration:none; }
.upload_avatar_dialog .titles p.r{ width:410px; height:22px; padding-top:3px; float:right; color:#FFF; text-align:right; padding-right:10px; }

.upload_avatar_dialog #container { position: absolute; left: 0px; top: 25px; width:463px; height:360px; background:#FFFFFF; }

.upload_avatar_dialog #wrapper { position: absolute; left: 20px; top: 20px; background:red; }
.upload_avatar_dialog #div_upload_big {
    position: absolute; left: 0px; top: 0px; border: 10px solid #CCC;
    width:300px; height:300px;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#EEEEEE));
    background:-moz-linear-gradient(#FFFFFF, #EEEEEE);
    background:-o-linear-gradient(#FFFFFF, #EEEEEE);
    background:linear-gradient(#FFFFFF, #EEEEEE);
}
.upload_avatar_dialog #preview_container {
    position: absolute; width:100px;height:320px; left: 333px; top: 0px;
}

.upload_avatar_dialog .preview{
    position:absolute; width:80px; height:80px; overflow:hidden;
    left:10px;top:0px; border: 1px solid #ccc; background:#EEEEEE;
}
.upload_avatar_dialog #file_select_btn{
    position: absolute; z-index:100;
    left: 35px; top: 120px;
    width: 216px; height:35px; font-size:0px;
    background:url(../images/ic_select_file_btn.png) no-repeat 0 0;;
}

.upload_avatar_dialog #dragdrop_info{
    position:absolute; z-index:100;
    left: 68px; top: 70px;
    text-align:center; font-size:16pt; color:#999;
    width:230px; height:60px;
}

.upload_avatar_dialog #saveBtn {
    position: absolute;
    left: 10px; top: 290px;
    width: 80px; height: 27px;
    background: url(../images/ic_save_img.png);
}

.upload_avatar_dialog #rotateRightBtn {
    position: absolute; left: 275px; top: 5px;
    width: 22px; height: 22px; z-index:100;
    background: url(../images/ic_turn_right.png) no-repeat right;
}

.upload_avatar_dialog #upload_status{
    position:absolute;left:60px;top:170px;width:300px; height:20px; padding:15px; font-weight:bold;
    border:1px solid #999; background:#FFF; z-index:204; color:#FF0000; text-align:center;
}

/* exFileUploader style control */
.upload_avatar_dialog #upload_btn_container{
    position: absolute; z-index:100;
    left: 20px; top: 20px;
    width:320px; height:320px;
}
.upload_avatar_dialog #upload_btn_container .ex-uploader { width:300px; height:300px; }
.upload_avatar_dialog #upload_btn_container .ex-upload-button {
    position:absolute; display:block; /* or inline-block */
    top:140px; left:50px; z-index:100;
    width: 216px; height:35px; text-align:center;font-size:0px;
    background:url(../images/ic_select_file_btn.png) no-repeat 0 0;;
}
.upload_avatar_dialog #upload_btn_container .ex-upload-button-hover {}
.upload_avatar_dialog #upload_btn_container .ex-upload-button-focus {}

.upload_avatar_dialog #upload_btn_container .ex-upload-drop-area {
    position:absolute; top:0; left:0; display:block;
    width:314px; height:314px; z-index:102; font-size:0px;
    border:3px dashed #999; text-align:center;
}
.upload_avatar_dialog #upload_btn_container .ex-upload-drop-area-active {border:3px dashed #999;}
.upload_avatar_dialog #upload_btn_container .ex-upload-list .ex-upload-info{
    display:block; margin-top:10px; width:300px; text-align:center;
}
.upload_avatar_dialog #upload_btn_container .ex-upload-list {
    position:absolute; top:0; left:0; z-index:101;
    width:318px; height:318px; background:#FFF;
    filter: alpha(opacity = 80); -moz-opacity: 0.8; opacity: 0.8;
}
.upload_avatar_dialog #upload_btn_container .ex-upload-list span{ padding-left:5px; }

.upload_avatar_dialog #upload_btn_container .ex-upload-spinner {
    display:block; width:32px; height:32px; margin:auto; margin-top:100px;
    background: url("../images/uploading.gif"); vertical-align:text-bottom;
}
.upload_avatar_dialog #upload_btn_container .ex-upload-file { font-size:10pt; color:#333; }
.upload_avatar_dialog #upload_btn_container .ex-upload-size { font-size:10pt; color:#333; }
.upload_avatar_dialog #upload_btn_container .ex-upload-cancel {
    font-size:12pt; display:block; width:40px; padding-top:10px;
    text-align:center; margin:auto; color:#3875D7;
}

.upload_avatar_dialog #upload_btn_container .ex-upload-failed-text {display:none; font-size:10pt; color:#FF0000;}
.upload_avatar_dialog #upload_btn_container .ex-upload-fail .ex-upload-failed-text {display:inline;}
/* exFileUploader style control */
/******************************************************************/
/*
 * imgAreaSelect animated border style
 */

.imgareaselect-border1 { background: url(../images/border-anim-v.gif) repeat-y left top; }
.imgareaselect-border2 { background: url(../images/border-anim-h.gif) repeat-x left top; }
.imgareaselect-border3 { background: url(../images/border-anim-v.gif) repeat-y right top; }
.imgareaselect-border4 { background: url(../images/border-anim-h.gif) repeat-x left bottom; }
.imgareaselect-border1, .imgareaselect-border2,
.imgareaselect-border3, .imgareaselect-border4 {
    filter: alpha(opacity=50);
	opacity: 0.5;
}
.imgareaselect-handle {
    background-color: #fff;
	border: solid 1px #000;
    filter: alpha(opacity=50);
	opacity: 0.5;
}
.imgareaselect-outer {
	background-color: #000;
    filter: alpha(opacity=50);
	opacity: 0.5;
}
.imgareaselect-selection { }

/** cross - edit ** by leask **/
#cross_titles {
    color:#0591ac; font-family:Verdana; font-weight:normal; word-break: break-all;
}

/** cross - edit - exfee ** by Leask **/
#exfee_area {
    padding: 10px;
    margin-bottom: 20px;
}

.exfee_del {
    margin:3px 5px 0 0;
    border:0;
    width:11px;
    height:13px;
    float:left;
    background: url("/static/images/icons.png") no-repeat left -640px;
    cursor:pointer;
}

#exfee_input {
    border: #c5c5c5 1px solid;
    background: #ffffff;
    width: 248px;
    height: 22px;
}

#exfee_submit {
    background: url("/static/images/enter.png") no-repeat right;
    width: 25px;
    height: 17px;
    border: none;
    float: right;
    z-index: 2;
    position: absolute;
    margin: 7px 0 0 225px;
}

#exfee_edit_buttons {
    display: block;
    margin: 7px 0 7px 0;
    float: right;
}

#exfee_revert {
    text-decoration:underline;
    cursor: pointer;
    margin-right: 10px;
}

#exfee_done {
    width: 55px;
}

.edit_button {
    border:1px solid rgb(192, 192, 192);
    background-color: rgb(249, 249, 249);
    color: rgb(51, 51, 51);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.samlcommentlist {
    clear:both;
}

#check_all {
    float: right;
}

#check_all span {
    display: block;
    float: left;
    margin: 3px 7px 0 0;
    cursor: pointer;
}

#check_all em {
    float: right;
    width:20px;
    height:20px;
    background:url(/static/images/icons.png) no-repeat;
    display:block;
}

#check_all em.c1{
    background-position: -1px -82px;
}

#check_all em.c2{
    background-position: left -123px;
}

#exfee_edit {
    width: 55px;
}

#exfee_remove {
    width: 80px;
}

.exfer .exfee p.of em.bignb{
    float:left;
    font-size:36px;
    color:#0591AF;
    width:30px;
}

.editing {
    border: 1px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-color: rgb(192, 192, 192);
    border-style: solid;
    background: rgb(245, 245, 245);
    background: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(235, 235, 235));
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(255, 255, 255)), to(rgb(235, 235, 235)));
}
/**********************************/

/** special_page **/
#special_page_body {
    background-color: #fbfbfb;
}
.special_page {
    width: 840px;
    margin: 200px auto auto auto;
    color: #333333;
}
.special_main_area {
    background: url(../images/special_page_subtitle_bg.png) no-repeat bottom center;
}
.special_page_title {
    font-family: Verdana;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}
.special_page_subtitle {
    font-family: Verdana;
    font-size: 24px;
    line-height: 80px;
    margin-top: 36px;
    text-align: center;
}
.special_x {
    color: #0591ac;
}
.spacial_page_buttons {
    margin: 60px auto auto auto;
    width: 100px;
}
.spacial_page_buttons button {
    border:1px solid rgb(192, 192, 192);
    background-color: rgb(249, 249, 249);
    color: rgb(51, 51, 51);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 96px;
    height: 26px;
}
.special_page_identity {
    font-style: italic;
    color: #666666;
}

/** forbidden **/

