@charset "UTF-8";


/*浮层*/
/*---- xbox1 ----*/
b.rbottom{display:block;}
b.r1,b.rbottom b.r1{background:#ffffff;}
b.rbottom b{display:block;height:1px;overflow: hidden;background:#ffffff;border:#f2f2f2 1p solid;  }
b.rbottomh{display:block;}
b.rbottomh b.r1{background:#f2f2f2;}
b.rbottomh b{display:block;height:1px;overflow: hidden;background:#f2f2f2;border:#f2f2f2 1p solid; }
b.r1{margin: 0 2px}
b.r2{margin: 0 1px}
b.r3{margin: 0px}

.identification_dialog {
  position: absolute;
  width: 400px;
  height: 380px;
  padding: 0;
  z-index: 201;
  font-family: "Helvetica", Verdana, "Lucida Grande", "Sans", "Arial", "SimSun";
  color: #4c4c4c;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 5px 5px;
  background-color: #FAFAFA;
  /*background-image: url(images/fallback-gradient.png);*/
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FAFAFA), to(#E6E6E6));
  background-image: -webkit-linear-gradient(top, #FAFAFA, #E6E6E6);
  background-image:    -moz-linear-gradient(top, #FAFAFA, #E6E6E6);
  background-image:     -ms-linear-gradient(top, #FAFAFA, #E6E6E6);
  background-image:      -o-linear-gradient(top, #FAFAFA, #E6E6E6);
}
.idialog_inpage{ margin:auto; position:relative; z-index:0; margin-top: 70px;}
.idialog_inpage .titles {
  visibility: hidden;
}

.identification_dialog .titles {
    font-family: Helvetica;
    font-size: 12px;
    color: #B2B2B2;
    /*margin-top: 1px;*/
    height: 20px;
    line-height: 20px;
    background: url(/static/images/windowtitlebar.png) repeat-x;
}
.identification_dialog .titles div{float:left; height:20px; width:20px;}
.identification_dialog .titles a {
  color: #B2B2B2;
  float: left;
  display: block;
  width: 20px;
  font-style: normal;
  cursor: pointer;
  text-align: center;
  cursor: pointer;
  font-weight: normal;
  font-size: 10px;
}
.identification_dialog .titles a:hover {
  text-decoration: none;
}
.identification_dialog .titles div.tl{
    float: right;
    text-align: right;
    width: 372px;
    font-weight: bold;
    cursor: move;
    padding-right: 8px;
}

.identification_dialog .dtitle {
  line-height: 24px;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 300;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.identification_dialog #identity_error_msg{
    position:absolute; left:340px; top:190px; width:112px; height:25px; padding:2px 2px 0px 15px;
    background:url(/static/images/dialog_error_msg_bg.png) no-repeat 0 0; color:#CC3333; z-index:204;
    -webkit-transform:rotate(-5deg); -moz-transform:rotate(-5deg); -o-transform: rotate(-5deg);
    -moz-opacity:0.8; opacity: 0.8; filter: alpha(opacity=80); -khtml-opacity:0.8;
}
.identification_dialog #displayname_error_msg{
    position:absolute; left:340px; top:218px; width:180px; height:25px; padding:3px 5px 0px 15px;
    background:url(/static/images/dialog_error_msg_bg.png) no-repeat 0 -30px; color:#CC3333; z-index:204;
    -webkit-transform:rotate(-5deg); -moz-transform:rotate(-5deg); -o-transform: rotate(-5deg);
    -moz-opacity:0.8; opacity: 0.8; filter: alpha(opacity=80); -khtml-opacity:0.8;
}
.identification_dialog #need_verify_msg{
    position:absolute; left:40px; top:310px; width:150px; height:37px; padding:5px 5px 5px 10px;
    background:url(/static/images/dialog_error_msg_bg.png) no-repeat 0 -60px; color:#CC3333; z-index:204;
    -webkit-transform:rotate(-5deg); -moz-transform:rotate(-5deg); -o-transform: rotate(-5deg);
    -moz-opacity:0.8; opacity: 0.8; filter: alpha(opacity=80); -khtml-opacity:0.8;
}

.identification_dialog_con {
  height: 359px;
  width: 398px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.identification_dialog_con #identification_title_msg{
    height:25px; font-size:14px; line-height:1em;
    color: #424242;
}

.identification_dialog_bottom{
    display:block; margin:0; height:5px; width:400px; padding:0;
    /*background:url(/static/images/fuceng_title.png) no-repeat 0 -25px;*/
}

.identity_visual_dialog {
    position:absolute; display:block; z-index:204;
    width:400px; height:325px; padding-top:35px;
    /*background:#EFEFEF;*/
    line-height:20px; font-size:14px;
  font-size: 300;
}
.identity_visual_dialog div {
    width:340px; margin:auto; text-align:center;
}
.identification_dialog_con .reg_hint{
    /*-moz-opacity: 0.85; opacity: 0.85; filter: alpha(opacity=85); -khtml-opacity: 0.85;*/
}
.identification_dialog_con .reg_hint div{ width:340px; }

#manual_verify_identity{
    width:260px; height:22px; padding:2px; border:1px solid #CCC;
    color:#666; font-size:18px; font-style:italic;
    background: transparent;
    float: left;
    margin-left: 10px;
    text-align: center;
}

#manual_verification_dialog .manual_identity {
  height: 40px;
  width: 40px;
  float: right;
  margin-right: 10px;
  margin-top: -12px;
  position: relative;
}

#manual_verification_dialog .manual_identity .provider {
  position: absolute;
  height: 15px;
  width: 20px;
  bottom: -3px;
  right: -3px;
}
#manual_verification_dialog .manual_identity .provider.email {
  /*background: url(../images/small_icons.png) no-repeat 0 2px;*/
  background: url(../images/email.png) no-repeat;
  background-size: 20px 15px;
}

#manual_verification_dialog .manual_identity .provider.twitter {
  /*background: url(../images/small_icons.png) no-repeat 0 -12px;*/
  background: url(../images/twitter.png) no-repeat;
  background-size: 20px 15px;
}

#manual_verification_dialog .manual_identity .provider.phone {
  /*background: url(../images/small_icons.png) no-repeat 0 -28px;*/
  background: url(../images/phone.png) no-repeat;
  background-size: 20px 15px;
}

#manual_verification_hint_box p {
  padding-top: 10px;
}

#close_reg_msg_btn,
#close_reg_success_dialog_btn,
#fogot_verify_btn,
#manual_verification_btn
{
    height:26px; border:0; width:85px; font-size:14px; float:right;
    background:url(/static/images/btn.png) no-repeat 0px -580px; cursor:pointer;
}
#cancel_forgot_verify_btn { line-height:20pt; }
#forgot_identity_input {
    width:310px; height:28px; border:1px solid #CCCCCC;
    font-size:18px; font-style:italic; color:#7f7f7f; text-align:center;
    background:transparent;
}

.float_panel_bottom_btn{ position:absolute; z-index:205; height:40px; width:400px; top:305px; left:30px; }

.identity_visual_dialog .manual_verfiy {
    display:block; float:left; height:24px; width:155px; cursor:pointer;
    padding-top:2px; border:0; font-size:14px; text-align:center; text-decoration:none;
    background:url(/static/images/btn.png) no-repeat 0px -644px; color:#6C6E6F;
}
.identification_dialog .startover{
    display:block; float:left; height:24px; width:110px; cursor:pointer;
    padding-top:2px; border:0; font-size:14px; text-align:center; text-decoration:none;
    background:url(/static/images/btn.png) no-repeat 0px -610px; color:#6C6E6F;
}
.identification_dialog .startover:hover {
    color:#6C6E6F; text-decoration:none;
    background:url(/static/images/btn.png) no-repeat 0px -610px;
}
.identification_dialog .startover:active {
    color:#6C6E6F; text-decoration:none;
    background:url(/static/images/btn.png) no-repeat 0px -610px;
}
#show_identity_box{ color:#666; font-size:18px; font-style:italic; background:transparent; }

/*登录*/
.identity_dialog_main {
    position:relative; margin:auto; width:340px; height:315px;
    padding-top:30px; font-size:14px;
}
/*.identity_dialog_main #identity{ background:transparent; }*/
.identity_dialog_main ul li{clear:both; height:32px; }
.identity_dialog_main ul label{ }
.identity_dialog_main ul label.title{width:110px;height:28px; line-height: 28px; float:left;text-align:right; font-size:14px; color: #797979; }
.identity_dialog_main ul li input.inputText{
    width:210px; height:26px; line-height:17px; border:#c5c5c5 1px solid;
    float:left; margin-left:4px; background-color:#FFF; font:18px Verdana;
    color: #797979;
}
.identity_dialog_main ul li .identity_box{
    position:absolute; margin-top:0px; margin-left:110px;
    z-index:203; overflow:hidden;
}
.identity_dialog_main .account_hint_list {
    position:absolute; margin-top:26px; margin-left:114px; width:210px;
    z-index:205; overflow:hidden; border: 1px solid #C5C5C5; background:#FFF;
}
.identity_dialog_main .account_hint_list ul { clear:both; }
.identity_dialog_main .account_hint_list ul li {
    clear:both; height:22px; width:208px;
    padding-top:4px; line-height:15px; cursor:pointer;
}
.identity_dialog_main .account_hint_list ul li span { padding:0 5px; font-style:italic; }
.identity_dialog_main .account_hint_list ul li.facebook {
    background:url(/static/images/oauth_account_logo.png) no-repeat right 3px;
}
.identity_dialog_main .account_hint_list ul li.twitter {
    background:url(/static/images/oauth_account_logo.png) no-repeat right -33px;
}
.identity_dialog_main .account_hint_list ul li.google {
    background:url(/static/images/oauth_account_logo.png) no-repeat right -68px;
}
.identity_dialog_main .account_hint_list ul li.active {
    background-color:#DFF4FC;
}

.identity_dialog_main ul li #identity_dbox{
    position:absolute; height:21px; width:208px;
    padding-left:4px; line-height:15px; color:#CCC;
    margin-top:0px; margin-left:114px; z-index:202;
    padding-top:7px; font-size:18px; background-color:#FFF;
}
.identity_dialog_main .loginbtn p .dx{width:55px;height:15px;position:absolute;top:10px;}
.identity_dialog_main h3{font-size:19px;line-height:25px;text-align:center;}
.identity_dialog_main h3 a{color:#0591af;}
.identity_dialog_main h4{font-size:18px;line-height:25px;text-align:center;}
.identity_dialog_main h4 span{font-size:24px;color:#0591af;}
.identity_dialog_main p.t{font-size:14px;margin:20px 0;text-align:center;line-height:20px;}

.identity_dialog_main .dialog_titles{
    height:45px; font-size:18px; text-align:center; clear:both;
    background:url(/static/images/hr_or.png) no-repeat -20px 90px;
}
.identity_dialog_main p.oauth_title{
  float: left;
  text-align: left;
  /*width: 160px;*/ /*TODO: 去掉 facebook google*/
  font-size: 14px;
  line-height: 40px;
  /*margin-top: 20px;*/
}
.identity_dialog_main p.oauth_icon{
  /*width:180px;*/ /*TODO: 去掉 facebook google*/
  float:right;
  margin-right: 35px;
  /*margin-top: 20px;*/
}
.identity_dialog_main p.oauth_icon a{ display:block; float:left; width:40px; height:40px; margin-left:15px; font-size:0px; }
.identity_dialog_main p.oauth_icon a.twitter_oauth{ background:url(/static/images/oauth_logo.png) no-repeat 0 0; }
.identity_dialog_main p.oauth_icon a.twitter_oauth:hover { background:url(/static/images/oauth_logo.png) no-repeat -40px 0; }
.identity_dialog_main p.oauth_icon a.facebook_oauth{ background:url(/static/images/oauth_logo.png) no-repeat 0 -40px; }
.identity_dialog_main p.oauth_icon a.facebook_oauth:hover { background:url(/static/images/oauth_logo.png) no-repeat -40px -40px; }
.identity_dialog_main p.oauth_icon a.google_oauth{ background:url(/static/images/oauth_logo.png) no-repeat 0 -80px; }
.identity_dialog_main p.oauth_icon a.google_oauth:hover { background:url(/static/images/oauth_logo.png) no-repeat -40px -80px; }

/*.identity_dialog_main .dialog_titles p{ width:200px; float:left}*/
.identity_dialog_main .dialog_titles span{ width:150px}
.identity_dialog_main .dialog_titles span img{ padding:2px 6px }
.identity_dialog_main .dialog_titles h4{ font-size:14px; font-weight:normal; text-align:left; margin-top:30px}
.identity_dialog_main input.sign_in_btn {
    height:26px; border:0; width:85px; font-size:14px; float:right;
    background:url(/static/images/btn.png) no-repeat 0px -580px; cursor:pointer;
}
.identity_dialog_main input.sign_in_btn_disabled{
    height:26px; border:0; width:85px; font-size:14px; float:right;
    background:url(/static/images/btn.png) no-repeat -90px -580px;
    color: #424242;
}
.identity_dialog_main input.sign_in_btn:hover { background:url(/static/images/btn.png) no-repeat 0px -580px; }
.identity_dialog_main input.sign_in_btn:active { background:url(/static/images/btn.png) no-repeat 0px -580px; }

.identity_dialog_main input.btn_85{
    height:26px; border:0; width:85px; font-size:14px; float:right;
    background:url(/static/images/btn.png) no-repeat 0px -580px; cursor:pointer;
}
.identity_dialog_main input.btn_85:hover { background:url(/static/images/btn.png) no-repeat 0px -580px; }
.identity_dialog_main input.btn_85:active { background:url(/static/images/btn.png) no-repeat 0px -580px; }

.identity_dialog_main #set_password_desc{ height:45px;line-height:18px; }

.identity_dialog_main .forgot_password{
    display:block; float:left; height:24px; width:150px; cursor:pointer;
    padding-top:2px; border:0; font-size:14px; text-align:center; text-decoration:none;
    background:url(/static/images/btn.png) no-repeat 0px -640px; color:#424242;
}
.identity_dialog_main .forgot_password:hover {
    color:#6C6E6F; text-decoration:none;
    background:url(/static/images/btn.png) no-repeat 0px -640px;
}
.identity_dialog_main .forgot_password:active {
    color:#6C6E6F; text-decoration:none;
    background:url(/static/images/btn.png) no-repeat 0px -640px;
}

.identity_dialog_main .sign_up_btn { font-size:14px; text-decoration:underline; color: #424242;}
.identity_dialog_main .sign_up_btn:hover { font-style:italic; }
.identity_dialog_main ul li p{height:26px;width:60px;margin:0 auto;}
.identity_dialog_main ul li em{
    float:left; width:25px; height:20px; cursor:pointer; margin-top:5px;
    background:url(/static/images/icons.png) no-repeat;
}
.identity_dialog_main ul li em.ic1{background-position:4px -284px;position: absolute;}
.identity_dialog_main ul li em.ic2{background-position:4px -330px;position: absolute;}
.identity_dialog_main ul li em.ic3{background-position:4px -374px;position: absolute;}
.identity_dialog_main ul li em.loading{
    position:absolute; display:block; width:16px; height:16px;
    margin-left:340px; margin-top:8px; z-index:203; cursor:default;
    background:url(/static/images/loading_a.gif) no-repeat 0 0;
}
.identity_dialog_main ul li em.delete{
    position:absolute; display:block; width:15px; height:15px;
    margin-left:305px; margin-top:8px; z-index:206; cursor:pointer;
    background:url(/static/images/icons.png) no-repeat left -691px;
}
.identity_dialog_main ul li img.avatar{
    position:absolute; display:block; width:24px; height:24px;
    margin-left:300px; margin-top:2px; z-index:205;
}
.identity_dialog_main ul li em.warning{
    background: url("/static/images/btn.png") no-repeat scroll left -500px transparent;
    margin-left:4px;
    position: absolute;
    right: -16px;
}

.identity_dialog_main ul .logincheck{ height:30px; }
.identity_dialog_main ul .logincheck input{ margin-left:118px; line-height:200%}
.identity_dialog_main ul .logincheck span{ margin-left:8px; font-size:14px; }
/*.login ul .notice{ height:25px; color:#0591af; line-height:10px;}*/
.identity_dialog_main ul .notice{ height:25px; color:#CC3333;}
.identity_dialog_main ul .notice span{ margin-left:115px; margin-top:0;}

.identity_dialog_main .identification_bottom_btn{
    position:absolute; z-index:203; height:40px; width:340px; top:305px; text-align:right;
    color: #424242;
}

/******* upload user avatar window style by handaoliang ***********/
.upload_avatar_dialog {
    position: absolute;
    width: 400px;
    height: 325px;
    padding: 0;
    z-index: 201;
    font-family: "Verdana", "Helvetica", "Lucida Grande", "Sans", "Arial", "SimSun";
    color: #4C4C4C;
    background-color: #FAFAFA;
    /*background-image: url(images/fallback-gradient.png);*/
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FAFAFA), to(#E6E6E6));
    background-image: -webkit-linear-gradient(top, #FAFAFA, #E6E6E6);
    background-image:    -moz-linear-gradient(top, #FAFAFA, #E6E6E6);
    background-image:     -ms-linear-gradient(top, #FAFAFA, #E6E6E6);
    background-image:      -o-linear-gradient(top, #FAFAFA, #E6E6E6);
    border-radius: 5px;
}
.upload_avatar_dialog .titles{ width:400px; height:20px; background:url(/static/images/fuceng_title.png) no-repeat 0 0; }
.upload_avatar_dialog .titles p.l{
  width: 20px;
  height: 20px;
  float: left;
  color: #FFF;
  text-align: center;
}
.upload_avatar_dialog .titles p.l a{ display:block; width:20px; height:20px; text-decoration:none; }
.upload_avatar_dialog .titles p.l a:hover {text-decoration:none; }
.upload_avatar_dialog .titles p.r {
    color: #A9A9A9;
    width: 372px;
    font-size:12px;
    font-weight: bold;
    cursor:move;
    font-family: Helvetica;
    width: 372px;
    height:20px;
    padding-right: 8px;
    float: right;
    text-align: right;
    cursor:move;
}

#upload_avatar_dialog #container { position: absolute; left: 0px; top: 20px; width:400px; height:300px;}

.upload_avatar_dialog #wrapper { position: absolute; left: 20px; top: 20px; }
.upload_avatar_dialog #div_upload_big {
    position: absolute; left: 0px; top: 0px; border: 10px solid #CCC;
    width:240px; height:240px;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#EEEEEE));
    background:-moz-linear-gradient(#FFFFFF, #EEEEEE);
    background:-o-linear-gradient(#FFFFFF, #EEEEEE);
    background:linear-gradient(#FFFFFF, #EEEEEE);
}
.upload_avatar_dialog #preview_container {
    position: absolute; width:90px; height:260px; left:278px; top:0px;
}

.upload_avatar_dialog .preview{
    position:absolute; width:80px; height:80px; overflow:hidden;
    left:0px; top:0px; border: 1px solid #ccc; background:#EEEEEE;
}

.upload_avatar_dialog #dragdrop_info{
    position:absolute; z-index:100;
    left: 35px; top: 70px;
    text-align:center; font-size:16pt; color:#999;
    width:230px; height:60px;
}

.upload_avatar_dialog #save_btn{
    position: absolute;
    left: 0px; top: 232px;
    width: 80px; height: 27px;
    background: url(../images/ic_save_img.png);
}

.upload_avatar_dialog #rotateRightBtn {
    position: absolute; left: 275px; top: 5px;
    width: 22px; height: 22px; z-index:100;
    background: url(../images/ic_turn_right.png) no-repeat right;
}

.upload_avatar_dialog #upload_status{
    position:absolute;left:300px; top:150px;width:75px; height:120px; font-weight:bold;
    z-index:204; color:#135200; text-align:center; vertical-align: bottom;
}

/* exFileUploader style control */
.upload_avatar_dialog #upload_btn_container{
    position: absolute; z-index:100;
    left: 20px; top: 20px;
    width:260px; height:260px;
}
.upload_avatar_dialog #upload_btn_container .ex-uploader { width:300px; height:300px; }
.upload_avatar_dialog #upload_btn_container .ex-upload-button {
    position:absolute; display:block; /* or inline-block */
    top:140px; left:40px; z-index:100;
    width:180px; height:30px; text-align:center; font-size:0px;
    background:url(../images/ic_select_file_btn.png) no-repeat 0 0;;
}
.upload_avatar_dialog #upload_btn_container .ex-upload-button-hover {}
.upload_avatar_dialog #upload_btn_container .ex-upload-button-focus {}

.upload_avatar_dialog #upload_btn_container .ex-upload-drop-area {
    position:absolute; top:0; left:0; text-align:center; border:3px dashed #999;
    width:254px; height:254px; z-index:102; font-size:0px;
}
.upload_avatar_dialog #upload_btn_container .ex-upload-drop-area-active {border:3px dashed #999;}

.upload_avatar_dialog #upload_btn_container .ex-upload-list {
    position:absolute; top:0; left:0; z-index:101;
    width:260px; height:260px; background:#FFF;
    filter: alpha(opacity = 80); -moz-opacity: 0.8; opacity: 0.8;
}
.upload_avatar_dialog #upload_btn_container .ex-upload-list .ex-upload-info{
    display:block; margin-top:10px; width:240px; text-align:center;
}
.upload_avatar_dialog #upload_btn_container .ex-upload-list span{ padding-left:5px; }

.upload_avatar_dialog #upload_btn_container .ex-upload-spinner {
    display:block; width:32px; height:32px; margin:auto; margin-top:100px;
    background: url("../images/uploading.gif"); vertical-align:text-bottom;
}
.upload_avatar_dialog #upload_btn_container .ex-upload-file { font-size:10pt; color:#333; }
.upload_avatar_dialog #upload_btn_container .ex-upload-size { font-size:10pt; color:#333; }
.upload_avatar_dialog #upload_btn_container .ex-upload-cancel {
    font-size:12pt; display:block; width:40px; padding-top:10px;
    text-align:center; margin:auto; color:#3875D7;
}

.upload_avatar_dialog #upload_btn_container .ex-upload-failed-text {display:none; font-size:10pt; color:#FF0000;}
.upload_avatar_dialog #upload_btn_container .ex-upload-fail .ex-upload-failed-text {display:inline;}

/* imgAreaSelect animated border style */
.imgareaselect-border1 { background: url(../images/border-anim-v.gif) repeat-y left top; }
.imgareaselect-border2 { background: url(../images/border-anim-h.gif) repeat-x left top; }
.imgareaselect-border3 { background: url(../images/border-anim-v.gif) repeat-y right top; }
.imgareaselect-border4 { background: url(../images/border-anim-h.gif) repeat-x left bottom; }
.imgareaselect-border1, .imgareaselect-border2,
.imgareaselect-border3, .imgareaselect-border4 {
    filter: alpha(opacity=50);
	opacity: 0.5;
}
.imgareaselect-handle {
    background-color: #fff;
	border: solid 1px #000;
    filter: alpha(opacity=50);
	opacity: 0.5;
}
.imgareaselect-outer {
	background-color: #000;
    filter: alpha(opacity=50);
	opacity: 0.5;
}

.exfe_version.identification_dialog {
  height: 320px;
  font-family: Helvetica;
  font-size: 14px;
  color: #191919;
}
.exfe_version .exfe-version-info {
  height: 300px;
  width: 360px;
  padding: 0 20px;
  background: url(../images/exfe_rome.jpg) no-repeat;
  background-size: 400px 300px;
}
.exfe_version .exfe-version-info h3 {
  padding-top: 70px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  line-height: 30px;
  padding-bottom: 20px;
}
.exfe_versio .exfe-version-info p {
  line-height: 20px;
  margin-top: 3px;
}
.exfe_version .exfe-version-info p span.blue {
  color: #1175A5;
}
.exfe_version .exfe-version-info p span.bold {
  color: #191919;
  font-weight: bold;
}
.exfe_version .exfe-version-info p span.oblique {
  font-size: 12px;
  color: #4C4C4C;
  font-style: oblique;
}
.exfe_version .exfe-version-info p span.email {
  font-size: 14px;
}

#identity_set_pwd_dialog #set_password_desc {
  color: #424242;
  height: auto;
  line-height: 20px;
}

#identity_set_pwd_dialog #set_pwd_form ul {
  margin-top: 15px;
  margin-bottom: 15px;
}
#identity_set_pwd_dialog #set_pwd_form p {
  color: #797979;
}

#identity_set_pwd_dialog #o_pwd:-moz-placeholder {
  color: #d5d5d5;
}
#identity_set_pwd_dialog #o_pwd::-webkit-intpu-placeholder {
  color: #d5d5d5;
}
