@charset "UTF-8";
/* by Leask */


#x_view {
    font-family: Helvetica;
    background-color: #ffffff;
    border: 1px solid #DDDDDD;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

#x_view.x_view_bkg {
  background: url("/static/images/bkg.png") no-repeat #FFFFFF;
}

#x_view.x_view_bkg #x_menu_bar {
    padding-bottom: 40px;
}

#x_view.x_view_bkg .x_title_normal {
    margin-top: 0px;
    margin-bottom: 20px;
}

#x_view_content {
    padding: 0 40px 40px 40px;
}

#x_title {
    font-weight: normal;
    word-break: break-all;
}

.x_title {
    color: #191919;
    line-height: 50px;
    font-size: 42px;
    width: 714px; /* 原来 800；离中值最近1/7 */
    margin-bottom: 20px;
}

.x_title_normal {
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
    margin-top: 10px;
}

.x_title_double {
    max-height: 112px;
    overflow: hidden;
    width: 630px;
}

#x_content {
    /*margin-top: 20px;*/
}

#x_desc {
    word-break: break-all;
    max-height: 201px;
    overflow: hidden;
}

#x_desc.expanded {
    max-height: none;
}

#x_desc a {
    padding-right: 20px;
    color: #aaaaaa;
    font-style: italic;
    font-size: 12px;
    margin-left: 10px;
}

#x_desc p {
    font-size: 14px;
    line-height: 20px;
     overflow: hidden;
      white-space: normal;
      word-warp: break-word;
      word-break: break-all;/*Only work in IE*/
      text-overflow: ellipsis;/*Not working in FF*/
}

#x_desc img {
    max-width: 480px;
}

#x_desc h1 {
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#x_desc h2 {
    font-size: 14px;
    line-height: 20px;
    margin-top: 6px;
    margin-bottom: 6px;
}

#x_desc h3 {
    font-size: 14px;
    line-height: 20px;
    margin-top: 6px;
    margin-bottom: 6px;
}

#x_desc ul, #x_desc ol {
    padding-left: 25px;
}

#x_desc ul li {
    list-style: disc;
}

#x_desc ol li {
    list-style: decimal;
}

#x_desc li {
    font-size: 14px;
    line-height: 20px;
}

.x_desc {
    color: #191919;
    font-size: 14px;
    line-height: 20px;
    width: 480px;
}

#x_desc_expand {
    float: right;
    font-size: 10px;
    line-height: 20px;
    color: #4C4C4C;
    margin-top: -20px;
    height: 20px;
    cursor: pointer;
}

#x_desc_expand.x_desc_expand_hover {
    background: #ececec;
}

#x_desc_expand .triangle-bottomright {
    float: right;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
}

#x_desc_expand .triangle-bottomright > em {
    cursor: pointer;
    width: 0;
    height: 0;
    display: inline-block;
    border-bottom: 8px solid #B2B2B2;
    border-left: 8px solid transparent;
    vertical-align: middle;
}

#x_desc_expand a {
    height: 20px;
    background: #ececec;
    display: block;
    float: left;
    display: none;
    padding-left: 5px;
}

#x_desc_expand a:hover {
    text-decoration: none;
}

#x_desc_expand a, #x_desc_expand img {
    opacity: 0.88;
    -moz-opacity: 0.88;
    filter:alpha(opacity=88);
}

#x_mainarea {
    float: left;
    width: 480px;
}

#x_sidebar {
    float: right;
    width: 280px;
}

#x_rsvp_area {
    margin-top: 40px;
    line-height: 24px;
    height: 60px;
}

#x_rsvp_area.x_rsvp_area_status {
    margin-top: 30px;
}

#x_rsvp_msg {
    color: #3F3F3F;
    font-size: 18px;
    display: none;
    margin-left: 20px;
}

#x_rsvp_status {
    display: inline;
}

#x_rsvp_status_type {
    display: block;
    height: 28px;
    width: 100px;
    border: 2px #1175A5 solid;
    border-radius: 10px;
    text-align: center;
    line-height: 28px;
    width: 96px;
    float: left;
}

#x_exfee_users {
    margin-left: 130px;
}

#x_exfee_users ul {
    display: table-cell;
    vertical-align:middle;
    height: 30px;
}

#x_exfee_users img {
    vertical-align: middle;
}

#x_exfee_users ul li {
  float: left;
  margin-left: 2px;
  color: #4C4C4C;
  font-size: 14px;
}

#x_rsvp_change {
    margin-left: 12px;
    color: #999999;
    font-size: 14px;
    text-decoration: underline;
}

#x_rsvp_typeinfo {
    height: 30px;
    line-height: 30px;
    display: none;
    padding: 8px 0px 8px 20px;
}

#x_rsvp_typeinfo>span {
    font-size: 12px;
    line-height: 20px;
    color: #424242;
}

#x_rsvp_typeinfo a {
    color: #A9A9A9;
}

h3#x_conversation {
    float: left;
}

a#x_hide_history {
    float: right;
    color: #B2B2B2;
    font-size: 14px;
    line-height: 30px;
    background: url("/static/images/x_hide_history.png") no-repeat 0 10px;
    text-indent: 15px;
    height: 30px;
    text-align: bottom;
    display: block;
}

#x_exfee_by_user {
    height: 28px;
    font-size: 14px;
    line-height: 28px;
    color: #4C4C4C;
    margin-left: 33px;
    clear: both;
    display: none;
}

#x_exfee_by_user img {
    vertical-align: middle;
}

#x_conversation_area {
    margin-top: 30px;
}

#x_conversation_area h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: normal;
    background: url("/static/images/icons.png") no-repeat;
    text-indent: 30px;
    color: #4C4C4C;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.25);
}

.x_conversation_avatar {
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 2px;
}

#x_conversation_input {
    margin-left: 10px;
    width: 428px;
    border: 1px #E5E5E5 solid;
    height: 40px;
    float: right;
    resize: none;
}

#x_conversation_input_area {
    padding-top: 15px;
    clear: both;
}

#x_conversation_list {
    margin-top: 10px;
}

#x_conversation_list li {
    margin-top: 10px;
}

.x_conversation_message {
    font-size: 14px;
    line-height: 20px;
    word-break: break-all;
    width: 430px;
    float: right;
}

.x_conversation_identity {
    color: #191919;
    font-weight: bold;
}

.x_conversation_content {
    color: #191919;
}

.x_conversation_time {
    font-size: 12px;
    line-height: 20px;
    color: #919191;
    float: right;
}

#x_time_relative {
    font-size: 34px;
    line-height: 40px;
    color: #1F78A5;
    font-weight: normal;
}

#x_time_absolute {
    font-size: 14px;
    line-height: 20px;
    color: #191919;
}

#x_place_area {
    margin-top: 24px;
}

#x_place_line1 {
    font-weight: normal;
    word-break: break-all;
    font-size: 34px;
    line-height: 40px;
    color: #1F78A5;
}

.x_place_line1_normal {
    /*font-size: 36px;
    line-height: 46px;*/
}

.x_place_line1_double {
    /*font-size:30px;
    line-height: 36px;*/
    max-height: 80px;
    overflow: hidden;
}

#x_place_line2 {
    font-size: 14px;
    line-height: 20px;
    color: #191919;
    word-break: break-all;
    display: block;
    max-height: 80px;
    overflow: hidden;
}

#xExfeeArea {
    margin-top: 40px;
}

#xExfeeArea:hover .exfeegadget_num_of {
    visibility: visible;
}

.exfeegadget_info_labelarea, .exfeegadget_info {
    height: 42px;
}

.exfeegadget_info_labelarea {
    background: url("/static/images/icons.png") no-repeat left -26px;
    font-size: 24px;
    line-height: 48px;
    color: #4C4C4C;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.25);
    text-indent: 30px;
    float: left;
}

#xExfeeArea .exfeegadget_avatararea {
    clear: both;
    width: 280px;
}

.exfeegadget_info {
    position: relative;
    float: right;
    width: 180px;
    color: #666666;
    text-align: right;
}

.x_rsvp_button {
    width: 131px;
    height: 31px;
    text-align: center;
    display: block;
    font-size: 22px;
    line-height: 26px;
    margin-right: 20px;
    float: left;
}

#x_rsvp_yes {
    background: url("/static/images/btn.png") no-repeat left top;
    color: #E6E6E6;
    text-decoration: none;
}

#x_rsvp_yes:hover {
    background: url("/static/images/btn.png") no-repeat -300px top;
    color: #E6E6E6;
    text-decoration: none;
}

#x_rsvp_yes:visited {
    background: url("/static/images/btn.png") no-repeat -600px top;
    color: #E6E6E6;
    text-decoration: none;
}

#x_rsvp_yes.readonly {
    background: url("/static/images/btn.png") no-repeat -900px top;
    cursor: default;
    color: #E6E6E6;
    text-decoration: none;
}

#x_rsvp_no {
    background: url("/static/images/btn.png") no-repeat -150px top;
    color: #E6E6E6;
    text-decoration: none;
}

#x_rsvp_no:hover {
    background: url("/static/images/btn.png") no-repeat -450px top;
    color: #E6E6E6;
    text-decoration: none;
}

#x_rsvp_no:visited {
    background: url("/static/images/btn.png") no-repeat -750px top;
    color: #E6E6E6;
    text-decoration: none;
}

#x_rsvp_no.readonly {
    background: url("/static/images/btn.png") no-repeat -1050px top;
    cursor: default;
    color: #E6E6E6;
    text-decoration: none;
}

#x_rsvp_maybe {
    background: none;
    color: #666666;
    text-decoration: underline;
    font-size: 18px;
    text-align: left;
    line-height: 24px;
}

#x_rsvp_maybe.readonly{
    background: none;
    color: #666666;
    text-decoration: underline;
    font-size: 18px;
    text-align: left;
    cursor: default;
    line-height: 24px;
}

#xExfeeArea .exfeegadget_inputarea {
    padding: 5px;
    clear: both;
}

#xExfeeArea .exfeegadget_inputbox {
    width: 230px;
}

#xExfeeArea .exfeegadget_addbtn {
    top: -3px;
}

#google_maps_cotainer{
    display:none; margin-top: 10px;
    height:140px; width:280px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #CCC;
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}
