@charset "UTF-8";
/* by Leask */

#x_menu_bar {
    position: relative;
    height: 30px;
    padding-top: 5px;
}

#x_menu_bar .lock_icon {
    float: right;
    background: url("/static/images/icons.png") no-repeat left -250px;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    cursor: pointer;
}

#x_menu_bar .edit_icon {
    float: right;
    background: url("/static/images/icons.png") no-repeat left -285px;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    cursor: pointer;
}

#x_menu_bar .lock_icon_desc, #x_menu_bar .edit_icon_desc {
    right: 10px;
    top: 32px;width:220px;padding:8px;z-index:10
    background:#f4fcfe; border:#90c3ce 1px solid;
    line-height:20px; position:absolute; background-color:#FFF;
}

    /*font-size:14px;*/
#edit_x_bar{
    width: 880px;
    height: 30px;
    padding-top: 10px;
    background: #C4E246;
    margin: 0 auto 10px;
    /* css3 */
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#F4FCD1), to(#C4E246));
    background: -moz-linear-gradient(#F4FCD1, #C4E246);
    background: -o-linear-gradient(#F4FCD1, #C4E246);
    background: linear-gradient(#F4FCD1, #C4E246);
    -webkit-border-radius: 4px;
    -moz-border-radius:4px;
    border-radius: 4px;
}

#edit_x_bar p {
    position: relative;
    float: left;
}

#edit_x_bar #edit_cross_submit_loading {
    position: absolute;
    width: 16px;
    height: 16px;
    margin-left: 835px;
    margin-top: 4px;
    z-index: 1;
    background: url(/static/images/loading_a.gif) no-repeat 0 0;
}

#edit_x_bar p.titles {
    padding-left: 10px;
    font-weight: bold;
    font-size: 12pt;
}

#edit_x_bar p.titles span {
    color: #0591AC;
}

#edit_x_bar p.error_msg {
    padding-left: 10px;
    color: #FF0000;
    padding-top: 10px;
    line-height: 0px;
}

#edit_x_bar p.done_btn {
    padding-right: 10px;
    float: right;
}

#edit_x_bar p.done_btn a {
    display: block;
    width: 50px;
    height: 18px;
    background: #EEEEEE;
    text-decoration: none;
    text-align: center;
    padding-top: 3px;
    cursor: pointer;
    border: 1px solid #999;
    color: #666666;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#edit_x_bar p.done_btn a:hover {
    color: #666666;
}

#edit_x_bar p.revert {
    padding-right: 10px;
    float: right;
    padding-top: 12px;
    line-height: 0px;
}
