      <section id="forbidden" class="x-gather x-forbidden no-bg">
        <!-- Cross-background -->
        <div class="cross-background">
          <div class="cross-background-blur"></div>
          <div class="cross-background-side"></div>
        </div>

        <img class="big-x" width="340" height="340" alt="" src="/static/img/exfe.png" />

        <!-- Cross-Container -->
        <div class="cross-container">
          <h1 class="title">Sorry, the <span class="x">·X·</span> you're requesting is private.</h1>
          <p class="please-signin hide">Please sign in as attendee.</p>
        </div>

      </section>
