      <section id="forgot_password" class="x-gather x-forbidden x-invalid no-bg">
        <!-- Cross-background -->
        <div class="cross-background">
          <div class="cross-background-blur"></div>
          <div class="cross-background-side"></div>
        </div>

        <img class="big-x" width="340" height="340" alt="" src="/static/img/exfe.png" />

        <!-- Cross-Container -->
        <div class="cross-container">
          <h1>Forgot Password</h1>
          <p>Please set up your account with new password.</p>
        </div>
      </section>

