      <section id="home" class="x-home">
        <div class="modal-backdrop hmb hide" id="js-modal-backdrop" ></div>
        <div class="triangle">
          <canvas id="triangle" width="880px" height="35px"></canvas>
          <div class="start hide">Start</div>
        </div>

        <div class="page-header opacity0">

          <div class="title" data-id="exfe">
            <h1>EXFE <small>[’ɛksfi]</small></h1>
            <p>A utility for hanging out with friends.</p>
          </div>

          <div class="title hide" data-id="x">
            <h1>·X· <small>(cross)</small></h1>
            <p>A gathering of people for any intent.</p>
          </div>

          <div class="title hide" data-id="rsvp">
            <p>No more endless calls,</p>
            <p>emails, messages off-the-point.</p>
          </div>

          <div class="title hide" data-id="handy">
            <p>Connected,</p>
            <p>with tools & apps you preferred.</p>
          </div>

          <div class="title hide" data-id="save">
            <p>Private,</p>
            <p>attendee only access, encrypted.</p>
          </div>

        </div>

        <div class="page-main">
          <img class="exfe-toy-shadow hide" src="/static/img/EXFE_300_shadow.png" />

          <div class="circles opacity0">
            <div class="circle c-x">
              <div class="c-ctx"><span class="x">·X·</span></div>
              <div class="c-inner"></div>
            </div>
            <div class="circle c-rsvp">
              <div class="c-ctx"><span>RSVP</span></div>
              <div class="c-inner"></div>
            </div>
            <div class="circle c-handy">
              <div class="c-ctx"><span>Handy</span></div>
              <div class="c-inner"></div>
            </div>
            <div class="circle c-safe">
              <div class="c-ctx"><span>Safe</span></div>
              <div class="c-inner"></div>
            </div>
          </div>

        </div>

        <div class="page-footer opacity0">
          <a class="gather-wrapper" href="/#gather">
            <button class="xbtn-gatherax">Gather a <span class="x">·X·</span></button>
          </a>
        </div>

      </section>
