      <section id="home" class="x-home">
        <div class="x-signin hide" data-widget="dialog" data-dialog-type="identification" data-dialog-tab="d00"></div>

        <div class="page-header opacity0">

          <div class="title" data-id="exfe">
            <h1>EXFE <small>[’ɛksfi]</small></h1>
            <p>A utility for hanging out with friends.</p>
          </div>

          <div class="title hide" data-id="x">
            <h1>X <small>(cross)</small></h1>
            <p>A gathering of people for any intent.</p>
          </div>

          <div class="title hide" data-id="rsvp">
            <p>No more endless calls, <br />emails, messages off-the-point.</p>
          </div>

          <div class="title hide" data-id="handy">
            <p>Connected, <br />with tools & apps you preferred.</p>
          </div>

          <div class="title hide" data-id="save">
            <p>Private, <br />attendee access only.</p>
          </div>

        </div>

        <div class="page-main">
          <!--<img class="exfe-toy" id="js-exfe-toy" src="/static/img/exfe-toy.png" alt="" />-->

          <div class="circles opacity0">
            <div class="circle c-x">X
              <div class="c-inner"></div>
            </div>
            <div class="circle c-rsvp">RSVP
              <div class="c-inner"></div>
            </div>
            <div class="circle c-handy">Handy
              <div class="c-inner"></div>
            </div>
            <div class="circle c-safe">Safe
              <div class="c-inner"></div>
            </div>
          </div>

        </div>

        <div class="page-footer opacity0">
          <a class="gather-wrapper" href="/#gather">
            <button class="xbtn-gatherax">Start</button>
          </a>
        </div>

      </section>
