      <section id="home" class="x-home">

        <div class="page-header">

          <div class="title tanimate" data-id="x">
            <h1>EXFE <small>[’ɛksfi]</small></h1>
            <p>A Utility for hanging out, with friends.</p>
          </div>

          <div class="title" data-id="rsvp">
            <h1>X <small>[krɔs]</small></h1>
            <p>A gathering of people, any intent.</p>
          </div>

          <div class="title" data-id="handy">
            <p>Connected, <br />with tools & apps you preferred.</p>
          </div>

          <div class="title" data-id="save">
            <p>Private, <br />attendee access only.</p>
          </div>

        </div>

        <div class="page-main">
          <!--<img class="exfe-toy" id="js-exfe-toy" src="/static/img/exfe-toy.png" alt="" />-->

          <div class="circle c-x fadeIn" style="left: 245px; top: -57.5px;">X
            <div class="c-inner"></div>
          </div>
          <div class="circle c-rsvp hide" style="right: 200px; top: -10px;">RSVP
            <div class="c-inner"></div>
          </div>
          <div class="circle c-handy hide" style="right: 235px; bottom: -55px;">Handy
            <div class="c-inner"></div>
          </div>
          <div class="circle c-safe hide" style="left: 200px; bottom: -15px;">Safe
            <div class="c-inner"></div>
          </div>

        </div>

        <div class="page-footer">
          <a class="xbtn-gatherax" href="/#gather">Gather a X</a>
        </div>

      </section>

      <script id="homescript">
        define(function (require) {
          var timestamp = require('config').timestamp;
          var script = document.createElement('script');
          script.async = true;
          script.src = '/static/js/xhome/0.0.1/xhome.js?t=' + timestamp;
          document.getElementById('home').appendChild(script);
        });
      </script>
