  <section id="gather" class="x-gather">

    <!-- Cross-Form -->
    <div class="cross-form hide">

      <div class="bg-gatherax">
        Gather a <span class="x">·X·</span>
      </div>

      <!-- Choose Identity -->
      <div class="pull-left choose-identity">
        <div class="placeholder" href="#" data-widget="dialog" data-dialog-type="identification" data-dialog-tab="d00">Identify yourself as host</div>

        <i class=""></i>
      </div>
      <!-- .Choose Identity -->

      <div class="form-horizontal">

          <!--<legend class="hide">Extending form controls</legend>-->

          <!-- Cross-Form: Title -->
          <div class="control-group">
            <label class="control-label" for="gather-title">Intent</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="gather-title" placeholder="Enter intent" />
            </div>
          </div>
          <!-- .Cross-Form: Title -->

          <!-- Cross-Form: Exfee -->
          <div class="control-group cross-exfee" id="gather-exfee">
            <label class="control-label" for="gather-exfee-input">Exfee</label>
            <div class="controls">
              <div class="gather-invite">
                <input type="text" class="input-xlarge exfee-input" id="gather-exfee-input" placeholder="Invite people by name, email, etc." />
                <i class="pointer icon16-exfee-plus"></i>
              </div>
            </div>

            <!--<div class="cross-identities exfee_pop_up_save">-->
            <div class="cross-identities">
              <ul class="unstyled thumbnails">
              </ul>
            </div>

          </div>
          <!-- .Cross-Form: Exfee -->

          <div class="form-actions">
            <div class="pull-right control-buttos">
              <span class="underline discard" id="cross-form-discard">Discard</span>
              <button class="xbtn-savegather" id="cross-form-gather">Gather</button>
            </div>
            <div class="helps">
              <p class="help-block">Edit more information directly in preview below.</p>
            </div>
        </div>

      </div>

    </div>

    <!-- Cross-Editing -->
    <!--
    <div class="xalert xalert-info cross-alert">
      <span class="editing">Editing</span>
      <button class="pull-right save">Done</button>
      <a href="#" class="pull-right revert">Revert</a>
    </div>
    -->
    <!-- .Cross-Edit -->

    <!-- Cross-Shuffle-Background -->
    <!-- 添加 `sb-animate` 设置旋转动画, 去掉则还原 -->
    <!--<i class="pull-right icon14-question shuffle-background"></i>-->
    <!-- .Cross-Shuffle-Background -->

    <!-- Cross-background -->
    <div class="cross-background">
      <div class="cross-background-blur"></div>
      <div class="cross-background-side"></div>
    </div>

    <!-- Cross-Container -->
    <div class="cross-container" editarea="background">

      <!-- Cross-Operactions -->
      <div class="cross-opts">
        <ul class="unstyled nav-pills">
          <li>
            <div class="saving hide">
              <img src="/static/img/loading.gif" alt="" width="14" height="14" />
              <span>Saving...</span>
            </div>
          </li>
          <li>
            <div class="pointer lock-tag">
              <i class="icon14-lock"></i>
            </div>
          </li>
        </ul>
      </div>
      <!-- Cross-Operactions -->

      <!-- Cross-Title -->
      <div class="pointer cross-title" editarea="title" data-link>
        <h1 class="show"></h1>
        <textarea class="edit editing hide"></textarea>
      </div>

      <div class="row">

        <!-- gr-b -->
        <div class="gr-a">

          <!-- Cross-Content -->
          <!--添加 `more` class 显示更多 cross-hover -->
          <div class="pointer cross-description-outer">
            <div class="cross-description" editarea="description" data-link>
              <div class="show"></div>
              <div class="xbtn-more">
                <span class="m">More</span>
                <span class="l">Less</span>
                <span class="rb"></span>
                <span class="lt"></span>
              </div>
              <textarea class="edit editing hide"></textarea>
            </div>
          </div>

          <!-- Cross-rsvp -->
          <div class="cross-rsvp">
            <div class="clearfix show">
              <span class="pull-left attendance"></span>
              <ul class="pull-left unstyled nav-pills accepted"></ul>
              <div class="set-by">
                <div class="by">
                  <span class="sb">Set by</span> <strong></strong>
                  <img class="avatar" src="" width="20" height="20" />
                </div>
                <div class="underline pointer change" editarea="rsvp" data-link>Change attendance</div>
              </div>
            </div>
            <div class="edit">
              <div class="rsvp-group">
                <button class="xbtn-rsvp accept" data-link>I’m in</button>
                <button class="xbtn-rsvp decline" data-link>Unavailable</button>
                <span class="interested" data-link>Interested</span>
              </div>
              <!--<div class="by"><span class="sb">Invitation from</span> <strong>dm.</strong></div>-->
            </div>
          </div>

          <!-- Cross-Conversation -->
          <div class="cross-conversation hide">

            <!--<a href="#" class="pull-right cross-history">Hide history</a>-->

            <h3><i class="icon24-conversation"></i>Conversation</h3>

            <!-- Cross-Form -->
            <div class="avatar-comment" id="conversation-form">
              <span class="pull-left avatar">
                <img alt="" src="" width="40" height="40" />
              </span>

              <div class="comment">
                <div class="comment-form">
                  <textarea></textarea>
                  <i class="pointer icon24-enter"></i>
                </div>
              </div>
            </div>
            <!-- .Cross-Form -->


            <!-- Conversation-Timeline -->
            <div class="conversation-timeline">
            </div>
            <!-- .Conversation-Timeline -->

          </div>

        </div>
        <!-- .gr-b -->

        <!-- gr-b -->
        <div class="gr-b">
          <div>

            <!-- Cross-Time -->
            <div class="pointer cross-dp cross-date" editarea="time" data-link>
              <!--<i class="icon-ics"></i>-->
              <h2></h2>
              <div class="cross-time show"></div>
              <!--<div class="timezone"><i class="icon16-timezone"></i></div>-->
              <input type="text" class="edit editing" placeholder="1989-06-04 09:00 AM" style="display:none"> <!-- @todo @caifangdun move this style to css file -->
            </div>

            <!-- Cross-Place -->
            <div class="pointer cross-dp cross-place" editarea="place" data-link>
              <h2 class="show"></h2>
              <address class="show"></address>
              <div class="xbtn-more">
                <span class="rb"></span>
                <span class="lt"></span>
              </div>
              <!--<textarea class="edit editing" style="display:none"></textarea> [> @todo @caifangdun move this style to css file <]-->
            </div>

            <!-- Cross-Map
            <div class="cross-map">
              <<img src="http://maps.googleapis.com/maps/api/staticmap?center=40.714728,-73.998672&markers=size:mid%7Ccolor:blue%7C40.714728,-73.998672&zoom=13&size=280x140&maptype=road&sensor=false" alt="" />
              <img src="/img/google-staticmap.png" alt="" width="280px" height="140px" />
            </div>
            -->

            <!-- Cross-Form: Exfee -->
            <div class="cross-exfee" id="cross-exfee">

              <div class="pull-right cross-stats">
                <span class="attended">0</span>
                <div class="confirmed">
                  <div class="total">of <span></span></div>
                  <div>accepted</div>
                </div>
              </div>

              <h3><i class="icon24-exfee"></i>Exfee</h3>

              <div class="cross-identities exfee_pop_up_save">

                <ul class="clearfix unstyled thumbnails"></ul>

                <div class="invite-form">
                    <!--<i class="pointer icon16-exfee-plus-blue"></i>-->
                    <i class="pointer icon16-exfee-plus"></i>
                    <input name="identity" type="text" class="input-xlarge exfee-input" id="cross-exfee-input" placeholder="Invite people by name, email, etc." />
                </div>
                <div class="exfee-warning hide">
                  <i class="icon16-warning"></i>
                  <span class="xalert-fail">12 exfees maximum</span>
                </div>

              </div>

            </div>
            <!-- .Cross-Form: Exfee -->

          </div>
        </div>
        <!-- .gr-b -->


      </div>
    </div>

  </section>

  <div class="typeahead ids-popmenu" style="display:none"><ol class="unstyled"></ol></div>
