@import "/less/bootstrap.less";

.modal-identification {
  .authorize {
    height: 40px;
    line-height: 40px;
  }

  .signing {
    padding-bottom: 20px;
    text-align: center;
  }

  .avatar {
    position: absolute;
    right: 18px;
    top: 3px;
  }

  .identity {
    font-style: oblique;
  }
}
