.exCalendarContainer { clear:both; display:none; position:absolute; margin:0; padding:0; width:310px; height:165px; z-index:10; font-size:9pt;  }
.exCalendarContainer .exCalDays { display:block; position:relative; float:left; width:218px; }
.exCalendarContainer .exCalDays table { background:#D3D4D4; border-collapse:collapse; border:1px solid #D3D4D4; color:#000000; }
.exCalendarContainer .exCalDays table tr.header{ height:23px; }
.exCalendarContainer .exCalDays table a { text-decoration:none; color:#004154; font-weight:bold; }
.exCalendarContainer .exCalDays table th { font-weight:normal; height:25px; }
.exCalendarContainer .exCalDays table th a { font-weight:normal; text-decoration:none; color:#FFF; padding:1px; }
.exCalendarContainer .exCalDays table td {
    height:20px; width:30px; text-align:center; background-color:#E5E6E9; overflow:hidden;
}
.exCalendarContainer .exCalDays table td a { display:block; width:31px; height:16px; padding-top:5px; line-height:9pt; }
.exCalendarContainer .exCalDays table td a:hover { background-color:#01A5B4; color:#FFFFFF; }
.exCalendarContainer .exCalDays table td a.invalid { color:#888888; font-weight:normal; }
.exCalendarContainer .exCalDays table td a.current { background-color:#057FA3; color:#FFFFFF; }
/*.exCalendarContainer .exCalDays table td a.today { background-color:#004154; color:#FFFFFF; }*/

.exCalendarContainer .exCalTimes{
    display:block; position:relative; float:left;
    width:90px; height:173px;
    border-right:1px solid #D6D6D5;
    border-bottom:1px solid #D6D6D5;
}
.exCalendarContainer .exCalTimes ul { clear:both; list-style:none; padding:0px; margin:0px; background:#F2F2F2; }
.exCalendarContainer .exCalTimes ul.list { height:150px; overflow:hidden; overflow-x: hidden; overflow-y: scroll;}
.exCalendarContainer .exCalTimes ul.list li { cursor:pointer; }
.exCalendarContainer .exCalTimes ul.list li:hover { background-color:#01A5B4; color:#FFFFFF; }
.exCalendarContainer .exCalTimes ul.list li.current { background-color:#057FA3; color:#FFFFFF; }
.exCalendarContainer .exCalTimes ul li { clear:both; list-style:none; padding:6px 0; margin:0px; text-align:center; }
.exCalendarContainer .exCalTimes ul li.header { height:18px; padding:5px 0 0 0; background:#D6D6D5; }
