*{ margin:0; padding:0;
}
body {font-size:12px;font-family: Lucida Grande,Lucida SansUnicode,Helvetica,Arial,sans-serif;background:#ffffff url(images/bodybg.png) repeat-x ;color:#696969
}
a {text-decoration:none; color:#3f3f3f;outline:none;
}
a:hover {color:#43a9d2;text-decoration: underline;
}

a.underline{ text-decoration:underline;
}
ul li { padding:0; margin:0; list-style:none;
}
img {border:0;
}

em{font-style:normal}
em.x{font-style:italic;color:#9c9c9c}
em.y{color:#0591af}
em.h3{font-size:24px;font-family:Verdana; }
.fbg{background:#d5e6e9}

/**header**/
#header {width:1000px;height:47px;margin:0 auto;position:relative;background:url(images/header.png) no-repeat;height:48px;
}
#header .hl{width:67px;height:47px;float:left;background:url(images/header_l.jpg) no-repeat;
}
#header .hc{width:543px;height:37px;float:left;background:url(images/header_c.jpg) no-repeat;padding:10px 0 0 40px;
}
#header .logo{background:url(images/logo.png) no-repeat;height:25px; width:65px;display:block;text-indent:-9999px;
}
#header .hr{float:left;margin-left:102px;position:relative;width:150px;height:47px;z-index:100
}
#header .hr em.light{width:58px;height:45px;background:url(images/btn.png) no-repeat left -314px;display:block;position:absolute;
}
#header .hr .name{height:20px;width:85px;text-align:center;line-height:20px;margin-top:10px;cursor:pointer;float:right
}
#header .hr .name span{font-size:14px;color:#ffffff;font-weight:bold;font-family:Verdana;
}
#header .hr .nameh{color:#000000;font-size:14px;font-weight:bold;font-family:Verdana;float:right;width:85px;text-align:center;
}
#header .hr .mygear{width:228px;padding:5px 0px 0;display:none;background:url(images/user.png) no-repeat;font-size:13px;position:absolute;right:0px;top:5px;
}
#header .hr .message{width:190px;padding:50px 19px 10px;
}
#header .hr .message .na{height:40px;
}
#header .hr .message .na p{float:left;color:#a0a0a0
}
#header .hr .message .na p span{font-size:24px;color:#058fad;display:block;
}
#header .hr .message .na img{width:40px;height:40px;float:right;
}
#header .hr .message .info{line-height:20px;color:#202020;text-align:left;font-size:14px;margin-top:10px;
}
#header .hr .message .info span{color:#696969;
}
#header .hr .message .info em{background:url(images/btn.png) no-repeat left -282px;color:#ffffff;font-size:11px;width:30px;height:20px
}
#header .hr .message .creatbtn{width:180px;height:32px;background:url(images/btn.png) no-repeat 2px -236px;margin-top:20px;line-height:32px;}
#header .hr .message .creatbtn a{color:#ffffff;font-size:18px;font-family:Verdana;}

#header .hr .mygearfoot{width:190px;height:30px;padding:0 19px;background:url(images/user.png) no-repeat left bottom;line-height:30px;
}
#header .hr .mygearfoot a.l{float:left
}
#header .hr .mygearfoot a.r{float:right;
}

.menu_iframe{width:228px;overflow:hidden;filter: Alpha(Opacity=0);position:absolute;opacity:0;position:absolute;visibility:inherit;width:110px;z-index:-1;top:0px;
}

/*header*/
#content{width:880px;margin:0 auto;
}
#content:after { content: ".";display: block;height: 0;clear: both;visibility: hidden;
}
#index{width:800px;margin:0 auto;padding:30px 0;
}
#index h2{color:#0591af;font-size:40px;height:80px;line-height:80px;font-family:Verdana;font-weight:normal;
}

/*fuo*/
.fsuo{position:relative;}
.suobtn{background:url("images/incobtn.png") no-repeat left -250px;height:20px;position:absolute;right:60px;top:0px;width:20px;}
.xfc{background:#f4fcfe;border:#90c3ce 1px solid;line-height:20px;position:absolute;right:10px;top:32px;width:195px;padding:8px;z-index:10}
.xfc span{font-size:14px;}
.fjiao{background:url("images/jiao.jpg") no-repeat;height:196px;width:80px;right:59px;top:0;position:absolute;display:none;}

.exfel{float:left;width:480px;
}

.exfel p.text{font-size:15px;margin-top:10px;line-height:22px;
}
.exfel p.text a{background:url(images/btn.png) no-repeat 55px -105px;padding-right:20px;
}
.exfel ul.ynbtn{margin:25px 0;height:30px;
}
.exfel ul.ynbtn li{width:150px;float:left;
}
.exfel ul.ynbtn li a{width:130px;height:30px;color:#ffffff;text-align:center;background:url(images/btn.png) no-repeat left top;display:block;font-size:24px;line-height:30px;
}
.exfel ul.ynbtn li a.yes{background-position:left top
}
.exfel ul.ynbtn li a.no{background-position:right top
}
.exfel ul.ynbtn li a.maybe{background:none;color:#696969;text-decoration: underline;font-size:18px;
}
.exfer{float:right;width:278px;
}
.exfer h3{color:#0591af;font-size:28px;height:50px;line-height:50px;font-family:Verdana;font-weight:normal;margin-top:10px; }
.exfer p.tm{color:#020202;font-size:18px;line-height:22px;}
.exfer p.map{margin-top:20px}
.exfer .exfee{margin-top:40px;}
.feetop{height:40px;}
.exfer .exfee h3{background:url(images/incobtn.png) no-repeat left -28px;text-indent:35px;font-size:24px;height:40px;line-height:40px;font-weight:normal;float:left;width:100px;color:#696969;margin:0}
.exfer .exfee p.of{float:right;width:85px;font-size:13px;}
.exfer .exfee p.of em{float:left;width:20px;font-size:36px;color:#0591AF;padding-right:5px;}

.albg{background:#ffffff url(images/exfebg.jpg) no-repeat;}



/** public class **/

.step {width:100%;
}
.step:after { content: ".";display: block;height: 0;clear: both;visibility: hidden;
}

.pic40{width:40px;height:40px;float:left;margin-right:15px;}
.pic40 img{width:40px;height:40px;}
.pic20{width:20px;height:20px;float:left;margin-right:15px;}
.pic20 img{width:20px;height:20px;}
/* comment list */
.Conversation{margin:20px 0;width:482px;}
.Conversation h3{background:url(images/incobtn.png) no-repeat 5px 15px;text-indent:35px;font-size:24px;height:50px;line-height:50px;font-weight:normal;}
.Conversation .commenttext{margin:15px 0;height:60px}
.Conversation .commenttext img{float:left;}
.Conversation .commenttext .ctext{width:430px;height:50px;border:#afafaf 1px solid;float:right;font-size:12px;}
.commentlist {margin: 10px 0px;line-height: 130%;}
.commentlist li {margin:20px 0;overflow:hidden;line-height:20px;}
.comment {float:left;font-size:13px;width:360px;}
.comment span{color:#020202}
.times {float:right;color:#a0a0a0}

.samlcommentlist {margin:10px 0px;line-height: 130%;}
.samlcommentlist li {margin:10px 0;overflow:hidden;line-height:20px;}
.smcomment {float:left;font-size:12px;width:215px;}
.smcomment span{color:#020202;font-size:16px;padding-right:5px;}
.smcomment span.lb{background:url(images/btn.png) no-repeat left -280px;color:#ffffff;padding:2px;font-size:12px;}
.cs {float:right;width:20px;height:20px;}
.cs em {width:20px;height:20px;background:url(images/incobtn.png) no-repeat;display:block;}
.cs em.c1{background-position:left -80px}
.cs em.c2{background-position:left -123px}
.cs em.c3{background-position:left -636px}

/*浮层*/
/*---- xbox1 ----*/
b.rbottom{display:block;}
b.r1,b.rbottom b.r1{background:#ffffff;}
b.rbottom b{display:block;height:1px;overflow: hidden;background:#ffffff;border:#f2f2f2 1p solid;  }
b.rbottomh{display:block;}
b.rbottomh b.r1{background:#f2f2f2;}
b.rbottomh b{display:block;height:1px;overflow: hidden;background:#f2f2f2;border:#f2f2f2 1p solid; }
b.r1{margin: 0 2px}
b.r2{margin: 0 1px}
b.r3{margin: 0px}
.loginMask{position:absolute;padding:0;line-height:200%;z-index:1000;;width:463px;left:50%;margin-left:-175px;top:400px;}
.loginMask h5{margin:0;height:25px;padding:0 8px;background:url(images/fuceng_title.png) no-repeat}
.loginMask h5 a{float:left;display:block;height:25px;width:20px;font-style:normal;cursor:pointer;text-indent:-9999px;}
.loginMask h5 em{float:right;width:90px;height:25px;background:url(images/btn.png) no-repeat left -365px;}
.loginMask h5 em.t1{background-position:left -365px;}
.loginMask h5 em.tl{background-position:left -395px;}
.overFrame{background:#fafafa;padding-bottom:15px;}
.overFramel{background:#ffffff;padding-bottom:15px;}
.overFrameh{background:#f2f2f2;padding:10px 0 15px;}
.overFramelogin{width:350px;margin:0 auto;padding:45px 0;}
.invi{width:412px;margin:0 auto;padding-top:20px;color:#020202;font-size:13px;line-height:20px;}
.invi dl{margin-top:5px;padding:5px 8px;position:relative;}
.invi dl dt span{font-size:16px;color:#0591af}
.invi dl dd.accept{position:absolute;right:20px;top:13px;background:url(images/btn.png) no-repeat right -236px;text-align:center;width:60px;height:30px;display:none; }
.invi dl dd.accept a{color:#ffffff;font-size:14px;}
.invi .h{text-align:right;color:#208196;font-size:18px;}
.invi .h span.alllist{width:90px;float:right;font-size:12px;font-weight:bold;background:url(images/btn.png) no-repeat 5px -176px;text-align:center;color:#ffffff;display:none;}
.loginMask .h em{width:20px;height:18px;background:url(images/incobtn.png) no-repeat;padding-left:20px;}
.loginMask .h em.in{background-position:left -160px;}
.loginMask .h em.up{background-position:left -205px;}
.loginMask .h span{padding-left:5px;cursor:pointer}


.upd{width:412px;margin:0 auto;line-height:20px;}
.upd .h{text-align:right;color:#656565;font-size:18px;}
.upd .h span.upalllist{width:90px;float:right;font-size:12px;font-weight:bold;background:url(images/btn.png) no-repeat -105px -176px;text-align:center;color:#ffffff;display:none;}
.upd dl{margin-top:15px;padding:5px 8px;position:relative;}
.upd dl dt span{font-size:16px;color:#020202}
.upd dl dd.accept{position:absolute;height:20px;right:2px;top:5px;background:url(images/btn.png) no-repeat left -144px;width:20px;display:none; }
.upd dl dd.accept a{text-indent:-9999px;width:20px;height:20px;display:block;}




.centerbg{width:1000px;margin:0 auto;background:url(images/logincenter.png) repeat-y top center;padding-top:30px;}

/*登录*/
.loginBao{width:325px;margin:0px auto;border:1px solid #CCCCCC;padding:50px 125px;background:#ffffff;position:relative;z-index:10}
.login{margin:0 auto;}
.login ul{margin-top:10px;}
.login ul li{height:35px;line-height:35px;}
.login ul label{width:65px;height:30px;line-height:30px;float:left;text-align:right;}
.login ul li input.inputText{height:25px;line-height:25px;border:#c5c5c5 1px solid;width:226px;float:left;margin-left:8px;}
.login .loginbtn p .dx{width:55px;height:15px;position:absolute;top:10px;}
.login h3{font-size:19px;line-height:25px;text-align:center;}
.login h3 a{color:#0591af;}
.login h4{font-size:18px;line-height:25px;text-align:center;}
.login h4 span{font-size:24px;color:#0591af;}
.login p.t{font-size:14px;margin:20px 0;text-align:center;line-height:20px;}
.login input.sub{height:26px;border:0;color:#696969;font-family:Verdana;background:url(images/btn.png) no-repeat left -44px;width:60px;font-size:14px;}
.login ul li p{height:26px;width:60px;margin:0 auto;}
.login ul li em{float:left;width:30px;height:20px;background:url(images/incobtn.png) no-repeat;cursor:pointer;}
.login ul li em.ic1{background-position:8px -284px;}
.login ul li em.ic2{background-position:8px -327px;}
.login ul li em.ic3{background-position:8px -373px;}

/*ceate*/
.ceateBao{width:878px;margin:0 auto;}
.ceatenav{height:50px;font-family:'Arial';}
.ceatenav p{width:250px;color:#7b7b7b;font-size:24px;float:left;line-height:50px;text-align:center;}
.ceatenav ul{width:565px;float:right;font-weight:bold;}
.ceatenav ul li{width:133px;float:left;height:50px;line-height:50px;text-align:center;}
.ceatenav ul li a{width:133px;height:50px;display:block;color:#d2d2d2;font-size:19px}
.ceatenav ul li a:hover,.ceatenav ul li a.on{width:133px;height:50px;background:url(images/btn.png) no-repeat right -112px;color:#7b7b7b}
.ceatenav ul li a.on span,.ceatenav ul li a:hover span{color:#83a7c3;font-size:30px}
.ceatenav ul li a span{font-size:30px}
.ceatenav ul li.ste{width:60px;background:url(images/btn.png) no-repeat 10px -435px;}
.createset{width:856px;height:328px;margin:0px auto;border:1px solid #d4d4d4;padding:20px 10px;background:#f7f6ee;position:relative;z-index:10}
.createset .labbtn p{width:20px;height:45px;background:url(images/btn.png) no-repeat right -447px;position:absolute;top:45%}
.createset .labbtn p.lt{background-position:right -447px;left:5px;}
.createset .labbtn p.rt{background-position:-202px -447px;right:5px;}

.createset .creatct{width:802px;margin:0 auto;}
.createset .creatct .creattext{width:486px;}
.createset .creatct .creattext .vti{height:25px;line-height:25px;}
.createset .creatct .creattext .vti p{width:50px;}
.createset .creatct .creattext .vti p em{padding-left:20px;background:url(images/incobtn.png) no-repeat left -612px;font-size:14px;color:#020202}
.createset .creatct .creattext .vti p span{font-size:16px;color:#020202}
.createset .creatct .creattext input.inputText{padding:1px;border:#c5c5c5 1px solid;background:#ffffff;width:478px;color:#1f1f1f;height:24px;margin-top:10px}
.createset .creatct .creattext textarea{color:#d0d0d0;padding:1px;border:#c5c5c5 1px solid;background:#ffffff;width:478px;height:198px;margin-top:30px}
.createset .creatct .creattext textarea.ctext_1{height:72px;margin:0}
.createset .creatct .creattext p.redbtn{width:20px;height:25px;background:url(images/btn.png) no-repeat left -500px;position:absolute;top:32px;left:15px;}
.createset .creatct .creattext .selecetafri{padding:1px;border:#c5c5c5 1px solid;background:#ffffff;width:478px;color:#1f1f1f;height:156px;margin-top:10px;overflow:auto;overflow-y:scroll}
.createset .creatct .creattext .selecetafri .samlcommentlist{width:240px;float:left;margin:2px;}
.createset .creatct .creattext .selecetafri .samlcommentlist li{margin:5px 0 5px 5px;}
.createset .creatct .creattext .selecetafri .samlcommentlist .smcomment{width:180px;color:#a0a0a0}

.createset .cl{float:left;}
.createset .cr{float:right;}
.createset .creatct .creatinfo{width:282px;}
.opacity {filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;}
.createset .creatct .creatinfo dl{margin:8px 0;line-height:22px;overflow:hidden}
.createset .creatct .creatinfo dl dt{background:url(images/incobtn.png) no-repeat;padding-left:22px;color:#020202;font-size:14px;height:25px;filter:alpha(opacity=20);-moz-opacity:0.2;}
.createset .creatct .creatinfo dl dt.ic1{background-position:left -580px;}
.createset .creatct .creatinfo dl dt.ic2{background-position:left -532px;}
.createset .creatct .creatinfo dl dt.ic3{background-position:left -556px;}
.createset .creatct .creatinfo dl dt span{color:#696969}
.createset .creatct .creatinfo dl dd{color:#bebebc}
.createset .creatct .creatinfo dl dd input.inputText{padding:1px;border:#edece6 1px solid;background:#f9f8f1;width:246px;color:#d0d0d0;height:24px;float:left}
.createset .creatct .creatinfo dl dd textarea.ctext{padding:1px;border:#edece6 1px solid;background:#f9f8f1;width:246px;color:#d0d0d0;height:116px;float:left}
.createset .creatct .creatinfo dl dd p.map{background: url("images/btn.png") no-repeat scroll right -360px transparent;float: right;height: 40px;margin-top:5px;width:20px;}
.createset .creatct .creatinfo dl dd p.btime{background: url("images/btn.png") no-repeat scroll right -316px transparent;float: right;height: 24px;margin-top: 5px;width: 23px;}

.createset .creatct .submit{width:130px;height:40px;position:absolute;left:42%;top:40%}
.createset .creatct .submit input.sub{background: url("images/btn.png") no-repeat scroll right -44px;border: 0 none;color: #ffffff;font-family:Verdana;font-size:24px;height:40px;width: 130px;cursor:pointer;}

.createset .creatct .exfend{width:400px;margin:0 auto;padding-top:85px;text-align:center;font-family:Verdana; }
.createset .creatct .exfend p.tp{line-height:25px;color:#adadad;font-size:14px;}
.createset .creatct .exfend p.tp span{color:#0591af;font-size:24px;}
.createset .creatct .exfend p.tp em{color:#696969;font-style:italic}
.createset .creatct .exfend p.tf{line-height:25px;color:#adadad;font-size:14px;margin-top:100px}






/* ------------------------------------- footer area  */
#footerBao { width:100%;height:42px;background:#dfdfdf;left:0px;bottom:0px;position:fixed;z-index:99;
}

/*-------------------------------------main */
