<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" dir="ltr"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/i/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!--<meta http-equiv="X-UA-Compatible" content="IE=9, IE=8, chrome=1" />-->
  <title>Cross</title>
  <meta name="description" content="" />
  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
  <!--<link rel="stylesheet" href="css/bootstrap.css" />-->
  <!--<link rel="stylesheet/less" href="less/bootstrap.less" />-->
  <!-- More ideas for your head here: h5bp.com/d/head-Tips -->

  <!-- Want to try a different theme?
    If not using LESS compiler: Uncomment below
    and change to name of desired theme. (See docs) -->
  <!--link type="text/css" rel="stylesheet" href="extras/css/amelia.css" /-->

  <!-- All JavaScript at the bottom, except this Modernizr build.
    Modernizr enables HTML5 elements & feature detects for optimal performance.
    Create your own custom Modernizr build: www.modernizr.com/download/ -->

  <link rel="stylesheet/less" href="../less/exfe/lib/exfe_dev.less" />

  <!-- Include less.js -->
  <script src="../jslib/less/lib/less.js"></script>
</head>
<body>
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]>
    <link href="css/bootstrap.ie6.css" rel="stylesheet">
    <p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
  <![endif]-->

  <!-- NavBar -->
  <div class="navbar">

    <!-- navbar-inner -->
    <div class="navbar-inner">
      <div class="container">

        <!--  EXFE LOGO -->
        <a href="#" class="brand">EXFE</a>

        <a href="#" class="version">SANDBOX</a>

        <div class="nav-collapse">
          <ul class="nav pull-right">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Steve Exfee</a>
              <div class="dropdown-menu">
                <p>1,2,3,4,5,6,7,8,9,0</p>
              </div>
            </li>
            <li>
              <a href="#">Sign In</a>
            </li>
            <li>
              <a href="#">Search</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
    <!-- /navbar-inner -->

    <!-- navbar-bg -->
    <div class="navbar-bg"></div>
    <!-- /navbar-bg -->

  </div>
  <!-- /NavBar -->

  <!-- container -->
  <div class="container">
    <!--<header></header>-->

    <div role="main">

      <section id="cross" class="x-cross">

        <div class="xalert xalert-info cross-alert">
          <span class="editing">Editing</span>
          <button class="pull-right save">Done</button>
          <a href="#" class="pull-right revert">Revert</a>
        </div>

        <!-- Cross-Shuffle-Background -->
        <i class="pull-right icon14-question shuffle-background"></i>
        <!-- .Cross-Shuffle-Background -->

        <!-- Cross-background -->
        <div class="cross-background">
          <div class="cross-background-blur"></div>
          <div class="cross-background-side"></div>
        </div>

        <!-- Cross-Container -->
        <div class="cross-container">

          <!-- Cross-Title -->
          <div class="cross-title double-line">
            <h1>Team dinner in San Francisco with Bay Area friends</h1>
          </div>

          <div class="cross-title double-line">
            <textarea class="edit editing" name="description">Team dinner in San Francisco with Bay Area friends</textarea>
          </div>

          <div class="cross-title single-line">
            <h1>Team dinner in San Francisco with Bay Area friends</h1>
          </div>

          <div class="cross-title single-line">
            <textarea class="edit editing" name="description">Team dinner in San Francisco with Bay Area friends</textarea>
          </div>

          <div class="row">
            <!--<div class="span7"></div>-->
            <!--<div class="span5"></div>-->
            <div class="gr-a">

              <!-- Cross-Content -->
              <div class="cross-description">
  <p>
  h: 680px;
  e6e6e6
  fafafa

  2 2 0.25

  315

  70 88 100
  0~1, h 377
  </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, set eiusmod tempor incidunt et labore et dolore magna aliquam. Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in reprehend incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse molestaie cillum. Tia non ob ea soluad incom dereud facilis est er expedit distinct. Nam liber te conscient to factor tum poen legum odioque civiuda et tam. Neque pecun modut est neque nonor et imper ned libidig met, consectetur adipiscing elit, sed ut labore et dolore magna aliquam is nostrud exercitation ullam mmodo consequet.</p>
              </div>

              <!-- Cross-rsvp -->
              <div class="cross-rsvp">

              </div>

              <!-- Cross-Conversation -->
              <div class="cross-conversation">

                <a href="#" class="pull-right cross-history">Hide history</a>

                <h3>Conversation</h3>

                <!-- Cross-Form -->
                <div class="avatar-comment">
                  <span class="pull-left avatar">
                    <img alt="" src="/img/users/u1x40.png" width="40" height="40" />
                  </span>

                  <div class="comment">
                    <form class="comment-form" accept-charset="UTF-8" action="#" data-type="json" method="post">
                      <textarea></textarea>
                      <i class="pointer icon24-enter"></i>
                    </form>
                  </div>
                </div>
                <!-- .Cross-Form -->


                <!-- Conversation-Timeline -->
                <div class="conversation-timeline">

                  <div class="avatar-comment">
                    <span class="pull-left avatar">
                      <img alt="" src="/img/users/u2x40.png" width="40" height="40" />
                    </span>

                    <div class="comment">
                      <p>
                        <span class="author"><strong>DM.</strong>:&nbsp;</span>
                        My only missing food in US, dudes! yummy! Lorem ipsum dolor sit amet, ligula suspendisse nulla pretium.
                        <span class="pull-right date">
                          <time>3 hours</time>
                        </span>
                      </p>
                    </div>
                  </div>

                  <div class="avatar-comment">
                    <span class="pull-left avatar">
                      <img alt="" src="/img/users/u2x40.png" width="40" height="40" />
                    </span>

                    <div class="comment">
                      <p>
                        <span class="author"><strong>DM.</strong>:&nbsp;</span>
                        My only missing food in US, dudes! yummy! Lorem ipsum dolor sit amet, ligula suspendisse nulla pretium.
                        My only missing food in US, dudes! yummy! Lorem ipsum dolor sit amet, ligula suspendisse nulla pretium.
                        <span class="pull-right date">
                          <time>3 hours</time>
                        </span>
                      </p>
                    </div>
                  </div>

                  <div class="avatar-comment rsvp-history">
                    <i class="pull-left icon-check"></i>
                    <span class="pull-right avatar">
                      <img alt="" src="/img/users/u2x20.png" width="20" height="20" />
                    </span>

                    <div class="comment">
                      <p>
                        <span class="author"><strong>DM.</strong>:&nbsp;</span>
                        My only missing food in US.
                      </p>
                    </div>
                  </div>

                  <div class="avatar-comment rsvp-history">
                    <i class="pull-left icon-user"></i>

                    <span class="pull-right avatar"><img alt="" src="/img/users/u3x20.png" width="20" height="20" /></span>

                    <div class="comment">
                      <p>
                        <span class="author"><em>gokeeper@gmail.com</em></span>
                        My only missing food in US, dudes! yummy!
                      </p>
                    </div>
                  </div>


                  <div class="avatar-comment">
                    <span class="pull-left avatar">
                      <img alt="" src="/img/users/u2x40.png" width="40" height="40" />
                    </span>

                    <div class="comment">
                      <p>
                        <span class="author"><strong>KissDry</strong>:&nbsp;</span>
                        -1 from me I dont want.
                        <span class="pull-right date">
                          <time>10 hours ago</time>
                        </span>
                      </p>
                    </div>
                  </div>

                  <div class="avatar-comment rsvp-history">
                    <i class="pull-left icon-file"></i>

                    <span class="pull-right avatar">
                      <img alt="" src="/img/users/u1x20.png" width="20" height="20" />
                    </span>

                    <div class="comment">
                      <p>
                        <span class="author"><strong>Xin Li</strong>:&nbsp;</span>
                        -1 from me I dont want to slow down internals
                      </p>
                    </div>
                  </div>

                </div>
                <!-- .Conversation-Timeline -->

              </div>

            </div>

            <div class="gr-b">
              <div>

                <!-- Cross-Time -->
                <div class="cross-dp cross-date">
                  <h2>Tomorrow</h2>
                  <time class="cross-time">6:30PM on Fri, Apr 8</time>
                </div>

                <!-- Cross-Place -->
                <div class="cross-dp cross-place">
                  <h2>Crab House Pier 39, 2nd floor</h2>
                  <address>Pier 39, 203 C<br /> San Francisco<br /> http://crabhouse39.com<br /> (555) 434-2722</address>
                </div>

                <!-- Cross-Map -->
                <div class="cross-map">
                  <!--<img src="http://maps.googleapis.com/maps/api/staticmap?center=40.714728,-73.998672&markers=size:mid%7Ccolor:blue%7C40.714728,-73.998672&zoom=13&size=280x140&maptype=road&sensor=false" alt="" />-->
                  <img src="/img/google-staticmap.png" alt="" width="280px" height="140px" />
                </div>

                <!-- Cross-Exfee -->
                <div class="cross-exfee">

                  <div class="pull-right cross-stats">
                    <span class="attended">0000</span>
                    <div class="confirmed">
                      <div class="total">of 7890</div>
                      <div>confirmed</div>
                    </div>
                  </div>

                  <h3>Exfee</h3>

                  <div class="cross-identities">
                    <ul class="clearfix unstyled thumbnails">
                      <li class="identity">
                        <span class="avatar select">
                          <img src="/img/users/u1x50.png" alt="" width="50" height="50" />
                          <i class="icon10-plus-1 lt"></i>
                          <i class="icon10-host-h rt"></i>
                          <div class="rb">
                            <i class="icon14-rsvp-accepted-blue"></i>
                          </div>
                        </span>

                        <div class="identity-name">dm.</div>
                      </li>

                      <li class="identity">
                        <span class="avatar">
                          <img src="/img/users/u1x50.png" alt="" width="50" height="50" />
                          <span class="lt">2</span>
                          <span class="rb"><i class="icon-remove-sign"></i></span>
                        </span>

                        <div class="identity-name">HUO Ju</div>
                      </li>

                      <li class="identity">
                        <span class="avatar select">
                          <img src="/img/users/u1x50.png" alt="" width="50" height="50" />
                          <span class="rb"><i class="icon-plus-sign"></i></span>
                        </span>

                        <div class="identity-name">Nan</div>
                      </li>

                      <li class="identity">
                        <span class="avatar select">
                          <img src="/img/users/u1x50.png" alt="" width="50" height="50" />
                        </span>

                        <div class="identity-name">hang</div>
                      </li>

                      <li class="identity">
                        <span class="avatar">
                          <img src="/img/users/u1x50.png" alt="" width="50" height="50" />
                        </span>

                        <div class="identity-name">Kissdry</div>
                      </li>

                      <li class="identity">
                        <span class="avatar">
                          <img src="/img/users/u2x50.png" alt="" width="50" height="50" />
                        </span>

                        <div class="identity-name">Leask H</div>
                      </li>

                      <li class="identity">
                        <span class="avatar">
                          <img src="/img/users/u2x50.png" alt="" width="50" height="50" />
                        </span>

                        <div class="identity-name">Googollee</div>
                      </li>

                      <li class="identity">
                        <span class="avatar unconfirmed">
                          <img src="/img/users/u2x50.png" alt="" width="50" height="50" />
                        </span>

                        <div class="identity-name">Googollee</div>
                      </li>

                      <li class="identity">
                        <span class="avatar unconfirmed">
                          <img src="/img/users/u2x50.png" alt="" width="50" height="50" />
                        </span>

                        <div class="identity-name">SteveE</div>
                      </li>

                      <li class="identity">
                        <span class="avatar unconfirmed select">
                          <img src="/img/users/u2x50.png" alt="" width="50" height="50" />
                        </span>

                        <div class="identity-name">Penny</div>
                      </li>

                      <li class="identity">
                        <span class="avatar unconfirmed">
                          <img src="/img/users/u2x50.png" alt="" width="50" height="50" />
                          <span class="rb"><i class="icon-plus-blue"></i></span>
                        </span>

                        <div class="identity-name">Hello World</div>
                      </li>

                      <li class="identity identity-more">
                        <div>
                          <i class="icon-align-justify"></i>
                        </div>
                      </li>
                    </ul>

                    <div class="invite">
                      <form class="invite-form" accept-charset="UTF-8" action="#" data-type="json" method="get">
                        <i class="icon16-exfee-plus"></i>
                        <input name="identity" type="text" placeholder="Invite people by name, email, etc." />
                      </form>
                    </div>

                    <div class="invite-list">
                      <ul>
                        <li>
                          <div>
                            <span class="identity-name">dm.</span> <span class="host">host</span>
                          </div>
                        </li>
                        <li>
                          <div class="hover">
                            <i class="icon-plus-sign"></i>
                            <span class="identity-name">HOU Ju</span>
                            <span class="identity-email">@virushuo</span>
                            <div class="pull-right hide avatar-invite">
                              <span>+1</span>
                              <i class="icon-plus-sign"></i>
                              <span class="avatar">
                                <img alt="" src="/img/users/u3x20.png" width="20" height="20" />
                              </span>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div>
                           <span class="identity-name">han</span>
                          </div>
                        </li>
                        <li>
                          <div>
                           <span class="identity-name">Leask Huang</span>
                          </div>
                        </li>
                        <li>
                          <div>
                           <span class="identity-name">SteveE</span>
                          </div>
                        </li>
                      </ul>
                    </div>

                  </div>

                </div>
                <!-- .Cross-Exfee -->

              </div>
            </div>
          </div>
        </div>

      </section>
    </div>

    <!--<footer></footer>-->
  </div>

  <div class="tooltip tip-lock" style="top: 585px; right: 285px">
    <div class="tooltip-inner">
      <div>This <span class="x">·X·</span> is a private.</div>
      <div>Accessible to only attendees.</div>
    </div>
  </div>

  <div class="tooltip tip-exfee" style="top: 785px; right: 285px">
    <div class="tooltip-inner">
      <h5>SteveE</h5>
      <div>
        <i class="icon16-identity-twitter"></i><span class="oblique">steve@0d0f.com</span>
      </div>
    </div>
  </div>

  <div class="exfeepanel" style="right: 900px; top: 500px">
    <div class="inner">
      <div class="avatar-name">
        <span class="pull-left avatar">
          <img src="/img/users/u2x50.png" alt="" width="60" height="60" />
          <span class="rb"><i class="icon-plus-sign"></i></span>
        </span>

        <h4>SteveE LongIDName</h4>

      </div>
      <div class="clearfix rsvp-actions">
        <div class="pull-right invited">
          <div class="mates-num">+1</div>
          <div class="pull-left together-with hide">Together with&nbsp;</div>
          <div class="pull-left mates-info hide">
            <i class="icon-plus-blue"></i>
          </div>
          <div class="pull-left mates-edit hide">
            <i class="pull-left icon14-mates-minus"></i>
            <span class="pull-left num">2</span>
            <i class="pull-left icon14-mates-add"></i>
          </div>
        </div>
        <div class="rsvp-info">
          <div class="rsvp-content">
            <div class="attendance">Accepted</div>
            <div class="by">by <span>dm.</span></div>
          </div>
          <div class="pull-right pointer underline setto">
            <span>set to</span> <i class="icon-rsvp-declined-red"></i>
          </div>
        </div>
      </div>

      <div class="identities">
        <ul class="identities-list">
          <li>
            <i class="pull-left icon-envelope"></i>
            <span class="identity">steve_longaddress@0d0f.com</span>
            <div class="identity-btn">
                <i class="icon-minus-sign"></i>
            </div>
          </li>

          <li>
            <i class="pull-left icon-envelope"></i>
            <span class="identity">steve@0d0f.com</span>
            <div class="identity-btn">
              <i class="icon-minus-sign"></i>
            </div>
          </li>
        </ul>
      </div>

      <div clas="comms">
        <ul class="comms-list">
          <li>
            <i class="icon-gift"></i>
          </li>
          <li>
            <i class="icon-tint"></i>
          </li>
          <li>
            <i class="icon-check"></i>
          </li>
          <li>
            <i class="icon-share"></i>
          </li>
          <li class="add-more">
            <a href="#">Add more</a>
          </li>
        </ul>

        <div class="pull-right arrows">
          <i class="pull-left left-arrow"></i>
          <i class="right-arrow"></i>
        </div>
      </div>

      <div class="whosexfee">@stevexfee</div>

      <i class="expand"></i>

    </div>
  </div>


  <div class="exfeepanel" style="right: 600px; top: 500px">
    <div class="inner">
      <div class="avatar-name">
        <span class="pull-left avatar">
          <img src="/img/users/u2x50.png" alt="" width="60" height="60" />
          <span class="rb"><i class="icon-plus-sign"></i></span>
        </span>

        <h4>SteveE LongIDName</h4>

      </div>
      <div class="rsvp-actions">
        <div class="pull-right invited">
          <!--<span>+1</span>-->
          <!--<i class="icon-plus-blue"></i>-->
        </div>
        <div class="rsvp-info">
          <div>Accepted</div>
          <div class="by">by <span>dm.</span></div>
        </div>
        <!--<button class="btn rsvp-btn">Accepted</button>-->
      </div>

      <div class="identities">
        <ul class="identities-list">
          <li>
            <i class="pull-left icon16-identity-email"></i>
            <span class="identity">steve_longaddress@0d0f.com</span>
            <div class="identity-btn">
                <i class="icon-minus-sign"></i>
                <button class="btn-leave">Leave</button>
            </div>
          </li>
        </ul>

        <div class="identity-actions">
          <p>

            <span class="xalert-fail">Remove yourself?</span>
            <br />
            You will <strong>NOT</strong> be able to access any information in this <span class="x-sign">X</span>. Confirm leaving?
            <button class="pull-right btn-cancel">Cancel</button>
          </p>
        </div>

      </div>

      <i class="expand nomore"></i>

    </div>
  </div>

  <div class="placepanel">
    <div class="textfield">
      <i class="icon24-place"></i>
      <textarea>
        Crab House @Pier 39 San Francisco
        Pier 39, 203 C
        http://crabhouse39.com/
        (555) 434-2722
      </textarea>
    </div>

    <!--<div class="map"></div>-->
  </div>

  <div></div>

  <p><i class="icon-x-sign"></i> Built with <a href="#">Xstrap</a></p>

  <!-- JavaScript at the bottom for fast page loading -->
  <script src="../jslib/common/lib/common.js"></script>
  <script src="../jslib/modernizr/lib/modernizr.js"></script>
  <script src="../jslib/jquery/lib/jquery.js"></script>
  <!--<script src="../jslib/cross/lib/cross.js"></script>-->

</body>
</html>
