<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Home</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
  <link rel="stylesheet/less" href="../less/exfe/lib/exfe_dev.less" />

  <!-- Include less.js -->
  <script src="../jslib/less/lib/less.js"></script>
</head>
<body>
  <!-- NavBar -->
  <div class="navbar">

    <!-- navbar-bg -->
    <div class="navbar-bg"></div>
    <!-- /navbar-bg -->

    <!-- navbar-inner -->
    <div class="navbar-inner">
      <div class="container">

        <!--  EXFE LOGO -->
        <a href="/" class="brand"><img src="/img/exfe-logo.png" width="140" height="50" alt="EXFE" /></a>

        <a href="#" class="version">SANDBOX</a>

        <div class="nav-collapse">
          <ul class="nav pull-right">
            <li class="dropdown user">
              <div class="pull-left fill-left"></div>
              <div class="pull-right dropdown-wrapper">
              <a class="dropdown-toggle user-name" data-toggle="dropdown" href="#"><span>Steve Exfee</span></a>
              <div class="dropdown-menu user-panel">
                <div class="header">
                  <h2>Browsing Identity</h2>
                  <div class="meta">
                    <a class="pull-right avatar">
                      <img src="/img/users/u1x40.png" width="40" height="40" alt="" />
                    </a>
                    <a class="attended">
                      <span class="attended-nums">3</span>
                      <span class="attended-x"><em class="x-sign">X</em> attended</span>
                    </a>
                  </div>
                </div>
                <div class="body">

                  <div>Upcoming:</div>
                  <ul class="crosses">
                    <li class="tag">
                      <i class="icon10-now"></i>
                      <a href="#">Dinner in San Francisco XXXXXX</a>
                    </li>
                    <li class="tag">
                      <i class="icon10-24hr"></i>
                      <a href="#">Dinner in San Francisco XXXXXX</a>
                    </li>
                    <li>
                      <a href="#">Dinner in San Francisco XXXXXX</a>
                    </li>
                  </ul>

                  <div>You are browsing this page as Email identity:</div>

                  <div class="identity">
                    <span class="pull-right avatar">
                      <img src="/img/users/u1x20.png" width="20" height="20" alt="" />
                    </span>
                    <i class="icon-envelope"></i>
                    <span>steve@0d0f.com</span>
                  </div>

                  <div class="set-up">
                    <a href="#">Set Up</a> as your independent new <span class="x-sign">EXFE</span> identity.
                  </div>

                  <div class="spliterline"></div>

                  <div class="merge">
                    <a href="#">Merge</a> with your currently signed in identities:
                  </div>

                  <div class="identity">
                    <span class="pull-right avatar">
                      <img src="/img/users/u1x20.png" width="20" height="20" alt="" />
                    </span>
                    <i class="icon-envelope"></i>
                    <span>steve@0d0f.com</span>
                  </div>

                  <div class="identity">
                    <span class="pull-right avatar">
                      <img src="/img/users/u1x20.png" width="20" height="20" alt="" />
                    </span>
                    <i class="icon-envelope"></i>
                    <span>steve@0d0f.com</span>
                  </div>

                </div>
                <div class="footer">
                  <button class="xbtn xbtn-signin">Sign In</button>
                  <div class="newbie ngb-0">Gather a <span class="x-sign">X</span> here</div>
                  <button class="xbtn xbtn-gather">Gather</button>
                  <div class="spliterline"></div>
                  <div class="actions">
                    <a class="pull-right" href="#">Sign out</a>
                    <a href="#">Settings</a>
                  </div>
                </div>
              </div>
            </div>
            </li>
            <li>
              <a class="sign-in" href="#">Sign In</a>
            </li>
            <!--
            <li>
              <a href="#">Search</a>
            </li>
            -->
          </ul>
        </div>

      </div>
    </div>
    <!-- /navbar-inner -->

  </div>
  <!-- /NavBar -->

  <!-- container -->
  <div class="container">

    <div role="main">
      <section id="home" class="x-home">

        <div class="page-header">

          <div class="title" id="js-exfe">
            <h1>EXFE <small>[’ɛksfi]</small></h1>
            <p>A Utility for hanging out, with friends.</p>
          </div>

          <div class="title hide" id="js-x">
            <h1>X <small>[krɔs]</small></h1>
            <p>A gathering of people, any intent.</p>
          </div>

          <div class="title hide" id="js-private">
            <p>Private, <br />attendee access only.</p>
          </div>

          <div class="title hide" id="js-connected">
            <p>Connected, <br />with tools & apps you preferred.</p>
          </div>

        </div>

        <div class="page-main">
          <img class="exfe-toy" id="js-exfe-toy" src="../img/exfe-toy.png" alt="" />

          <div class="circle" style="left: 200px; top: 25px;">X</div>
          <div class="circle" style="right: 200px; top: 10px;">RSVP</div>
          <div class="circle" style="left: 160px; bottom: 25px;">Safe</div>
          <div class="circle" style="right: 160px; bottom: 10px;">Handy</div>

        </div>

        <div class="page-footer">
          <a class="xbtn-gatherax" href="/#gather">Gather a X</a>
        </div>

      </section>
    </div>

  </div>

  <!-- JavaScript at the bottom for fast page loading -->
  <script src="../jslib/common/lib/common.js"></script>
  <script src="../jslib/modernizr/lib/modernizr.js"></script>
  <script src="../jslib/jquery/lib/jquery.js"></script>

</body>
</html>
